Income Estimation Alpha Model - We will add the Beta2_Step2 Data with the CIC features

# <div align="center" style="color: #ff5733;">Income Estimation Regression Model (Catboost) Alpha</div>

# Delare libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import StackingRegressor, RandomForestRegressor
from sklearn.metrics import (
    mean_absolute_error, 
    mean_squared_error, 
    r2_score, 
    mean_absolute_percentage_error
)
from catboost import CatBoostRegressor, Pool
import catboost as cb
from xgboost import XGBRegressor
from scipy.stats import uniform, randint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
import shap
from statsmodels.stats.outliers_influence import variance_inflation_factor
from typing import Union, List
from scipy.stats import mstats
from sklearn.preprocessing import LabelEncoder, FunctionTransformer
from sklearn.impute import SimpleImputer
import time

import pickle
from datetime import datetime
import re
from gensim.models import Word2Vec
from sklearn.cluster import KMeans
from fuzzywuzzy import fuzz
import joblib
from google.cloud import storage
from google.cloud import bigquery
# Connection to Bigquery
client = bigquery.Client(project='prj-prod-dataplatform')

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

# Settings in this Notebook
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", None)

# Constants

In [2]:
# Constants

BUCKET_NAME = "prod-asia-southeast1-tonik-aiml-workspace"
CLOUDPATH = "Monthly_Income_Estimation/Income_Estimation_Alpha/Data"
# CLOUDPATH_TARGET = "Monthly_Income_Estimation/Target_Encoded_Artifacts"
# DATATYPE = "Step"
LOCALPATH = "/home/jupyter/Models/Income_Estimation_Alpha/"
# LOCALPATHSRC = "/home/jupyter/Models/Beta2_Step2/src/"
# LOCALPATHARTIFACTS = "/home/jupyter/Models/Beta2_Step2/Artifacts/"
MODELNAME = "Alpha"
VERSIONNAME = "1_0"
PRODUCT_TYPE = 'SIL_Quick'
CURRENT_DATE = datetime.now().strftime("%Y%m%d")

# FUNCTIONS

## save_df_to_gcs

In [3]:
def save_df_to_gcs(df, bucket_name, destination_blob_name, file_format='csv'):
    """Saves a pandas DataFrame to Google Cloud Storage.

    Args:
        df: The pandas DataFrame to save.
        bucket_name: The name of the GCS bucket.
        destination_blob_name: The name of the blob to be created.
        file_format: The file format to save the DataFrame in ('csv' or 'parquet').
    """

    # Create a temporary file
    if file_format == 'csv':
        temp_file = 'temp.csv'
        df.to_csv(temp_file, index=False)
    elif file_format == 'parquet':
        temp_file = 'temp.parquet'
        df.to_parquet(temp_file, index=False)
    else:
        raise ValueError("Invalid file format. Please choose 'csv' or 'parquet'.")

    # Upload the file to GCS
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)

    blob.upload_from_filename(temp_file)

    # Remove the temporary file
    import os
    os.remove(temp_file)

# Data Preparation

## Beta2 Query

In [4]:
sq = """
with 
educate as 
(select distinct edu.digitalLoanAccountId, edu.education_id, edu1.description
from `prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_purpose` edu
inner join (select id, description from dl_loans_db_raw.tdbk_loan_lov_mtb where module = 'Education') edu1 on edu.education_id = edu1.id
),
educate2 as 
(select *, row_number() over(partition by digitalLoanAccountId order by education_id desc) rnk from educate),
educate3 as 
(select * from educate2 where rnk = 1),
base as 
(select 
b.customerId, b.onb_email, b.onb_email_verified_flag,
       b.onb_place_of_birth, b.age, b.onb_latitude, b.onb_longitude,
       b.onb_cnt_ongoing_loans, b.onb_tot_ongoing_loans_emi,
       b.digitalLoanAccountId, b.loanAccountNumber, b.onboarding_datetime,
       b.onb_mobile_no, b.loan_mobile_no, b.loan_alternate_mobile_no,
       b.loan_purpose, b.loan_disbursementDateTime, b.loan_source_funds,
       b.loan_source_funds_new, b.loan_employment_type,
       b.loan_employment_type_new, b.loan_nature_of_work,
       b.loan_nature_of_work_new, b.loan_industry_description,
       b.loan_industry_description_new, b.loan_companyName,
       b.loan_marital_status, b.loan_dependents_count,
       b.loan_education_level, b.loan_ref_type1, b.loan_ref_type2,
       b.loan_addressline, b.loan_province, b.loan_city, b.loan_barangay,
       b.loan_postalcode, b.loan_geolocation, b.loan_docType,
       b.loan_docNumber, b.loan_type, b.loan_product_type,
       b.loan_osversion_v2, b.loan_brand, b.loan_self_dec_income,
       b.loan_salary_scaled_income, b.loan_vas_opted_flag
,
CAST(
            CASE 
                WHEN LOWER(b.loan_osversion_v2) LIKE 'android%' THEN 
                    -- Extract just the first number for android
                    CAST(SPLIT(REGEXP_EXTRACT(LOWER(b.loan_osversion_v2), r'android(.+)'), '.')[OFFSET(0)] AS FLOAT64)
                WHEN LOWER(b.loan_osversion_v2) LIKE 'ios%' THEN
                    -- Extract just the first number for ios
                    CAST(SPLIT(REGEXP_EXTRACT(LOWER(b.loan_osversion_v2), r'ios(.+)'), '.')[OFFSET(0)] AS FLOAT64)
                ELSE 
                    CAST(SPLIT(b.loan_osversion_v2, '.')[OFFSET(0)] AS FLOAT64)
            END AS FLOAT64
        ) as clean_version,
  CASE 
    WHEN DATE_TRUNC(lmt.decision_date, DAY) BETWEEN '2023-07-01' AND '2024-07-31' THEN 'Train'
    WHEN DATE_TRUNC(lmt.decision_date, DAY) BETWEEN '2024-08-01' AND '2024-08-31' THEN 'Test'
    WHEN DATE_TRUNC(lmt.decision_date, DAY) BETWEEN '2024-09-01' AND '2024-09-30' THEN 'OOT_SEP_24'
    WHEN DATE_TRUNC(lmt.decision_date, DAY) BETWEEN '2024-10-01' AND '2024-10-31' THEN 'OOT_OCT_24'
    WHEN DATE_TRUNC(lmt.decision_date, DAY) BETWEEN '2024-11-01' AND '2024-11-30' THEN 'OOT_NOV_24'
    WHEN DATE_TRUNC(lmt.decision_date, DAY) BETWEEN '2024-12-01' AND '2024-12-31' THEN 'OOT_DEC_24'
END AS Dataselection,
lmt.disbursementDateTime,
lmt.new_loan_type,
lmt.Gender,
from worktable_data_analysis.beta2_loan_details_jan2023_dec2024 b
inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountid = b.digitalLoanAccountId
left join educate3 on educate3.digitalLoanAccountId = b.digitalLoanAccountId
where b.digitalLoanAccountId is not null
and coalesce(lmt.Max_Ever_DPD, 0) < 10
AND (upper(lmt.new_loan_type) like '%SIL%' or upper(lmt.new_loan_type) like '%QUICK%')
AND DATE_TRUNC(lmt.termsAndConditionsSubmitDateTime, DAY) >= '2023-07-01'
AND DATE(lmt.thirdDueDate) <= CURRENT_DATE()
AND lmt.flagDisbursement = 1
-- AND b.user_type in ('2_New Applicant', '1_Repeat Applicant')
)
select 
base.customerId cust_id,
base.digitalLoanAccountId,
base.loanAccountNumber,
base.onboarding_datetime,
base.age,
base.Gender,
base.onb_email email,
base.onb_mobile_no onb_mobile_no,
base.loan_mobile_no,
Case when coalesce(base.onb_mobile_no, '0') = coalesce(base.loan_mobile_no, '0') then 0 else 1 end onb_mobile_Not_match_loan_mobile,
case when loan_alternate_mobile_no is null then 1 else 0 end flag_alternate_mobile_provided,
base.loan_purpose,
base.loan_source_funds_new source_funds,
base.loan_employment_type_new employment_type,
base.loan_nature_of_work_new nature_of_work,
base.loan_industry_description_new industry_description,
base.loan_companyName loan_company_name,
base.loan_marital_status maritalStatus,
base.loan_dependents_count dependentsCount,
base.loan_education_level,
base.loan_ref_type1,
base.loan_ref_type2,
base.loan_province, 
base.loan_city,
base.loan_barangay,
base.loan_postalcode,
base.loan_geolocation,
base.loan_product_type,
base.loan_osversion_v2 osversion_v2,
base.clean_version,
base.loan_brand,
base.loan_self_dec_income monthlyIncome,
case when cast(base.loan_self_dec_income as numeric) > 300000 then 300000 else cast(base.loan_self_dec_income as numeric) end as loan_monthly_income,
base.loan_vas_opted_flag,
base.Dataselection,
base.onb_place_of_birth place_of_birth,
base.onb_latitude,
base.onb_longitude,
base.loan_type,
base.loan_docType,
base.loan_docNumber,
date_diff(disbursementDateTime, onboarding_datetime, day) daystoapply,
from base 
;
"""
data = client.query(sq).to_dataframe(progress_bar_type = 'tqdm')
print(f"The shape of the {MODELNAME}_{VERSIONNAME}_{PRODUCT_TYPE} data is:\t{data.shape}")

Job ID 65d3a1d2-fe8a-4411-9ba3-51167703790d successfully executed: 100%|██████████|
Downloading: 100%|██████████|
The shape of the Alpha_1_0_SIL_Quick data is:	(102969, 42)

In [5]:
data.columns.values

array(['cust_id', 'digitalLoanAccountId', 'loanAccountNumber',
       'onboarding_datetime', 'age', 'Gender', 'email', 'onb_mobile_no',
       'loan_mobile_no', 'onb_mobile_Not_match_loan_mobile',
       'flag_alternate_mobile_provided', 'loan_purpose', 'source_funds',
       'employment_type', 'nature_of_work', 'industry_description',
       'loan_company_name', 'maritalStatus', 'dependentsCount',
       'loan_education_level', 'loan_ref_type1', 'loan_ref_type2',
       'loan_province', 'loan_city', 'loan_barangay', 'loan_postalcode',
       'loan_geolocation', 'loan_product_type', 'osversion_v2',
       'clean_version', 'loan_brand', 'monthlyIncome',
       'loan_monthly_income', 'loan_vas_opted_flag', 'Dataselection',
       'place_of_birth', 'onb_latitude', 'onb_longitude', 'loan_type',
       'loan_docType', 'loan_docNumber', 'daystoapply'], dtype=object)

## SAVE THE BETA2 DATA TO LOCAL PATH

In [6]:
data.to_csv(f"{LOCALPATH}Beta2_data.csv", index = False)

## SAVE THE BETA2 DATA TO CLOUD PATH

In [7]:
filename = 'Beta2data'
bucket_name = BUCKET_NAME
new_filename = f"{CURRENT_DATE}_{MODELNAME}_{PRODUCT_TYPE}{VERSIONNAME}_{filename}.csv"
print(new_filename)
destination_blob_name = f"{CLOUDPATH}/{new_filename}"
save_df_to_gcs(data, bucket_name, destination_blob_name)

20250204_Alpha_SIL_Quick1_0_Beta2data.csv

## CIC Data Preparation

### PART 1 - Granted and Non Granted Data

In [8]:
# sq = """
# WITH
#   CICAddress as
#   (SELECT
#         digitalLoanAccountId ,
#         coalesce(case when Type = 'MI' then city end, case when Type = 'AI' then city end) city ,
#         coalesce(case when Type = 'MI' then Province end, case when Type = 'AI' then Province end) Province ,
#         Type
#         , row_number() over(Partition by digitalLoanAccountId order by digitalLoanAccountId, LastUpdateDate desc) rnk
#         FROM `prj-prod-dataplatform.risk_credit_cic_data.subject_addresshistory`
#   ),
#   CICBaseTable AS ----To create combine CIC raw data combining Granted and Non Granted table
#   ( -- Query FOR dfgranted
#   SELECT
#     digitalLoanAccountId,
#     crifApplicationId,
#     customerId,
#     processEngineGuid,
#     requestGuid,
#     ContractHistoryType,
#     CBContractCode,
#     ContractEndDate,
#     ContractPhase,
#     ContractPhaseDesc,
#     ContractStartDate,
#     ContractStatus,
#     ContractStatusDesc,
#     ContractType,
#     ContractTypeDesc,
#     Currency,
#     CurrencyDesc,
#     LastUpdateDate,
#     OriginalCurrency,
#     OriginalCurrencyDesc,
#     ProviderCodeEncrypted,
#     ProviderContractNo,
#     ReferenceNo,
#     Role,
#     RoleDesc,
#     BilledAmount,
#     BoardResolutionFlag,
#     BoardResolutionFlagDesc,
#     CancellationDate,
#     CardReferenceCode,
#     ChargedAmount,
#     CreditLimit,
#     CreditPurpose,
#     CreditPurposeDesc,
#     FinancedAmount,
#     FirstPaymentDate,
#     FlagCardUsed,
#     HolderLiability,
#     HolderLiabilityDesc,
#     InstallmentType,
#     InstallmentTypeDesc,
#     InstallmentsNumber,
#     LastChargeDate,
#     LastPaymentAmount,
#     LastPaymentDate,
#     MinPaymentIndicator,
#     MinPaymentIndicatorDesc,
#     MinPaymentPercentage,
#     MonthlyPaymentAmount,
#     NextPayment,
#     NextPaymentDate,
#     OutstandingBalance,
#     OutstandingBalanceUnbilled,
#     OutstandingPaymentsNumber,
#     OverallCreditLimit,
#     OverdueDays,
#     OverdueDaysDesc,
#     OverduePaymentsAmount,
#     OverduePaymentsNumber,
#     PaymentMethod,
#     PaymentMethodDesc,
#     PaymentPeriodicity,
#     PaymentPeriodicityDesc,
#     PremiumCard,
#     PremiumCardDesc,
#     ReorganizedCreditCode,
#     ReorganizedCreditCodeDesc,
#     ServicesLinesNo,
#     TimesCardUsed,
#     TransactionType,
#     TransactionTypeDesc,
#     Utilization,
#     LinkedSubject_CBSubjectCode,
#     LinkedSubject_Name,
#     LinkedSubject_Role,
#     LinkedSubject_RoleDesc,
#     Note_TypeDesc,
#     Note_Text,
#     Note_Type,
#     run_date,
#     NULL AS ContractRequestDate,
#     'granted' AS SOURCE
#   FROM
#     prj-prod-dataplatform.risk_credit_cic_data.granted_contracts
#   UNION ALL
#     -- Query FOR dfnongranted
#   SELECT
#     digitalLoanAccountId,
#     crifApplicationId,
#     customerId,
#     processEngineGuid,
#     requestGuid,
#     NULL AS ContractHistoryType,
#     CBContractCode,
#     NULL AS ContractEndDate,
#     ContractPhase,
#     ContractPhaseDesc,
#     NULL AS ContractStartDate,
#     NULL AS ContractStatus,
#     NULL AS ContractStatusDesc,
#     ContractType,
#     ContractTypeDesc,
#     NULL AS Currency,
#     NULL AS CurrencyDesc,
#     LastUpdateDate,
#     NULL AS OriginalCurrency,
#     NULL AS OriginalCurrencyDesc,
#     ProviderCodeEncrypted,
#     ProviderContractNo,
#     ReferenceNo,
#     Role,
#     RoleDesc,
#     NULL AS BilledAmount,
#     NULL AS BoardResolutionFlag,
#     NULL AS BoardResolutionFlagDesc,
#     NULL AS CancellationDate,
#     NULL AS CardReferenceCode,
#     NULL AS ChargedAmount,
#     CreditLimit,
#     NULL AS CreditPurpose,
#     NULL AS CreditPurposeDesc,
#     FinancedAmount,
#     NULL AS FirstPaymentDate,
#     NULL AS FlagCardUsed,
#     NULL AS HolderLiability,
#     NULL AS HolderLiabilityDesc,
#     NULL AS InstallmentType,
#     NULL AS InstallmentTypeDesc,
#     InstallmentsNumber,
#     NULL AS LastChargeDate,
#     NULL AS LastPaymentAmount,
#     NULL AS LastPaymentDate,
#     NULL AS MinPaymentIndicator,
#     NULL AS MinPaymentIndicatorDesc,
#     NULL AS MinPaymentPercentage,
#     MonthlyPaymentAmount,
#     NULL AS NextPayment,
#     NULL AS NextPaymentDate,
#     NULL AS OutstandingBalance,
#     NULL AS OutstandingBalanceUnbilled,
#     NULL AS OutstandingPaymentsNumber,
#     NULL AS OverallCreditLimit,
#     NULL AS OverdueDays,
#     NULL AS OverdueDaysDesc,
#     NULL AS OverduePaymentsAmount,
#     NULL AS OverduePaymentsNumber,
#     NULL AS PaymentMethod,
#     NULL AS PaymentMethodDesc,
#     PaymentPeriodicity,
#     PaymentPeriodicityDesc,
#     NULL AS PremiumCard,
#     NULL AS PremiumCardDesc,
#     NULL AS ReorganizedCreditCode,
#     NULL AS ReorganizedCreditCodeDesc,
#     NULL AS ServicesLinesNo,
#     NULL AS TimesCardUsed,
#     NULL AS TransactionType,
#     NULL AS TransactionTypeDesc,
#     NULL AS Utilization,
#     LinkedSubject_CBSubjectCode,
#     LinkedSubject_Name,
#     LinkedSubject_Role,
#     LinkedSubject_RoleDesc,
#     Note_TypeDesc,
#     Note_Text,
#     Note_Type,
#     run_date,
#     ContractRequestDate,
#     'nongranted' AS SOURCE
#   FROM
#     prj-prod-dataplatform.risk_credit_cic_data.notgranted_contracts )
#     -- select * from CICBaseTable where digitalLoanAccountId = 'c7948327-e6a6-46ee-96fc-66c1b3b56f93'
# -- SELECT  ContractHistoryType, RoleDesc, count(digitalLoanAccountId) cnt FROM  CICBaseTable where COALESCE(ContractHistoryType, 'NA') in ('Installments', 'CreditCards', 'NA') group by 1,2 order by 3 desc;
# ,
# employementdata as ---- data from employment table for employment related information
# (SELECT distinct
#   digitalLoanAccountId,
#   crifApplicationId,
#   customerId,
#   AnnualMonthlyIndicator,
#   Currency,
#   DateHiredFrom,
#   DateHiredTo,
#   case when DateHiredFrom is null then null
#        when DateHiredFrom is not null and  DateHiredTo is not null then date_diff(date(DateHiredTo), date(DateHiredFrom), month)
#        when DateHiredFrom is not null and DateHiredTo is null then date_diff(date((select min(run_date) from CICBaseTable where CICBaseTable.digitalLoanAccountId = digitalLoanAccountId)), date(DateHiredFrom), month)
#        else null end Employment_duration,
#   GrossIncome,
#   CAST(
#     CASE
#       WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'M' THEN CAST(COALESCE(GrossIncome, '0') AS NUMERIC)
#       WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'Y' THEN ROUND(CAST(COALESCE(GrossIncome, '0') AS NUMERIC)/12, 0)
#       ELSE 0
#     END AS INT64
#   ) AS MonthlyIncomecalculated,
#   CAST(
#     CASE
#       WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'M' THEN ROUND(CAST(COALESCE(GrossIncome, '0') AS NUMERIC)*12, 0)
#       WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'Y' THEN CAST(COALESCE(GrossIncome, '0') AS NUMERIC)
#       ELSE 0
#     END AS INT64
#   ) AS AnnualIncomecalculated,
#   Occupation,
#   OccupationDesc,
#   OccupationStatus,
#   OccupationStatusDesc,
#   TIN,
#   PhoneNumber,
#   PSIC,
#   REGEXP_REPLACE(PSICDesc, r'^\d+\s*-\s*', '') AS PSICDesc ,
#   TradeName,
#   Case when digitalLoanAccountId in (select digitalLoanAccountId from CICBaseTable where CICBaseTable.digitalLoanAccountid = digitalLoanAccountId and ContractHistoryType like 'Installments') then 1 else 0 end installmentLoanFlag,
#   Case when digitalLoanAccountId in (select digitalLoanAccountId from CICBaseTable where CICBaseTable.digitalLoanAccountid = digitalLoanAccountId and ContractHistoryType like '%CreditCards%' ) then 1 else 0 end creditLoanFlag,
#   row_number() over (partition by digitalLoanAccountId order by digitalLoanAccountId ) as rnk
# FROM prj-prod-dataplatform.risk_credit_cic_data.employment_data)
# ,
# CICBase2Table as
# (SELECT digitalLoanAccountId, crifApplicationId, customerId,
#        processEngineGuid, requestGuid, ContractHistoryType,
#        CBContractCode, ContractEndDate, ContractPhase,
#        ContractPhaseDesc, ContractStartDate, ContractStatus,
#        ContractStatusDesc, ContractType, ContractTypeDesc,
#        Currency, CurrencyDesc, LastUpdateDate, OriginalCurrency,
#        OriginalCurrencyDesc, ProviderCodeEncrypted,
#        ProviderContractNo, ReferenceNo, Role, RoleDesc,
#        BilledAmount, BoardResolutionFlag, BoardResolutionFlagDesc,
#        CancellationDate, CardReferenceCode, ChargedAmount,
#        CreditLimit, CreditPurpose, CreditPurposeDesc,
#        FinancedAmount, FirstPaymentDate, FlagCardUsed,
#        HolderLiability, HolderLiabilityDesc, InstallmentType,
#        InstallmentTypeDesc, InstallmentsNumber, LastChargeDate,
#        LastPaymentAmount, LastPaymentDate, MinPaymentIndicator,
#        MinPaymentIndicatorDesc, MinPaymentPercentage,
#        MonthlyPaymentAmount, NextPayment, NextPaymentDate,
#        OutstandingBalance, OutstandingBalanceUnbilled,
#        OutstandingPaymentsNumber, OverallCreditLimit, OverdueDays,
#        OverdueDaysDesc, OverduePaymentsAmount,
#        OverduePaymentsNumber, PaymentMethod, PaymentMethodDesc,
#        PaymentPeriodicity, PaymentPeriodicityDesc, PremiumCard,
#        PremiumCardDesc, ReorganizedCreditCode,
#        ReorganizedCreditCodeDesc, ServicesLinesNo, TimesCardUsed,
#        TransactionType, TransactionTypeDesc, Utilization,
#        LinkedSubject_CBSubjectCode, LinkedSubject_Name,
#        LinkedSubject_Role, LinkedSubject_RoleDesc, Note_TypeDesc,
#        Note_Text, Note_Type, run_date, ContractRequestDate,  SOURCE
# ,
#   CASE
#     WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc = '' THEN 'Neutral'
#     WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc is null THEN 'Neutral'
#     WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc = 'Pre-Activated' THEN 'Good'
#     WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc = 'Foreclosure' THEN 'Good'
#     WHEN ContractPhaseDesc = 'Closed' AND ContractStatusDesc = '' THEN 'Good'
#     WHEN ContractPhaseDesc = 'Closed' AND ContractStatusDesc is null THEN 'Good'
#     WHEN ContractPhaseDesc = 'Closed in advance' AND ContractStatusDesc = '' THEN 'Good'
#     WHEN ContractPhaseDesc = 'Closed in advance' AND ContractStatusDesc is null THEN 'Good'
#     WHEN ContractPhaseDesc = 'Closed in advance' AND ContractStatusDesc = 'Foreclosure' THEN 'Good'
#     WHEN ContractStatusDesc IN ('Debt Assumption', 'Repossessed') THEN 'Neutral'
#     WHEN ContractStatusDesc IN (
#       'Write-off (BLW)', 'Past Due', 'Blocked by the Bank due to Credit Reasons',
#       'Under dispute / non performing', 'Under litigation / Delinquent',
#       'Blocked or Closed voluntary by the Customer', 'Blocked or Closed due to Restructuring',
#       'There are unpaid amounts, Negotiated Settlement', 'Previous delinquency settled',
#       'Write-off and Credit transferred to third party / Collection',
#       'Write-off and Fully Settled', 'Blocked by the Bank due to card lost/stolen',
#       'Blocked by the Bank due to fraud', 'Dispute / Litigation contested'
#     ) THEN 'Bad'
#     ELSE 'Unknown'
#   END AS Repaymentcategory,
# CASE
#     WHEN ContractTypeDesc IN ('Salary loan', 'Personal Loan', 'Unsecured loan', 'Vehicle Loan', 'Mortgage/Real Estate', 'Time Loan', 'Short Term Loan', 'Benefit Loan', 'Home equity loan', 'Agricultural Loan', 'Student Loan', 'Vehicle leasing', 'Credit Card', 'Credit Card - Shared Limit', 'Credit Card - MultiCurrency', 'Revolving Credit', 'Trust Loan', 'Credit Line')
#       OR (ContractTypeDesc = 'Term Loan' AND CreditPurposeDesc NOT LIKE 'Small and Medium Enterprise Loans%')
#       OR (ContractTypeDesc = 'Loan Line' AND CreditPurposeDesc NOT LIKE 'Small and Medium Enterprise Loans%')
#       OR (CreditPurposeDesc LIKE 'Loans to Individual%' AND ContractTypeDesc != 'Business Loan')
#       OR (CreditPurposeDesc LIKE 'Microfinance Loans' AND ContractTypeDesc != 'Business Loan')
#       OR (CreditPurposeDesc LIKE 'Other Agricultural Credit' AND ContractTypeDesc != 'Business Loan')
#       OR (ContractHistoryType LIKE 'Installments' AND ContractTypeDesc = 'Term Loan' and CreditPurposeDesc is null)
#       OR (ContractHistoryType is null AND ContractTypeDesc = 'Term Loan' and CreditPurposeDesc is null)
#       OR CreditPurposeDesc IN ('Agrarian Reform', 'Development Loan Incentives - Socialized Low Cost Housing (Loans to individuals for housing purposes )')
#       OR ContractHistoryType = 'CreditCards'
#     THEN 'B2C'

#     WHEN ContractTypeDesc IN ('Business Loan', 'Real estate leasing', 'Equipment leasing')
#       OR CreditPurposeDesc IN ('Development Loan Incentives - Cooperatives', 'Development Loan Incentives - Educational Inst.', 'Loan to Government - GOCCs (Other Financial)', 'Loan to Government - GOCCs (Social Security Institutions)', 'Loan to Government - LGUs', 'Loan to Government - National Government', 'Loans to Private Corporation (Financial)', 'Loans to Private Corporation (Non-Financial)', 'Small and Medium Enterprise Loans (Medium Scale Enterprise)', 'Small and Medium Enterprise Loans (Small Scale Enterprise)')
#       OR (ContractTypeDesc = 'Vehicle Loan' AND CreditPurposeDesc NOT LIKE 'Loans to Individual%')
#       OR (ContractTypeDesc = 'Loan Line' AND CreditPurposeDesc LIKE 'Small and Medium Enterprise Loans%')
#       OR (ContractTypeDesc = 'Term Loan' AND CreditPurposeDesc LIKE 'Small and Medium Enterprise Loans%')
#     THEN 'B2B'

#     ELSE 'Unknown'
#   END AS BusinessType,
#  CASE
#     WHEN ContractTypeDesc = 'Time Loan' THEN 'Time Loans'
#     WHEN ContractTypeDesc IN ('Short Term Loan', 'Term Loan') THEN 'Short and Term Loans'
#     WHEN ContractTypeDesc = 'Home equity loan' THEN 'Home Equity Loans'
#     WHEN ContractTypeDesc IN ('Credit Card', 'Credit Card - MultiCurrency', 'Credit Card - Shared Limit') THEN 'Credit Cards'
#     WHEN ContractTypeDesc IN ('Loan Line', 'Credit Line') THEN 'Credit Lines'
#     WHEN ContractTypeDesc IN ('Mortgage/Real Estate', 'Real estate leasing') THEN 'Real Estate Loans'
#     WHEN ContractTypeDesc = 'Trust Loan' THEN 'Trust Loans'
#     WHEN ContractTypeDesc = 'Personal Loan' THEN 'Personal Loans'
#     ELSE 'Other Loans'
#   END AS loan_segment
# from CICBaseTable
#   where COALESCE(ContractHistoryType, 'NA') in ('Installments', 'CreditCards', 'NA')
#   and COALESCE(RoleDesc, 'NA') in ('Borrower', 'Co-Borrower', 'NA')
# ),
# CICBase3Table as
# (select distinct * FROM  CICBase2Table where BusinessType in ('B2C', 'Unknown')
# )
# -- select distinct * from CICBase3Table where (digitalLoanAccountid||crifApplicationId||run_date||CBContractCode) = 'c7948327-e6a6-46ee-96fc-66c1b3b56f93taran-2629742-80860572024-07-05302970230';
# ,
# custtname as (SELECT distinct  cast(custId as numeric) custid, firstName, middleName, LastName FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_customer_details`
# ),
# stepAtablebase as
# (
# select
# (a.digitalLoanAccountid||b.crifApplicationId||b.run_date||b.CBContractCode) uniquekey,
# a.digitalLoanAccountId,
# a.customerId, cn.Firstname, cn.middleName, cn.LastName,
# a.loanAccountNumber,
# a.flagDisbursement,
# a.disbursementDateTime,
# a.termsAndConditionsSubmitDateTime,
# a.natureofwork,
# a.subIndustryDescription,
# a.industryDescription,
# a.monthlyIncome,
# a.province,
# a.city,
# case when a.reloan_flag = 1 and a.loantype not like 'FLEXUP'then 'Reloan'
#       when a.loantype = 'FLEXUP' and a.new_loan_type = 'Flex-up' and a.reloan_flag = 0 and a.flagDisbursement = 1 then 'Flex-up'
#               else a.new_loan_type end as LoanProduct, b.crifApplicationId,
#        processEngineGuid, requestGuid, ContractHistoryType,
#        CBContractCode, ContractEndDate, ContractPhase,
#        ContractPhaseDesc, ContractStartDate, ContractStatus,
#        ContractStatusDesc, ContractType, ContractTypeDesc,
#        b.Currency, CurrencyDesc, LastUpdateDate, OriginalCurrency,
#        OriginalCurrencyDesc, ProviderCodeEncrypted,
#        ProviderContractNo, ReferenceNo, Role, RoleDesc,
#        BilledAmount, BoardResolutionFlag, BoardResolutionFlagDesc,
#        CancellationDate, CardReferenceCode, ChargedAmount,
#        CreditLimit, CreditPurpose, CreditPurposeDesc,
#        FinancedAmount, FirstPaymentDate, FlagCardUsed,
#        HolderLiability, HolderLiabilityDesc, InstallmentType,
#        InstallmentTypeDesc, InstallmentsNumber, LastChargeDate,
#        LastPaymentAmount, LastPaymentDate, MinPaymentIndicator,
#        MinPaymentIndicatorDesc, MinPaymentPercentage,
#        MonthlyPaymentAmount, NextPayment, NextPaymentDate,
#        b.OutstandingBalance, OutstandingBalanceUnbilled,
#        OutstandingPaymentsNumber, OverallCreditLimit, OverdueDays,
#        OverdueDaysDesc, OverduePaymentsAmount,
#        OverduePaymentsNumber, PaymentMethod, PaymentMethodDesc,
#        PaymentPeriodicity, PaymentPeriodicityDesc, PremiumCard,
#        PremiumCardDesc, ReorganizedCreditCode,
#        ReorganizedCreditCodeDesc, ServicesLinesNo, TimesCardUsed,
#        TransactionType, TransactionTypeDesc, Utilization,
#        LinkedSubject_CBSubjectCode, LinkedSubject_Name,
#        LinkedSubject_Role, LinkedSubject_RoleDesc, Note_TypeDesc,
#        Note_Text, Note_Type, run_date, ContractRequestDate,  SOURCE, Repaymentcategory, BusinessType, loan_segment
#        , ed.AnnualMonthlyIndicator, ed.Currency, ed.DateHiredFrom, ed.DateHiredTo, ed.GrossIncome, ed.MonthlyIncomecalculated MonthlyIncome_CIC, ed.AnnualIncomecalculated AnnualIncome_CIC, ed.OccupationDesc, ed.OccupationStatusDesc, ed.PSIC, ed.PSICDesc,
#        ed.TradeName,
#        ed.installmentLoanFlag,
#        ed.creditLoanFlag,
#        ad.city CIC_city,
#        ad.province CIC_Province,
#        ad.Type CIC_address_type
# FROM `risk_credit_mis.loan_master_table` a
# inner join CICBase3Table b
# ON a.digitalLoanAccountId = b.digitalLoanAccountId
#     AND a.crifApplicationId = b.crifApplicationId
# left join (select * from employementdata where rnk = 1) ed on ed.digitalLoanAccountId = a.digitalLoanAccountId
# Left join custtname cn on cn.custid = a.customerId
# Left join (select * from CICAddress where rnk = 1) ad on ad.digitalLoanAccountId = a.digitalLoanAccountId
# where a.disbursementDateTime is not null
# and date_trunc(a.disbursementDateTime, day) >= '2023-01-10'
# and date_trunc(a.disbursementDateTime, day) < current_date()
# ),
# stepAtable2base as
# (select *, row_number() over(partition by uniquekey order by uniquekey) rnk from stepAtablebase)
# ,
# -- select * from stepAtable2base where rnk > 1;
# -- select * from stepAtablebase where  (digitalLoanAccountid||crifApplicationId||run_date||CBContractCode) = 'c7948327-e6a6-46ee-96fc-66c1b3b56f93taran-2629742-80860572024-07-05302970230'
# -- select (digitalLoanAccountid||crifApplicationId||run_date||CBContractCode), count((digitalLoanAccountid||crifApplicationId||run_date||CBContractCode)) from stepAtable2base group by 1 having count((digitalLoanAccountid||crifApplicationId||run_date||CBContractCode)) > 1;
# base as
# (select a.*, d.obsFSPD30, d.defFSPD30, d.obsFPD30, d.defFPD30
# , case when date_trunc(a.disbursementDateTime, day) <= '2024-04-30' then 'Train_Validation'
#          when date_trunc(a.disbursementDateTime, day) >'2024-04-30' and date_trunc(a.disbursementDateTime, day) <= '2024-06-07' then 'Test' else 'Other' end targetdataselection_SIL
# , case when date_trunc(a.disbursementDateTime, day) <= '2024-04-30' then 'Train_Validation'
#          when date_trunc(a.disbursementDateTime, day) >'2024-04-30' and date_trunc(a.disbursementDateTime, day) <= '2024-05-28' then 'Test' else 'Other' end targetdataselection_Quick
# from stepAtable2base a
# inner join
# (
#     SELECT
#         loanAccountNumber
#         , SUM(CASE WHEN obs_min_inst_def30 >= 1 THEN 1 ELSE 0 END) as obsFPD30
#         , SUM(CASE WHEN min_inst_def30 = 1 THEN 1 else 0 END) as defFPD30
#         , sum(case when obs_min_inst_def30>=1 then (select max(disbursedloanamount) from `risk_credit_mis.loan_master_table` where loanAccountNumber = a1.loanAccountNumber) else 0 end) as obs_fpd30_vol
#         , sum(case when min_inst_def30=1 then (select max(disbursedloanamount) from `risk_credit_mis.loan_master_table` where loanAccountNumber = a1.loanAccountNumber) else 0 end) as def_fpd30_vol
#         , SUM(CASE WHEN obs_min_inst_def30 >= 2 THEN 1 ELSE 0 END) as obsFSPD30
#         , SUM(CASE WHEN obs_min_inst_def30 >= 2 AND (min_inst_def30 = 2 or min_inst_def30 = 1) THEN 1 else 0 END) as defFSPD30
#         , SUM(CASE WHEN obs_min_inst_def30 >= 2 THEN (select max(disbursedloanamount) from `risk_credit_mis.loan_master_table` where loanAccountNumber = a1.loanAccountNumber) ELSE 0 END) as obsFSPD30_vol
#         , SUM(CASE WHEN obs_min_inst_def30 >= 2 AND (min_inst_def30 = 2 or min_inst_def30 = 1) THEN (select max(disbursedloanamount) from `risk_credit_mis.loan_master_table` where loanAccountNumber = a1.loanAccountNumber) else 0 END) as defFSPD30_vol
#         , SUM(CASE WHEN obs_min_inst_def30 >= 3 THEN 1 ELSE 0 END) as obsFSTPD30
#         , SUM(CASE WHEN obs_min_inst_def30 >= 3 AND (min_inst_def30 = 3 or min_inst_def30 = 2 or min_inst_def30 = 1) THEN 1 else 0 END) as defFSTPD30
#         , SUM(CASE WHEN obs_min_inst_def30 >= 3 THEN (select max(disbursedloanamount) from `risk_credit_mis.loan_master_table` where loanAccountNumber = a1.loanAccountNumber) ELSE 0 END) as obsFSTPD30_vol
#         , SUM(CASE WHEN obs_min_inst_def30 >= 3 AND (min_inst_def30 = 3 or min_inst_def30 = 2 or min_inst_def30 = 1) THEN (select max(disbursedloanamount) from `risk_credit_mis.loan_master_table` where loanAccountNumber = a1.loanAccountNumber) else 0 END) as defFSTPD30_vol
#     FROM `risk_credit_mis.loan_deliquency_data` a1
#     GROUP BY 1
#   ) d
# ON a.loanAccountNumber = d.loanAccountNumber
# where
# a.rnk = 1
# and (upper(a.LoanProduct) like '%QUICK%' or upper(a.LoanProduct) like '%SIL%') 
# )
# select * from base
# --  where digitalLoanAccountId = '42c268b9-1fe7-445c-b459-8c66d0483884'
# -- select digitalLoanAccountId, count(digitalLoanAccountId) cnt from base group by 1 having count(digitalLoanAccountId) > 1
# -- select uniquekey, count(uniquekey) from base group by 1 having count(uniquekey) > 1
# -- and
# -- uniquekey = 'c7948327-e6a6-46ee-96fc-66c1b3b56f93taran-2629742-80860572024-07-05302970230'
# ;
# """

In [9]:

sq = """WITH
  CICAddress as
  (SELECT
        digitalLoanAccountId ,
        coalesce(case when Type = 'MI' then city end, case when Type = 'AI' then city end) city ,
        coalesce(case when Type = 'MI' then Province end, case when Type = 'AI' then Province end) Province ,
        Type
        , row_number() over(Partition by digitalLoanAccountId order by digitalLoanAccountId, LastUpdateDate desc) rnk
        FROM `prj-prod-dataplatform.risk_credit_cic_data.subject_addresshistory`
  ),
  CICBaseTable AS ----To create combine CIC raw data combining Granted and Non Granted table
  ( -- Query FOR dfgranted
  SELECT
    digitalLoanAccountId,
    crifApplicationId,
    customerId,
    processEngineGuid,
    requestGuid,
    ContractHistoryType,
    CBContractCode,
    ContractEndDate,
    ContractPhase,
    ContractPhaseDesc,
    ContractStartDate,
    ContractStatus,
    ContractStatusDesc,
    ContractType,
    ContractTypeDesc,
    Currency,
    CurrencyDesc,
    LastUpdateDate,
    OriginalCurrency,
    OriginalCurrencyDesc,
    ProviderCodeEncrypted,
    ProviderContractNo,
    ReferenceNo,
    Role,
    RoleDesc,
    BilledAmount,
    BoardResolutionFlag,
    BoardResolutionFlagDesc,
    CancellationDate,
    CardReferenceCode,
    ChargedAmount,
    CreditLimit,
    CreditPurpose,
    CreditPurposeDesc,
    FinancedAmount,
    FirstPaymentDate,
    FlagCardUsed,
    HolderLiability,
    HolderLiabilityDesc,
    InstallmentType,
    InstallmentTypeDesc,
    InstallmentsNumber,
    LastChargeDate,
    LastPaymentAmount,
    LastPaymentDate,
    MinPaymentIndicator,
    MinPaymentIndicatorDesc,
    MinPaymentPercentage,
    MonthlyPaymentAmount,
    NextPayment,
    NextPaymentDate,
    OutstandingBalance,
    OutstandingBalanceUnbilled,
    OutstandingPaymentsNumber,
    OverallCreditLimit,
    OverdueDays,
    OverdueDaysDesc,
    OverduePaymentsAmount,
    OverduePaymentsNumber,
    PaymentMethod,
    PaymentMethodDesc,
    PaymentPeriodicity,
    PaymentPeriodicityDesc,
    PremiumCard,
    PremiumCardDesc,
    ReorganizedCreditCode,
    ReorganizedCreditCodeDesc,
    ServicesLinesNo,
    TimesCardUsed,
    TransactionType,
    TransactionTypeDesc,
    Utilization,
    LinkedSubject_CBSubjectCode,
    LinkedSubject_Name,
    LinkedSubject_Role,
    LinkedSubject_RoleDesc,
    Note_TypeDesc,
    Note_Text,
    Note_Type,
    run_date,
    NULL AS ContractRequestDate,
    'granted' AS SOURCE
  FROM
    prj-prod-dataplatform.risk_credit_cic_data.granted_contracts
  UNION ALL
    -- Query FOR dfnongranted
  SELECT
    digitalLoanAccountId,
    crifApplicationId,
    customerId,
    processEngineGuid,
    requestGuid,
    NULL AS ContractHistoryType,
    CBContractCode,
    NULL AS ContractEndDate,
    ContractPhase,
    ContractPhaseDesc,
    NULL AS ContractStartDate,
    NULL AS ContractStatus,
    NULL AS ContractStatusDesc,
    ContractType,
    ContractTypeDesc,
    NULL AS Currency,
    NULL AS CurrencyDesc,
    LastUpdateDate,
    NULL AS OriginalCurrency,
    NULL AS OriginalCurrencyDesc,
    ProviderCodeEncrypted,
    ProviderContractNo,
    ReferenceNo,
    Role,
    RoleDesc,
    NULL AS BilledAmount,
    NULL AS BoardResolutionFlag,
    NULL AS BoardResolutionFlagDesc,
    NULL AS CancellationDate,
    NULL AS CardReferenceCode,
    NULL AS ChargedAmount,
    CreditLimit,
    NULL AS CreditPurpose,
    NULL AS CreditPurposeDesc,
    FinancedAmount,
    NULL AS FirstPaymentDate,
    NULL AS FlagCardUsed,
    NULL AS HolderLiability,
    NULL AS HolderLiabilityDesc,
    NULL AS InstallmentType,
    NULL AS InstallmentTypeDesc,
    InstallmentsNumber,
    NULL AS LastChargeDate,
    NULL AS LastPaymentAmount,
    NULL AS LastPaymentDate,
    NULL AS MinPaymentIndicator,
    NULL AS MinPaymentIndicatorDesc,
    NULL AS MinPaymentPercentage,
    MonthlyPaymentAmount,
    NULL AS NextPayment,
    NULL AS NextPaymentDate,
    NULL AS OutstandingBalance,
    NULL AS OutstandingBalanceUnbilled,
    NULL AS OutstandingPaymentsNumber,
    NULL AS OverallCreditLimit,
    NULL AS OverdueDays,
    NULL AS OverdueDaysDesc,
    NULL AS OverduePaymentsAmount,
    NULL AS OverduePaymentsNumber,
    NULL AS PaymentMethod,
    NULL AS PaymentMethodDesc,
    PaymentPeriodicity,
    PaymentPeriodicityDesc,
    NULL AS PremiumCard,
    NULL AS PremiumCardDesc,
    NULL AS ReorganizedCreditCode,
    NULL AS ReorganizedCreditCodeDesc,
    NULL AS ServicesLinesNo,
    NULL AS TimesCardUsed,
    NULL AS TransactionType,
    NULL AS TransactionTypeDesc,
    NULL AS Utilization,
    LinkedSubject_CBSubjectCode,
    LinkedSubject_Name,
    LinkedSubject_Role,
    LinkedSubject_RoleDesc,
    Note_TypeDesc,
    Note_Text,
    Note_Type,
    run_date,
    ContractRequestDate,
    'nongranted' AS SOURCE
  FROM
    prj-prod-dataplatform.risk_credit_cic_data.notgranted_contracts )

    -- select * from CICBaseTable where digitalLoanAccountId = 'c7948327-e6a6-46ee-96fc-66c1b3b56f93'
-- SELECT  ContractHistoryType, RoleDesc, count(digitalLoanAccountId) cnt FROM  CICBaseTable where COALESCE(ContractHistoryType, 'NA') in ('Installments', 'CreditCards', 'NA') group by 1,2 order by 3 desc;
,
employementdata as ---- data from employment table for employment related information
(SELECT distinct
  digitalLoanAccountId,
  crifApplicationId,
  customerId,
  AnnualMonthlyIndicator,
  Currency,
  DateHiredFrom,
  DateHiredTo,
  case when DateHiredFrom is null then null
       when DateHiredFrom is not null and  DateHiredTo is not null then date_diff(date(DateHiredTo), date(DateHiredFrom), month)
       when DateHiredFrom is not null and DateHiredTo is null then date_diff(date((select min(run_date) from CICBaseTable where CICBaseTable.digitalLoanAccountId = digitalLoanAccountId)), date(DateHiredFrom), month)
       else null end Employment_duration,
  GrossIncome,
  CAST(
    CASE
      WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'M' THEN CAST(COALESCE(GrossIncome, '0') AS NUMERIC)
      WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'Y' THEN ROUND(CAST(COALESCE(GrossIncome, '0') AS NUMERIC)/12, 0)
      ELSE 0
    END AS INT64
  ) AS MonthlyIncomecalculated,
  CAST(
    CASE
      WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'M' THEN ROUND(CAST(COALESCE(GrossIncome, '0') AS NUMERIC)*12, 0)
      WHEN COALESCE(AnnualMonthlyIndicator, 'NA') LIKE 'Y' THEN CAST(COALESCE(GrossIncome, '0') AS NUMERIC)
      ELSE 0
    END AS INT64
  ) AS AnnualIncomecalculated,
  Occupation,
  OccupationDesc,
  OccupationStatus,
  OccupationStatusDesc,
  TIN,
  PhoneNumber,
  PSIC,
  REGEXP_REPLACE(PSICDesc, r'^\d+\s*-\s*', '') AS PSICDesc ,
  TradeName,
  Case when digitalLoanAccountId in (select digitalLoanAccountId from CICBaseTable where CICBaseTable.digitalLoanAccountid = digitalLoanAccountId and ContractHistoryType like 'Installments') then 1 else 0 end installmentLoanFlag,
  Case when digitalLoanAccountId in (select digitalLoanAccountId from CICBaseTable where CICBaseTable.digitalLoanAccountid = digitalLoanAccountId and ContractHistoryType like '%CreditCards%' ) then 1 else 0 end creditLoanFlag,
  Case when digitalLoanAccountId in (select digitalLoanAccountId from CICBaseTable where CICBaseTable.digitalLoanAccountid = digitalLoanAccountId and ContractHistoryType like '%NonInstallment%' ) then 1 else 0 end NonInstallmentFlag,
  Case when digitalLoanAccountId in (select digitalLoanAccountId from CICBaseTable where CICBaseTable.digitalLoanAccountid = digitalLoanAccountId and ContractHistoryType like '%Utilit%' ) then 1 else 0 end UtilitiesFlag,
  row_number() over (partition by digitalLoanAccountId order by digitalLoanAccountId ) as rnk
FROM prj-prod-dataplatform.risk_credit_cic_data.employment_data)
,
CICBase2Table as
(SELECT digitalLoanAccountId, crifApplicationId, customerId,
       processEngineGuid, requestGuid, ContractHistoryType,
       CBContractCode, ContractEndDate, ContractPhase,
       ContractPhaseDesc, ContractStartDate, ContractStatus,
       ContractStatusDesc, ContractType, ContractTypeDesc,
       Currency, CurrencyDesc, LastUpdateDate, OriginalCurrency,
       OriginalCurrencyDesc, ProviderCodeEncrypted,
       ProviderContractNo, ReferenceNo, Role, RoleDesc,
       BilledAmount, BoardResolutionFlag, BoardResolutionFlagDesc,
       CancellationDate, CardReferenceCode, ChargedAmount,
       CreditLimit, CreditPurpose, CreditPurposeDesc,
       FinancedAmount, FirstPaymentDate, FlagCardUsed,
       HolderLiability, HolderLiabilityDesc, InstallmentType,
       InstallmentTypeDesc, InstallmentsNumber, LastChargeDate,
       LastPaymentAmount, LastPaymentDate, MinPaymentIndicator,
       MinPaymentIndicatorDesc, MinPaymentPercentage,
       MonthlyPaymentAmount, NextPayment, NextPaymentDate,
       OutstandingBalance, OutstandingBalanceUnbilled,
       OutstandingPaymentsNumber, OverallCreditLimit, OverdueDays,
       OverdueDaysDesc, OverduePaymentsAmount,
       OverduePaymentsNumber, PaymentMethod, PaymentMethodDesc,
       PaymentPeriodicity, PaymentPeriodicityDesc, PremiumCard,
       PremiumCardDesc, ReorganizedCreditCode,
       ReorganizedCreditCodeDesc, ServicesLinesNo, TimesCardUsed,
       TransactionType, TransactionTypeDesc, Utilization,
       LinkedSubject_CBSubjectCode, LinkedSubject_Name,
       LinkedSubject_Role, LinkedSubject_RoleDesc, Note_TypeDesc,
       Note_Text, Note_Type, run_date, ContractRequestDate,  SOURCE
,
  CASE
    WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc = '' THEN 'Neutral'
    WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc is null THEN 'Neutral'
    WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc = 'Pre-Activated' THEN 'Good'
    WHEN ContractPhaseDesc = 'Active' AND ContractStatusDesc = 'Foreclosure' THEN 'Good'
    WHEN ContractPhaseDesc = 'Closed' AND ContractStatusDesc = '' THEN 'Good'
    WHEN ContractPhaseDesc = 'Closed' AND ContractStatusDesc is null THEN 'Good'
    WHEN ContractPhaseDesc = 'Closed in advance' AND ContractStatusDesc = '' THEN 'Good'
    WHEN ContractPhaseDesc = 'Closed in advance' AND ContractStatusDesc is null THEN 'Good'
    WHEN ContractPhaseDesc = 'Closed in advance' AND ContractStatusDesc = 'Foreclosure' THEN 'Good'
    WHEN ContractStatusDesc IN ('Debt Assumption', 'Repossessed') THEN 'Neutral'
    WHEN ContractStatusDesc IN (
      'Write-off (BLW)', 'Past Due', 'Blocked by the Bank due to Credit Reasons',
      'Under dispute / non performing', 'Under litigation / Delinquent',
      'Blocked or Closed voluntary by the Customer', 'Blocked or Closed due to Restructuring',
      'There are unpaid amounts, Negotiated Settlement', 'Previous delinquency settled',
      'Write-off and Credit transferred to third party / Collection',
      'Write-off and Fully Settled', 'Blocked by the Bank due to card lost/stolen',
      'Blocked by the Bank due to fraud', 'Dispute / Litigation contested'
    ) THEN 'Bad'
    ELSE 'Unknown'
  END AS Repaymentcategory,
CASE
    WHEN ContractTypeDesc IN ('Salary loan', 'Personal Loan', 'Unsecured loan', 'Vehicle Loan', 'Mortgage/Real Estate', 'Time Loan', 'Short Term Loan', 'Benefit Loan', 'Home equity loan', 'Agricultural Loan', 'Student Loan', 'Vehicle leasing', 'Credit Card', 'Credit Card - Shared Limit', 'Credit Card - MultiCurrency', 'Revolving Credit', 'Trust Loan', 'Credit Line')
      OR (ContractTypeDesc = 'Term Loan' AND CreditPurposeDesc NOT LIKE 'Small and Medium Enterprise Loans%')
      OR (ContractTypeDesc = 'Loan Line' AND CreditPurposeDesc NOT LIKE 'Small and Medium Enterprise Loans%')
      OR (CreditPurposeDesc LIKE 'Loans to Individual%' AND ContractTypeDesc != 'Business Loan')
      OR (CreditPurposeDesc LIKE 'Microfinance Loans' AND ContractTypeDesc != 'Business Loan')
      OR (CreditPurposeDesc LIKE 'Other Agricultural Credit' AND ContractTypeDesc != 'Business Loan')
      OR (ContractHistoryType LIKE 'Installments' AND ContractTypeDesc = 'Term Loan' and CreditPurposeDesc is null)
      OR (ContractHistoryType is null AND ContractTypeDesc = 'Term Loan' and CreditPurposeDesc is null)
      OR CreditPurposeDesc IN ('Agrarian Reform', 'Development Loan Incentives - Socialized Low Cost Housing (Loans to individuals for housing purposes )')
      OR ContractHistoryType = 'CreditCards'
    THEN 'B2C'

    WHEN ContractTypeDesc IN ('Business Loan', 'Real estate leasing', 'Equipment leasing')
      OR CreditPurposeDesc IN ('Development Loan Incentives - Cooperatives', 'Development Loan Incentives - Educational Inst.', 'Loan to Government - GOCCs (Other Financial)', 'Loan to Government - GOCCs (Social Security Institutions)', 'Loan to Government - LGUs', 'Loan to Government - National Government', 'Loans to Private Corporation (Financial)', 'Loans to Private Corporation (Non-Financial)', 'Small and Medium Enterprise Loans (Medium Scale Enterprise)', 'Small and Medium Enterprise Loans (Small Scale Enterprise)')
      OR (ContractTypeDesc = 'Vehicle Loan' AND CreditPurposeDesc NOT LIKE 'Loans to Individual%')
      OR (ContractTypeDesc = 'Loan Line' AND CreditPurposeDesc LIKE 'Small and Medium Enterprise Loans%')
      OR (ContractTypeDesc = 'Term Loan' AND CreditPurposeDesc LIKE 'Small and Medium Enterprise Loans%')
    THEN 'B2B'

    ELSE 'Unknown'
  END AS BusinessType,
 CASE
    WHEN ContractTypeDesc = 'Time Loan' THEN 'Time Loans'
    WHEN ContractTypeDesc IN ('Short Term Loan', 'Term Loan') THEN 'Short and Term Loans'
    WHEN ContractTypeDesc = 'Home equity loan' THEN 'Home Equity Loans'
    WHEN ContractTypeDesc IN ('Credit Card', 'Credit Card - MultiCurrency', 'Credit Card - Shared Limit') THEN 'Credit Cards'
    WHEN ContractTypeDesc IN ('Loan Line', 'Credit Line') THEN 'Credit Lines'
    WHEN ContractTypeDesc IN ('Mortgage/Real Estate', 'Real estate leasing') THEN 'Real Estate Loans'
    WHEN ContractTypeDesc = 'Trust Loan' THEN 'Trust Loans'
    WHEN ContractTypeDesc = 'Personal Loan' THEN 'Personal Loans'
    ELSE 'Other Loans'
  END AS loan_segment
from CICBaseTable
  where 
  --  COALESCE(ContractHistoryType, 'NA') in ('Installments', 'CreditCards', 'NonInstallment','NA')
  -- and
   COALESCE(RoleDesc, 'NA') in ('Borrower', 'Co-Borrower', 'NA')
),
CICBase3Table as
(select distinct * FROM  CICBase2Table where BusinessType in ('B2C', 'Unknown')
)

,
custtname as (SELECT distinct  cast(custId as numeric) custid, firstName, middleName, LastName FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_customer_details`
),
stepAtablebase as
(
select
(a.digitalLoanAccountid||b.crifApplicationId||b.run_date||b.CBContractCode) uniquekey,
a.digitalLoanAccountId,
a.customerId, cn.Firstname, cn.middleName, cn.LastName,
a.loanAccountNumber,
a.flagDisbursement,
a.disbursementDateTime,
a.termsAndConditionsSubmitDateTime,
a.natureofwork,
a.subIndustryDescription,
a.industryDescription,
a.monthlyIncome,
a.province,
a.city,
case when a.reloan_flag = 1 and a.loantype not like 'FLEXUP'then 'Reloan'
      when a.loantype = 'FLEXUP' and a.new_loan_type = 'Flex-up' and a.reloan_flag = 0 and a.flagDisbursement = 1 then 'Flex-up'
              else a.new_loan_type end as LoanProduct,
     b.crifApplicationId,
       processEngineGuid, requestGuid, ContractHistoryType,
       CBContractCode, ContractEndDate, ContractPhase,
       ContractPhaseDesc, ContractStartDate, ContractStatus,
       ContractStatusDesc, ContractType, ContractTypeDesc,
       b.Currency, CurrencyDesc, LastUpdateDate, OriginalCurrency,
       OriginalCurrencyDesc, ProviderCodeEncrypted,
       ProviderContractNo, ReferenceNo, Role, RoleDesc,
       BilledAmount, BoardResolutionFlag, BoardResolutionFlagDesc,
       CancellationDate, CardReferenceCode, ChargedAmount,
       CreditLimit, CreditPurpose, CreditPurposeDesc,
       FinancedAmount, FirstPaymentDate, FlagCardUsed,
       HolderLiability, HolderLiabilityDesc, InstallmentType,
       InstallmentTypeDesc, InstallmentsNumber, LastChargeDate,
       LastPaymentAmount, LastPaymentDate, MinPaymentIndicator,
       MinPaymentIndicatorDesc, MinPaymentPercentage,
       MonthlyPaymentAmount, NextPayment, NextPaymentDate,
       b.OutstandingBalance, OutstandingBalanceUnbilled,
       OutstandingPaymentsNumber, OverallCreditLimit, OverdueDays,
       OverdueDaysDesc, OverduePaymentsAmount,
       OverduePaymentsNumber, PaymentMethod, PaymentMethodDesc,
       PaymentPeriodicity, PaymentPeriodicityDesc, PremiumCard,
       PremiumCardDesc, ReorganizedCreditCode,
       ReorganizedCreditCodeDesc, ServicesLinesNo, TimesCardUsed,
       TransactionType, TransactionTypeDesc, Utilization,
       LinkedSubject_CBSubjectCode, LinkedSubject_Name,
       LinkedSubject_Role, LinkedSubject_RoleDesc, Note_TypeDesc,
       Note_Text, Note_Type, run_date, ContractRequestDate,  SOURCE, Repaymentcategory, BusinessType, loan_segment
       , ed.AnnualMonthlyIndicator, ed.Currency, ed.DateHiredFrom, ed.DateHiredTo, ed.GrossIncome, ed.MonthlyIncomecalculated MonthlyIncome_CIC, ed.AnnualIncomecalculated AnnualIncome_CIC, ed.OccupationDesc, ed.OccupationStatusDesc, ed.PSIC, ed.PSICDesc,
       ed.TradeName,
       ed.installmentLoanFlag,
       ed.NonInstallmentFlag,
       ed.UtilitiesFlag,
       ed.creditLoanFlag,
       ad.city CIC_city,
       ad.province CIC_Province,
       ad.Type CIC_address_type
FROM `risk_credit_mis.loan_master_table` a
left join CICBase3Table b
ON a.digitalLoanAccountId = b.digitalLoanAccountId
    AND a.crifApplicationId = b.crifApplicationId
left join (select * from employementdata where rnk = 1) ed on ed.digitalLoanAccountId = a.digitalLoanAccountId
Left join custtname cn on cn.custid = a.customerId
Left join (select * from CICAddress where rnk = 1) ad on ad.digitalLoanAccountId = a.digitalLoanAccountId
where a.disbursementDateTime is not null
and date_trunc(a.disbursementDateTime, day) >= '2023-01-10'
and date_trunc(a.disbursementDateTime, day) < current_date()
),


stepAtable2base as
(select *, row_number() over(partition by uniquekey order by uniquekey) rnk from stepAtablebase),
flag_zero_granted as(
  select 
    lmt.digitalLoanAccountId, lmt.disbursementDateTime, lmt.loanAccountNumber,
    CASE 
        WHEN cs.digitalLoanAccountId IS NOT NULL THEN 0
        ELSE 1
    END AS flg_zero_granted_ever
    FROM  `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
    Left join (SELECT digitalLoanAccountId FROM  prj-prod-dataplatform.risk_credit_cic_data.granted_contracts  
    GROUP BY digitalLoanAccountId)
   cs

    on lmt.digitalLoanAccountId = cs.digitalLoanAccountId
    where CAST(lmt.disbursementDateTime AS DATE) BETWEEN '2023-01-10' AND '2024-10-21'
),

flag_zero_nongranted as(
  select 
    lmt.digitalLoanAccountId, lmt.disbursementDateTime, lmt.loanAccountNumber,
    CASE 
        WHEN cs.digitalLoanAccountId IS NOT NULL THEN 0
        ELSE 1
    END AS flg_zero_non_granted_ever
    FROM  `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
    Left join 
    (SELECT digitalLoanAccountId FROM  prj-prod-dataplatform.risk_credit_cic_data.notgranted_contracts  
    GROUP BY digitalLoanAccountId)
   cs

    on lmt.digitalLoanAccountId = cs.digitalLoanAccountId
    where CAST(lmt.disbursementDateTime AS DATE) BETWEEN '2023-01-10' AND '2024-10-21'
),
flag_noninstallmentUtility as(
select digitalLoanAccountId, 
sum(coalesce(installmentLoanFlag,0)) installmentLoanFlag, 
sum(coalesce(creditLoanFlag,0))creditLoanFlag,
sum(coalesce(NonInstallmentFlag,0)) NonInstallmentFlag,
sum(coalesce(UtilitiesFlag,0)) UtilitiesFlag,
case when sum(installmentLoanFlag) + sum(creditLoanFlag) > 0 then 0 
       when (sum(installmentLoanFlag) + sum(creditLoanFlag) + sum(NonInstallmentFlag) + sum(UtilitiesFlag)) = 0 then 0
       when sum(installmentLoanFlag) + sum(creditLoanFlag) = 0 and sum(NonInstallmentFlag) + sum(UtilitiesFlag) > 0 then 1 else 0 end flag_other_segment_granted
  -- or coalesce(UtilitiesFlag,0) >0 ) then 1 else 0 end as flag_other_segment_granted  
  from stepAtablebase  group by 1
),
flag_hit_match as
(
  
( select a.digitalLoanAccountId,a.loanAccountNumber,  a.disbursementDateTime, a.new_loan_type as loantype, 
 MAX(coalesce(cast(d.FlagMatched as int64),0)) as flg_hit_flagMatched,
 
 from
 risk_credit_mis.loan_master_table a
 left join prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_poi3_response b
 on a.digitalLoanAccountId = b.digitalLoanAccountId and a.crifApplicationId = b.crifApplicationId
 left join prj-prod-dataplatform.risk_credit_cic_data.cic_summary c
 on a.digitalLoanAccountId = c.digitalLoanAccountId and a.crifApplicationId = c.crifApplicationId
 left join dl_loans_db_derived.tdbk_loan_poi3_response_bureau_string_xml_parsed_matchedsubject d
 on a.digitalLoanAccountId = d.digitalLoanAccountId and a.crifApplicationId = d.crifApplicationId
 left join risk_credit_cic_data.granted_contracts e
 on a.digitalLoanAccountId = e.digitalLoanAccountId and a.crifApplicationId = e.crifApplicationId
 where
 #b.bureauString is not null
 #and
---new_loan_type in ('Quick' ) 
(upper(new_loan_type) like '%QUICK%' or upper(new_loan_type) like '%SIL%') 
and CAST(disbursementDateTime AS DATE) BETWEEN '2023-01-10' AND '2024-10-21'
 group by 1,2,3,4 )
),
base as
(select a.*,  fzg.flg_zero_granted_ever,  fzng.flg_zero_non_granted_ever,  fhm.flg_hit_flagMatched, d.FSPD30, d.obsFSPD30,flag.flag_other_segment_granted,
   case when date_trunc(a.disbursementDateTime, day) <= '2024-06-30' then 'Train_Validation'
         when date_trunc(a.disbursementDateTime, day) >='2024-07-01' and date_trunc(a.disbursementDateTime, day) <= '2024-07-31' then 'July' 
         when date_trunc(a.disbursementDateTime, day) >= '2024-08-01' and date_trunc(a.disbursementDateTime, day) <= '2024-08-31' then 'Aug'
          when date_trunc(a.disbursementDateTime, day) >= '2024-09-01' and date_trunc(a.disbursementDateTime, day) <= '2024-09-30' then 'Sep'
          when date_trunc(a.disbursementDateTime, day) >= '2024-10-01' and date_trunc(a.disbursementDateTime, day) <= '2024-10-21' then 'Oct'
         else 'Other' end targetdataselection_Quick
from stepAtable2base a 
inner join
(
    select 
     loanAccountNumber,
    flagDisbursement,disbursementDateTime,obsFSPD30,
     case 
    --  when flagDisbursement =0 then null
     when  flagDisbursement =1  and obs_min_inst_def30 <2 then null
     when   flagDisbursement =1 and obs_min_inst_def30 >=2 and min_inst_def30 in (1,2) then 1 else 0 end FSPD30,

 
    FROM

     (select 
     lmt.flagDisbursement,
          lmt.digitalLoanAccountId,
          lmt.disbursementDateTime, 
          lmt.loanAccountNumber,
          lmt.new_loan_type,
          lmt.purposeDescription,
          ldd.obs_min_inst_def30,
          ldd.min_inst_def30,
          CASE WHEN obs_min_inst_def30 >= 1 THEN 1 ELSE 0 END as obsFPD30,
          CASE WHEN obs_min_inst_def30 >= 2 THEN 1 ELSE 0 END as obsFSPD30,
          
           from
        risk_credit_mis.loan_master_table lmt
        inner join prj-prod-dataplatform.risk_credit_mis.loan_deliquency_data ldd on ldd.loanAccountNumber = lmt.loanAccountNumber
        where lmt.new_loan_type in ('Quick' ) and CAST(disbursementDateTime AS DATE) BETWEEN '2023-01-10' AND '2024-10-21'
        and lmt.flagDisbursement =1 )  master  where obsFSPD30 >0

  ) d
ON a.loanAccountNumber = d.loanAccountNumber
Left join  
flag_zero_granted fzg on  a.loanAccountNumber  = fzg.loanAccountNumber
LEFT JOIN
flag_zero_nongranted fzng on a.loanAccountNumber  = fzng.loanAccountNumber
LEFT JOIN
flag_hit_match fhm on  a.loanAccountNumber  = fhm.loanAccountNumber
LEFT JOIN
flag_noninstallmentUtility flag on a.digitalLoanAccountId = flag.digitalLoanAccountId
where
-- a.rnk = 1 and
--a.LoanProduct in ('Quick')
(upper(a.LoanProduct) like '%QUICK%' or upper(a.LoanProduct) like '%SIL%') 
),
segment_all as (
select  * , 'segment1' as segment from base where flg_hit_flagMatched =1 and flag_other_segment_granted =0
and digitalLoanAccountId  in (select digitalLoanAccountId from cicbasetable where SOURCE in ( 'granted', 'nongranted') )

UNION ALL 

(select  * , 'segment2' as segment from base 
where flg_hit_flagMatched =1 and flag_other_segment_granted =1)

UNION ALL

(select  *, 'segment3' as segment  from base 
where flg_hit_flagMatched =1 and
digitalLoanAccountId not in (select digitalLoanAccountId from cicbasetable where SOURCE in ( 'granted', 'nongranted') ))

UNION ALL
(select  *, 'segment4' as segment  from base 
where flg_hit_flagMatched =0 )


)

select * from segment_all where digitalLoanAccountId is not null 

"""

cicdf = client.query(sq).to_dataframe(progress_bar_type='tqdm')

Job ID 28477161-191d-4ade-98c8-dbf344442a6f successfully executed: 100%|██████████|
Downloading: 100%|██████████|

In [10]:
print(f"The shape of the CIC dataframe is:\t {cicdf.shape}")

The shape of the CIC dataframe is:	 (345720, 128)

#### SAVE TO LOCAL PATH

In [11]:
cicdf.to_csv(f"{LOCALPATH}cicModeldatawithoutsummarydata.csv", index = False)

#### SAVE TO CLOUD PATH

In [12]:
filename = 'cicModeldatawithoutsummarydata'
bucket_name = BUCKET_NAME
new_filename = f"{CURRENT_DATE}_{MODELNAME}_{PRODUCT_TYPE}{VERSIONNAME}_{filename}.csv"
print(new_filename)
destination_blob_name = f"{CLOUDPATH}/{new_filename}"
save_df_to_gcs(cicdf, bucket_name, destination_blob_name)

20250204_Alpha_SIL_Quick1_0_cicModeldatawithoutsummarydata.csv

### CIC SUMMARY

In [13]:
sq = """
select * from prj-prod-dataplatform.risk_credit_cic_data.cic_summary
;"""

dfd = client.query(sq).to_dataframe(progress_bar_type='tqdm')
print(f"The rows and columns of cicsummary are:\t {dfd.shape}")

Job ID 7e81262c-e734-4e02-ae80-e6452ae59018 successfully executed: |          |
Downloading: 100%|██████████|
The rows and columns of cicsummary are:	 (683148, 93)

In [14]:
dfd.columns.values

array(['digitalLoanAccountId', 'crifApplicationId', 'customerId',
       'processEngineGuid', 'requestGuid', 'run_date', 'DetailID',
       'responseMsg', 'DescisionValue', 'DescisionDescription',
       'ExclusionRuleCode', 'exclusionRuleLabelValue',
       'exclusionRuleLabelDescription', 'ScoreRaw', 'ScoreRange',
       'Accounts30Days', 'Accounts30DaysOther', 'Accounts60Days',
       'Accounts60DaysOther', 'Accounts90Days', 'Accounts90DaysOther',
       'AgeAtLoanTermination', 'AgeAtLoanTerminationMax',
       'CreditAvgCreditLimit', 'CreditHighestCreditLimit',
       'CreditMaxOutstandingBalance', 'CreditMaxOutstandingBalanceDate',
       'CreditMaxOverdueAmount', 'CreditMaxOverdueAmountDate',
       'CreditMaxOverdueDays', 'CreditMaxOverdueDaysDate',
       'CreditNumberOfContracts', 'CreditTotalCreditLimit',
       'CreditTotalOutstandingBalanceAmount', 'CreditTotalOverdueAmount',
       'DataFromTest', 'InstMaxOverdueAmount', 'InstMaxOverdueAmountDate',
       'InstMaxOverdueDays', 'InstMaxOverdueDaysDate',
       'InstNumberOfContracts', 'InstTotalMonthlyPaymentsAmount',
       'InstTotalOutstandingBalanceAmount', 'InstTotalOverdueAmount',
       'LoanToValue', 'MonthsOfBooks', 'MonthsOfBooksOther',
       'NonInstAvgCreditLimit', 'NonInstHighestCreditLimit',
       'NonInstNumberOfContracts', 'NonInstTotalCreditLimit',
       'NonInstTotalOverdraftAmount', 'NonInstTotalUtilization',
       'NumberOfContract', 'NumberOfContractAC',
       'NumberOfContractACOther', 'NumberOfContractCLCA',
       'NumberOfContractCLCAOther', 'NumberOfContractOther',
       'NumberOfContractRF', 'NumberOfContractRFOther',
       'NumberOfContractRN', 'NumberOfContractRNOther',
       'NumberOfContractRQ', 'NumberOfContractRQOther', 'OverlimitFlag',
       'OverlimitFlagOther', 'ReportingProvidersNumber',
       'ReportingProvidersNumberOther', 'SubjectEventDate',
       'SubjectInfoTypeCode', 'SubjectInfoTypeCodeDesc',
       'TotalOutstanding', 'TotalOutstandingOther',
       'UtilityMaxBilledAmount', 'UtilityMaxBilledAmountDate',
       'UtilityMaxOutstandingBalance', 'UtilityMaxOutstandingBalanceDate',
       'UtilityMaxOverdueAmount', 'UtilityMaxOverdueAmountDate',
       'UtilityMaxOverdueDays', 'UtilityMaxOverdueDaysDate',
       'UtilityNumberOfContracts', 'UtilityTotalBilledAmount',
       'UtilityTotalOutstandingBalanceAmount',
       'UtilityTotalOverdueAmount', 'UtilizationRateCreditCard',
       'UtilizationRateCreditCardOther', 'UtilizationRateNonInstallment',
       'UtilizationRateNonInstallmentOther', 'label', 'scoreLabelDesc',
       'scoreLabelValue'], dtype=object)

In [15]:
# Merge both the data based on digitalLoanAccountId
dfd = dfd[['digitalLoanAccountId','DescisionValue', 'exclusionRuleLabelDescription', 'ScoreRaw', 'ScoreRange',
       'Accounts30Days', 'Accounts30DaysOther', 'Accounts60Days',
       'Accounts60DaysOther', 'Accounts90Days', 'Accounts90DaysOther',
       'AgeAtLoanTermination', 'AgeAtLoanTerminationMax',
       'CreditAvgCreditLimit', 'CreditHighestCreditLimit',
       'CreditMaxOutstandingBalance', 'CreditMaxOutstandingBalanceDate',
       'CreditMaxOverdueAmount', 'CreditMaxOverdueAmountDate',
       'CreditMaxOverdueDays', 'CreditMaxOverdueDaysDate',
       'CreditNumberOfContracts', 'CreditTotalCreditLimit',
       'CreditTotalOutstandingBalanceAmount', 'CreditTotalOverdueAmount', 'InstMaxOverdueAmount', 'InstMaxOverdueAmountDate',
       'InstMaxOverdueDays', 'InstMaxOverdueDaysDate', 'InstNumberOfContracts',
       'InstTotalMonthlyPaymentsAmount', 'InstTotalOutstandingBalanceAmount',
       'InstTotalOverdueAmount', 'LoanToValue', 'MonthsOfBooks',
       'MonthsOfBooksOther', 'NonInstAvgCreditLimit',
       'NonInstHighestCreditLimit', 'NonInstNumberOfContracts',
       'NonInstTotalCreditLimit', 'NonInstTotalOverdraftAmount',
       'NonInstTotalUtilization', 'NumberOfContract', 'NumberOfContractAC',
       'NumberOfContractACOther', 'NumberOfContractCLCA',
       'NumberOfContractCLCAOther', 'NumberOfContractOther',
       'NumberOfContractRF', 'NumberOfContractRFOther', 'NumberOfContractRN',
       'NumberOfContractRNOther', 'NumberOfContractRQ',
       'NumberOfContractRQOther', 'OverlimitFlag', 'OverlimitFlagOther',
       'ReportingProvidersNumber', 'ReportingProvidersNumberOther',
       'SubjectEventDate', 'SubjectInfoTypeCode', 'SubjectInfoTypeCodeDesc',
       'TotalOutstanding', 'TotalOutstandingOther', 'UtilityMaxBilledAmount',
       'UtilityMaxBilledAmountDate', 'UtilityMaxOutstandingBalance',
       'UtilityMaxOutstandingBalanceDate', 'UtilityMaxOverdueAmount',
       'UtilityMaxOverdueAmountDate', 'UtilityMaxOverdueDays',
       'UtilityMaxOverdueDaysDate', 'UtilityNumberOfContracts',
       'UtilityTotalBilledAmount', 'UtilityTotalOutstandingBalanceAmount',
       'UtilityTotalOverdueAmount', 'UtilizationRateCreditCard',
       'UtilizationRateCreditCardOther', 'UtilizationRateNonInstallment',
       'UtilizationRateNonInstallmentOther','scoreLabelDesc']].copy()

In [16]:
duplicate_rows = dfd[dfd.duplicated()]

# To see all duplicate rows, including the first occurrence:
all_duplicates = dfd[dfd.duplicated(keep=False)]

print(f"The number of duplicate rows are:\t{len(duplicate_rows)}")

The number of duplicate rows are:	74

In [17]:
# Remove duplicates, keeping the last occurrence
df_cleaned = dfd.drop_duplicates(keep='last')

print(f"Original dataframe shape: {dfd.shape}")
print(f"Cleaned dataframe shape: {df_cleaned.shape}")

Original dataframe shape: (683148, 80)
Cleaned dataframe shape: (683074, 80)

#### SAVE CIC SUMMARY TO LOCAL PATH

In [18]:
df_cleaned.to_csv(f"{LOCALPATH}cic_summary_data.csv", index = False)

#### SAVE CIC SUMMARY TO CLOUD PATH

In [19]:
filename = 'cic_summary_data'
bucket_name = BUCKET_NAME
new_filename = f"{CURRENT_DATE}_{MODELNAME}_{PRODUCT_TYPE}{VERSIONNAME}_{filename}.csv"
print(new_filename)
destination_blob_name = f"{CLOUDPATH}/{new_filename}"
save_df_to_gcs(df_cleaned, bucket_name, destination_blob_name)

20250204_Alpha_SIL_Quick1_0_cic_summary_data.csv

## Merge Both the parts

In [20]:
mergeddf = pd.merge(cicdf, df_cleaned, left_on='digitalLoanAccountId', right_on='digitalLoanAccountId', how = 'left')
mergeddf.head()

,uniquekey,digitalLoanAccountId,customerId,Firstname,middleName,LastName,loanAccountNumber,flagDisbursement,disbursementDateTime,termsAndConditionsSubmitDateTime,natureofwork,subIndustryDescription,industryDescription,monthlyIncome,province,city,LoanProduct,crifApplicationId,processEngineGuid,requestGuid,ContractHistoryType,CBContractCode,ContractEndDate,ContractPhase,ContractPhaseDesc,ContractStartDate,ContractStatus,ContractStatusDesc,ContractType,ContractTypeDesc,Currency,CurrencyDesc,LastUpdateDate,OriginalCurrency,OriginalCurrencyDesc,ProviderCodeEncrypted,ProviderContractNo,ReferenceNo,Role,RoleDesc,BilledAmount,BoardResolutionFlag,BoardResolutionFlagDesc,CancellationDate,CardReferenceCode,ChargedAmount,CreditLimit,CreditPurpose,CreditPurposeDesc,FinancedAmount,FirstPaymentDate,FlagCardUsed,HolderLiability,HolderLiabilityDesc,InstallmentType,InstallmentTypeDesc,InstallmentsNumber,LastChargeDate,LastPaymentAmount,LastPaymentDate,MinPaymentIndicator,MinPaymentIndicatorDesc,MinPaymentPercentage,MonthlyPaymentAmount,NextPayment,NextPaymentDate,OutstandingBalance,OutstandingBalanceUnbilled,OutstandingPaymentsNumber,OverallCreditLimit,OverdueDays,OverdueDaysDesc,OverduePaymentsAmount,OverduePaymentsNumber,PaymentMethod,PaymentMethodDesc,PaymentPeriodicity,PaymentPeriodicityDesc,PremiumCard,PremiumCardDesc,ReorganizedCreditCode,ReorganizedCreditCodeDesc,ServicesLinesNo,TimesCardUsed,TransactionType,TransactionTypeDesc,Utilization,LinkedSubject_CBSubjectCode,LinkedSubject_Name,LinkedSubject_Role,LinkedSubject_RoleDesc,Note_TypeDesc,Note_Text,Note_Type,run_date,ContractRequestDate,SOURCE,Repaymentcategory,BusinessType,loan_segment,AnnualMonthlyIndicator,Currency_1,DateHiredFrom,DateHiredTo,GrossIncome,MonthlyIncome_CIC,AnnualIncome_CIC,OccupationDesc,OccupationStatusDesc,PSIC,PSICDesc,TradeName,installmentLoanFlag,NonInstallmentFlag,UtilitiesFlag,creditLoanFlag,CIC_city,CIC_Province,CIC_address_type,rnk,flg_zero_granted_ever,flg_zero_non_granted_ever,flg_hit_flagMatched,FSPD30,obsFSPD30,flag_other_segment_granted,targetdataselection_Quick,segment,DescisionValue,exclusionRuleLabelDescription,ScoreRaw,ScoreRange,Accounts30Days,Accounts30DaysOther,Accounts60Days,Accounts60DaysOther,Accounts90Days,Accounts90DaysOther,AgeAtLoanTermination,AgeAtLoanTerminationMax,CreditAvgCreditLimit,CreditHighestCreditLimit,CreditMaxOutstandingBalance,CreditMaxOutstandingBalanceDate,CreditMaxOverdueAmount,CreditMaxOverdueAmountDate,CreditMaxOverdueDays,CreditMaxOverdueDaysDate,CreditNumberOfContracts,CreditTotalCreditLimit,CreditTotalOutstandingBalanceAmount,CreditTotalOverdueAmount,InstMaxOverdueAmount,InstMaxOverdueAmountDate,InstMaxOverdueDays,InstMaxOverdueDaysDate,InstNumberOfContracts,InstTotalMonthlyPaymentsAmount,InstTotalOutstandingBalanceAmount,InstTotalOverdueAmount,LoanToValue,MonthsOfBooks,MonthsOfBooksOther,NonInstAvgCreditLimit,NonInstHighestCreditLimit,NonInstNumberOfContracts,NonInstTotalCreditLimit,NonInstTotalOverdraftAmount,NonInstTotalUtilization,NumberOfContract,NumberOfContractAC,NumberOfContractACOther,NumberOfContractCLCA,NumberOfContractCLCAOther,NumberOfContractOther,NumberOfContractRF,NumberOfContractRFOther,NumberOfContractRN,NumberOfContractRNOther,NumberOfContractRQ,NumberOfContractRQOther,OverlimitFlag,OverlimitFlagOther,ReportingProvidersNumber,ReportingProvidersNumberOther,SubjectEventDate,SubjectInfoTypeCode,SubjectInfoTypeCodeDesc,TotalOutstanding,TotalOutstandingOther,UtilityMaxBilledAmount,UtilityMaxBilledAmountDate,UtilityMaxOutstandingBalance,UtilityMaxOutstandingBalanceDate,UtilityMaxOverdueAmount,UtilityMaxOverdueAmountDate,UtilityMaxOverdueDays,UtilityMaxOverdueDaysDate,UtilityNumberOfContracts,UtilityTotalBilledAmount,UtilityTotalOutstandingBalanceAmount,UtilityTotalOverdueAmount,UtilizationRateCreditCard,UtilizationRateCreditCardOther,UtilizationRateNonInstallment,UtilizationRateNonInstallmentOther,scoreLabelDesc
0,None,dd86719c-bbde-4248-af70-3a33eae3856c,1883006,JAKE,ESCO,LACDAYING,60818830060015,1,2023-02-02 10:10:00,2023-02-02 09:07:37,IT Professional,IT / Tech Consultancy / Projects / AI ML Solut...,Technology,47000,Leyte,ISABEL,Quick,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaT,None,None,None,None,None,M,PHP,None,None,42000,42000,504000,5 - SERVICE AND SALES WORKERS,Permanent Job (Private sector),822,Call centers and other related activities,ACCENTURE INC,0,0,0,0,None,None,MI,60639,1,1,1,0,1,0,Train_Validation,segment3,Review,The customer has no minimum scoring criteria,None,None,0,0,0,0,0,0,36,36,0,0,0,,0,,,,0,0,0,0,0,,,,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,false,false,0,0,java.util.GregorianCalendar[time=-922337203685...,,,0,0,0,,0,,0,,,,0,0,0,0,0,0,0,0,None
1,None,8175b2dd-fe45-4a23-9967-e90a902842e7,2037365,ANDREW DOMINIC,IBASE,REYES,60820373650015,1,2023-05-13 19:24:43,2023-05-12 18:05:29,Call Center Agent/Tele Marketer,Call Centre / BPO,Services,20000,METRO MANILA,CITY OF PASIG,Quick,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaT,None,None,None,None,None,None,None,None,None,None,<NA>,<NA>,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>,None,None,MI,67723,1,1,1,0,1,0,Train_Validation,segment3,Review,The customer has no minimum scoring criteria,None,None,0,0,0,0,0,0,23,23,0,0,0,,0,,,,0,0,0,0,0,,,,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,false,false,0,0,java.util.GregorianCalendar[time=-922337203685...,,,0,0,0,,0,,0,,,,0,0,0,0,0,0,0,0,None
2,None,f051fe3f-0bc3-43e8-8f8c-0cc11e315ca2,2206204,WYNLEE,ABRIGO,JUATON,60822062040012,1,2024-07-25 13:42:11,2024-07-14 18:47:25,Store/Service Manager,Others,Financial Services,100000,Davao del Sur,DAVAO CITY,Quick,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaT,None,None,None,None,None,None,None,None,None,None,<NA>,<NA>,None,None,None,None,None,<NA>,<NA>,<NA>,<NA>,None,None,MI,6207,1,1,1,0,1,0,July,segment3,None,The customer has no minimum scoring criteria,None,None,0,0,0,0,0,0,0,36,0,0,0,,0,,,,0,0,0,0,0,,,,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,false,false,0,0,,,,0,0,0,,0,,0,,,,0,0,0,0,0,0,0,0,None
3,None,bed596a7-06d4-4515-a19a-dbd33b456831,1939386,ROSE ANN MAY,VESTAL,VISAGAS,60819393860015,1,2023-03-12 08:46:24,2023-03-12 01:25:46,Call Center Agent/Tele Marketer,IT / Tech Consultancy / Projects / AI ML Solut...,Technology,30000,Rizal,BINANGONAN,Quick,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaT,None,None,None,None,None,None,None,None,None,None,0,0,None,None,None,None,QUANTRICS ENT INC SM TAYTAY,0,0,0,0,None,None,MI,79885,1,1,1,0,1,0,Train_Validation,segment3,Review,The customer has no minimum scoring criteria,None,None,0,0,0,0,0,0,27,27,0,0,0,,0,,,,0,0,0,0,0,,,,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,false,false,0,0,java.util.GregorianCalendar[time=-922337203685...,,,0,0,0,,0,,0,,,,0,0,0,0,0,0,0,0,None
4,None,5fdcb2e1-43af-45ec-87ec-3a417622f808,1910585,ABIGAIL,MONTOYA,MACAPAGAL,60819105850014,1,2023-02-24 11:31:41,2023-02-21 14:23:15,Doctor/Dentist/Medical Professional,Others,Services,25000,Tarlac,TARLAC CITY,Quick,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaT,None,None,None,None,None,None,None,None,None,None,0,0,None,None,None,None,FAMILY HEALTH AND BEAUTY,0,0,0,0,None,None,MI,17991,1,1,1,0,1,0,Train_Validation,segment3,Review,The customer has no minimum scoring criteria,None,None,0,0,0,0,0,0,30,30,0,0,0,,0,,,,0,0,0,0,0,,,,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,false,false,0,0,java.util.GregorianCalendar[time=-922337203685...,,,0,0,0,,0,,0,,,,0,0,0,0,0,0,0,0,None

In [21]:
# 1. Check for duplicate rows
duplicates = mergeddf.duplicated()

# 2. Get the number of duplicate rows
num_duplicates = duplicates.sum()

print(f"Number of duplicate rows: {num_duplicates}")

# 3. View the duplicate rows
print("\nDuplicate rows:")
print(mergeddf[duplicates])

Number of duplicate rows: 0

Duplicate rows:
Empty DataFrame
Columns: [uniquekey, digitalLoanAccountId, customerId, Firstname, middleName, LastName, loanAccountNumber, flagDisbursement, disbursementDateTime, termsAndConditionsSubmitDateTime, natureofwork, subIndustryDescription, industryDescription, monthlyIncome, province, city, LoanProduct, crifApplicationId, processEngineGuid, requestGuid, ContractHistoryType, CBContractCode, ContractEndDate, ContractPhase, ContractPhaseDesc, ContractStartDate, ContractStatus, ContractStatusDesc, ContractType, ContractTypeDesc, Currency, CurrencyDesc, LastUpdateDate, OriginalCurrency, OriginalCurrencyDesc, ProviderCodeEncrypted, ProviderContractNo, ReferenceNo, Role, RoleDesc, BilledAmount, BoardResolutionFlag, BoardResolutionFlagDesc, CancellationDate, CardReferenceCode, ChargedAmount, CreditLimit, CreditPurpose, CreditPurposeDesc, FinancedAmount, FirstPaymentDate, FlagCardUsed, HolderLiability, HolderLiabilityDesc, InstallmentType, InstallmentTypeDesc, InstallmentsNumber, LastChargeDate, LastPaymentAmount, LastPaymentDate, MinPaymentIndicator, MinPaymentIndicatorDesc, MinPaymentPercentage, MonthlyPaymentAmount, NextPayment, NextPaymentDate, OutstandingBalance, OutstandingBalanceUnbilled, OutstandingPaymentsNumber, OverallCreditLimit, OverdueDays, OverdueDaysDesc, OverduePaymentsAmount, OverduePaymentsNumber, PaymentMethod, PaymentMethodDesc, PaymentPeriodicity, PaymentPeriodicityDesc, PremiumCard, PremiumCardDesc, ReorganizedCreditCode, ReorganizedCreditCodeDesc, ServicesLinesNo, TimesCardUsed, TransactionType, TransactionTypeDesc, Utilization, LinkedSubject_CBSubjectCode, LinkedSubject_Name, LinkedSubject_Role, LinkedSubject_RoleDesc, Note_TypeDesc, Note_Text, Note_Type, run_date, ContractRequestDate, SOURCE, Repaymentcategory, BusinessType, loan_segment, ...]
Index: []

### SAVE THE MERGED FILE TO LOCAL PATH

In [22]:
mergeddf.to_csv(f"{LOCALPATH}CICFinalDataSetWithCICSummaryData.csv", index = False)

### SAVE THE MERGED FILE TO CLOUD PATH

In [23]:
filename = 'CICFinalDataSetWithCICSummaryData'
bucket_name = BUCKET_NAME
new_filename = f"{CURRENT_DATE}_{MODELNAME}_{PRODUCT_TYPE}{VERSIONNAME}_{filename}.csv"
print(new_filename)
destination_blob_name = f"{CLOUDPATH}/{new_filename}"
save_df_to_gcs(mergeddf, bucket_name, destination_blob_name)

20250204_Alpha_SIL_Quick1_0_CICFinalDataSetWithCICSummaryData.csv

## CIC FEATURE CREATION

In [24]:
df = mergeddf.copy()

### GET THE LATEST RUN DATE

In [25]:
latest_run_dates = df.groupby('digitalLoanAccountId')['run_date'].max().reset_index()

df_lates_rundate_tableA = pd.merge(df, latest_run_dates, on=['digitalLoanAccountId', 'run_date'], how='inner')

In [26]:
df_lates_rundate_tableA.columns.values

array(['uniquekey', 'digitalLoanAccountId', 'customerId', 'Firstname',
       'middleName', 'LastName', 'loanAccountNumber', 'flagDisbursement',
       'disbursementDateTime', 'termsAndConditionsSubmitDateTime',
       'natureofwork', 'subIndustryDescription', 'industryDescription',
       'monthlyIncome', 'province', 'city', 'LoanProduct',
       'crifApplicationId', 'processEngineGuid', 'requestGuid',
       'ContractHistoryType', 'CBContractCode', 'ContractEndDate',
       'ContractPhase', 'ContractPhaseDesc', 'ContractStartDate',
       'ContractStatus', 'ContractStatusDesc', 'ContractType',
       'ContractTypeDesc', 'Currency', 'CurrencyDesc', 'LastUpdateDate',
       'OriginalCurrency', 'OriginalCurrencyDesc',
       'ProviderCodeEncrypted', 'ProviderContractNo', 'ReferenceNo',
       'Role', 'RoleDesc', 'BilledAmount', 'BoardResolutionFlag',
       'BoardResolutionFlagDesc', 'CancellationDate', 'CardReferenceCode',
       'ChargedAmount', 'CreditLimit', 'CreditPurpose',
       'CreditPurposeDesc', 'FinancedAmount', 'FirstPaymentDate',
       'FlagCardUsed', 'HolderLiability', 'HolderLiabilityDesc',
       'InstallmentType', 'InstallmentTypeDesc', 'InstallmentsNumber',
       'LastChargeDate', 'LastPaymentAmount', 'LastPaymentDate',
       'MinPaymentIndicator', 'MinPaymentIndicatorDesc',
       'MinPaymentPercentage', 'MonthlyPaymentAmount', 'NextPayment',
       'NextPaymentDate', 'OutstandingBalance',
       'OutstandingBalanceUnbilled', 'OutstandingPaymentsNumber',
       'OverallCreditLimit', 'OverdueDays', 'OverdueDaysDesc',
       'OverduePaymentsAmount', 'OverduePaymentsNumber', 'PaymentMethod',
       'PaymentMethodDesc', 'PaymentPeriodicity',
       'PaymentPeriodicityDesc', 'PremiumCard', 'PremiumCardDesc',
       'ReorganizedCreditCode', 'ReorganizedCreditCodeDesc',
       'ServicesLinesNo', 'TimesCardUsed', 'TransactionType',
       'TransactionTypeDesc', 'Utilization',
       'LinkedSubject_CBSubjectCode', 'LinkedSubject_Name',
       'LinkedSubject_Role', 'LinkedSubject_RoleDesc', 'Note_TypeDesc',
       'Note_Text', 'Note_Type', 'run_date', 'ContractRequestDate',
       'SOURCE', 'Repaymentcategory', 'BusinessType', 'loan_segment',
       'AnnualMonthlyIndicator', 'Currency_1', 'DateHiredFrom',
       'DateHiredTo', 'GrossIncome', 'MonthlyIncome_CIC',
       'AnnualIncome_CIC', 'OccupationDesc', 'OccupationStatusDesc',
       'PSIC', 'PSICDesc', 'TradeName', 'installmentLoanFlag',
       'NonInstallmentFlag', 'UtilitiesFlag', 'creditLoanFlag',
       'CIC_city', 'CIC_Province', 'CIC_address_type', 'rnk',
       'flg_zero_granted_ever', 'flg_zero_non_granted_ever',
       'flg_hit_flagMatched', 'FSPD30', 'obsFSPD30',
       'flag_other_segment_granted', 'targetdataselection_Quick',
       'segment', 'DescisionValue', 'exclusionRuleLabelDescription',
       'ScoreRaw', 'ScoreRange', 'Accounts30Days', 'Accounts30DaysOther',
       'Accounts60Days', 'Accounts60DaysOther', 'Accounts90Days',
       'Accounts90DaysOther', 'AgeAtLoanTermination',
       'AgeAtLoanTerminationMax', 'CreditAvgCreditLimit',
       'CreditHighestCreditLimit', 'CreditMaxOutstandingBalance',
       'CreditMaxOutstandingBalanceDate', 'CreditMaxOverdueAmount',
       'CreditMaxOverdueAmountDate', 'CreditMaxOverdueDays',
       'CreditMaxOverdueDaysDate', 'CreditNumberOfContracts',
       'CreditTotalCreditLimit', 'CreditTotalOutstandingBalanceAmount',
       'CreditTotalOverdueAmount', 'InstMaxOverdueAmount',
       'InstMaxOverdueAmountDate', 'InstMaxOverdueDays',
       'InstMaxOverdueDaysDate', 'InstNumberOfContracts',
       'InstTotalMonthlyPaymentsAmount',
       'InstTotalOutstandingBalanceAmount', 'InstTotalOverdueAmount',
       'LoanToValue', 'MonthsOfBooks', 'MonthsOfBooksOther',
       'NonInstAvgCreditLimit', 'NonInstHighestCreditLimit',
       'NonInstNumberOfContracts', 'NonInstTotalCreditLimit',
       'NonInstTotalOverdraftAmount', 'NonInstTotalUtilization',
       'NumberOfContract', 'NumberOfContractAC',
       'NumberOfContractACOther', 'NumberOfContractCLCA',
       'NumberOfContractCLCAOther', 'NumberOfContractOther',
       'NumberOfContractRF', 'NumberOfContractRFOther',
       'NumberOfContractRN', 'NumberOfContractRNOther',
       'NumberOfContractRQ', 'NumberOfContractRQOther', 'OverlimitFlag',
       'OverlimitFlagOther', 'ReportingProvidersNumber',
       'ReportingProvidersNumberOther', 'SubjectEventDate',
       'SubjectInfoTypeCode', 'SubjectInfoTypeCodeDesc',
       'TotalOutstanding', 'TotalOutstandingOther',
       'UtilityMaxBilledAmount', 'UtilityMaxBilledAmountDate',
       'UtilityMaxOutstandingBalance', 'UtilityMaxOutstandingBalanceDate',
       'UtilityMaxOverdueAmount', 'UtilityMaxOverdueAmountDate',
       'UtilityMaxOverdueDays', 'UtilityMaxOverdueDaysDate',
       'UtilityNumberOfContracts', 'UtilityTotalBilledAmount',
       'UtilityTotalOutstandingBalanceAmount',
       'UtilityTotalOverdueAmount', 'UtilizationRateCreditCard',
       'UtilizationRateCreditCardOther', 'UtilizationRateNonInstallment',
       'UtilizationRateNonInstallmentOther', 'scoreLabelDesc'],
      dtype=object)

In [27]:
print(f"The shape of the df with latest run date is:\t {df_lates_rundate_tableA.shape}")
df_table_A = df_lates_rundate_tableA[['digitalLoanAccountId','customerId','disbursementDateTime','targetdataselection_Quick','run_date','FSPD30']].drop_duplicates(keep='first')
print(f"The shape of the df with latest run date after dropping duplicates is:\t{df_table_A.shape}")

The shape of the df with latest run date is:	 (343583, 207)
The shape of the df with latest run date after dropping duplicates is:	(34895, 6)

### FILTER DATA

In [28]:
df['SanctionedAmount'] = df['CreditLimit'].fillna(df['FinancedAmount'])

df['disbursementDateTime'] = pd.to_datetime(df['disbursementDateTime']).dt.date
df['ContractStartDate'] = pd.to_datetime(df['ContractStartDate']).dt.date
df['ContractEndDate'] = pd.to_datetime(df['ContractEndDate'], errors='coerce')
df['run_date'] = pd.to_datetime(df['run_date']).dt.date
df['ContractRequestDate'] = pd.to_datetime(df['ContractRequestDate']).dt.date

df['ContractPhaseDesc'] = np.where((df['ContractEndDate'].notnull()) & (df['ContractEndDate'] < df['run_date']),
                                    'Closed',df['ContractPhaseDesc'])


df['OverdueDaysDesc'] = np.where((df['OverduePaymentsAmount'] == 0) & (df['OverduePaymentsNumber'] == 0),'Paid as agreed / Current',
                                                            df['OverdueDaysDesc'])

df['OverdueDays'] = np.where((df['OverduePaymentsAmount'] == 0) & (df['OverduePaymentsNumber'] == 0),0,  df['OverdueDays'])

### SNAPSHOT FEATURE

#### Active Contract cnt

In [29]:
granted_loans = df[df['SOURCE']=='granted']

granted_loans['disbursementDateTime'] = pd.to_datetime(granted_loans['disbursementDateTime']).dt.date
granted_loans['ContractStartDate'] = pd.to_datetime(granted_loans['ContractStartDate']).dt.date

In [30]:
snapshot_granted_loans = granted_loans[granted_loans['run_date'] >= granted_loans['ContractStartDate']]
active_contract_loans = snapshot_granted_loans[snapshot_granted_loans['ContractPhaseDesc'] =='Active']

In [31]:
active_contract_loans_count_df =active_contract_loans.groupby(['digitalLoanAccountId']).agg(
                                         cnt_active_contracts=('CBContractCode', 'nunique')).reset_index()
active_contract_loans_count_df.head(5)

                   digitalLoanAccountId  cnt_active_contracts
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                     4
1  00029466-5f50-433b-859d-23aa3cb6d04d                     1
2  000c218f-00ac-4a64-9995-dee0a36524b3                     2
3  000d27e2-705e-47e2-886d-542a43c0889b                     6
4  000f89ba-1e76-4259-b4d7-76737689180d                     3

##### Active contracts by loan segment

In [32]:
latest_run_dates = active_contract_loans.groupby('digitalLoanAccountId')['run_date'].max().reset_index()

dfactive_latest_rundate = pd.merge(active_contract_loans, latest_run_dates, on=['digitalLoanAccountId', 'run_date'], how='inner')



active_contract_loans_by_loansegment =dfactive_latest_rundate.groupby(['digitalLoanAccountId','loan_segment']).agg(
                                         cnt_active_contracts=('CBContractCode', 'nunique')).reset_index()

pivot_active_contract_loans_by_loansegment = active_contract_loans_by_loansegment.pivot_table(index=['digitalLoanAccountId'], columns='loan_segment', values=['cnt_active_contracts'])

pivot_active_contract_loans_by_loansegment.columns = [metric+'_'+sector for metric, sector in pivot_active_contract_loans_by_loansegment.columns]
pivot_active_contract_loans_by_loansegment = pivot_active_contract_loans_by_loansegment.reset_index()

pivot_active_contract_loans_by_loansegment.head(5)

,digitalLoanAccountId,cnt_active_contracts_Credit Cards,cnt_active_contracts_Credit Lines,cnt_active_contracts_Home Equity Loans,cnt_active_contracts_Other Loans,cnt_active_contracts_Personal Loans,cnt_active_contracts_Real Estate Loans,cnt_active_contracts_Short and Term Loans,cnt_active_contracts_Time Loans,cnt_active_contracts_Trust Loans
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,3.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,00029466-5f50-433b-859d-23aa3cb6d04d,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000c218f-00ac-4a64-9995-dee0a36524b3,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000d27e2-705e-47e2-886d-542a43c0889b,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN

#### Active contract max limit (max sanctioned amt)

In [33]:
active_contract_loans['SanctionedAmount'] = pd.to_numeric(active_contract_loans['SanctionedAmount'], errors='coerce')

max_creditlimit_currently_activeloans  = active_contract_loans.groupby(['digitalLoanAccountId']).agg(
                                         max_amt_active_contracts=('SanctionedAmount', 'max')).reset_index()
max_creditlimit_currently_activeloans.head(5)

                   digitalLoanAccountId  max_amt_active_contracts
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                  462700.0
1  00029466-5f50-433b-859d-23aa3cb6d04d                   90000.0
2  000c218f-00ac-4a64-9995-dee0a36524b3                   20000.0
3  000d27e2-705e-47e2-886d-542a43c0889b                  122000.0
4  000f89ba-1e76-4259-b4d7-76737689180d                   70000.0

In [34]:
max_creditlimit_currently_activeloans[max_creditlimit_currently_activeloans['digitalLoanAccountId'] == '0121fad5-fd5a-459b-ab6f-f46023955485']

                    digitalLoanAccountId  max_amt_active_contracts
73  0121fad5-fd5a-459b-ab6f-f46023955485                 1358400.0

#### Active contract total outstanding balance

In [35]:
total_OutstandingBal_currently_activeloans  =active_contract_loans.groupby(['digitalLoanAccountId']).agg(
                                         tot_active_contracts_os_amt=('OutstandingBalance', 'sum')).reset_index()

total_OutstandingBal_currently_activeloans.head(5)

                   digitalLoanAccountId tot_active_contracts_os_amt
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1     12000378573109255115474
1  00029466-5f50-433b-859d-23aa3cb6d04d                       25845
2  000c218f-00ac-4a64-9995-dee0a36524b3                           0
3  000d27e2-705e-47e2-886d-542a43c0889b               1489400037384
4  000f89ba-1e76-4259-b4d7-76737689180d                  1936951286

#### Overall Utilization

In [36]:
total_Utilization_currently_activeloans  =active_contract_loans.groupby(['digitalLoanAccountId']).agg(
                                         tot_outstandingbal_amt=('OutstandingBalance', 'sum'),
                                          tot_Sanctioned_amt=('SanctionedAmount', 'sum')  ).reset_index()

In [37]:
# First convert the columns to numeric values
total_Utilization_currently_activeloans['tot_outstandingbal_amt'] = pd.to_numeric(total_Utilization_currently_activeloans['tot_outstandingbal_amt'], errors='coerce')
total_Utilization_currently_activeloans['tot_Sanctioned_amt'] = pd.to_numeric(total_Utilization_currently_activeloans['tot_Sanctioned_amt'], errors='coerce')

# Then perform the division
total_Utilization_currently_activeloans['tot_active_contracts_util'] = total_Utilization_currently_activeloans['tot_outstandingbal_amt'] / total_Utilization_currently_activeloans['tot_Sanctioned_amt']

# Handle infinite values
total_Utilization_currently_activeloans.replace([np.inf, -np.inf], -1, inplace=True)

# Select required columns
total_Utilization_currently_activeloans = total_Utilization_currently_activeloans[['digitalLoanAccountId','tot_active_contracts_util']]

#### Overall Utilization by loan segment

In [38]:
total_Utilization_by_seg =active_contract_loans.groupby(['digitalLoanAccountId','loan_segment']).agg(
                                         tot_outstandingbal_amt=('OutstandingBalance', 'sum'),
                                          tot_Sanctioned_amt=('SanctionedAmount', 'sum')  ).reset_index()

total_Utilization_by_seg['tot_outstandingbal_amt'] = pd.to_numeric(total_Utilization_by_seg['tot_outstandingbal_amt'], errors='coerce')
total_Utilization_by_seg['tot_Sanctioned_amt'] = pd.to_numeric(total_Utilization_by_seg['tot_Sanctioned_amt'], errors='coerce')

total_Utilization_by_seg['tot_active_contracts_util'] = total_Utilization_by_seg['tot_outstandingbal_amt'] / total_Utilization_by_seg['tot_Sanctioned_amt']

In [39]:
total_Utilization_by_seg = total_Utilization_by_seg[['digitalLoanAccountId','loan_segment','tot_active_contracts_util']]

pivot_atotal_Utilization_by_seg = total_Utilization_by_seg.pivot_table(index=['digitalLoanAccountId'], columns='loan_segment', values=['tot_active_contracts_util'])

pivot_atotal_Utilization_by_seg.columns = [segment+'_'+'active_contracts_util' for metric, segment in pivot_atotal_Utilization_by_seg.columns]
pivot_atotal_Utilization_by_seg = pivot_atotal_Utilization_by_seg.reset_index()

pivot_atotal_Utilization_by_seg.head(5)

,digitalLoanAccountId,Credit Cards_active_contracts_util,Credit Lines_active_contracts_util,Home Equity Loans_active_contracts_util,Other Loans_active_contracts_util,Personal Loans_active_contracts_util,Real Estate Loans_active_contracts_util,Short and Term Loans_active_contracts_util,Time Loans_active_contracts_util,Trust Loans_active_contracts_util
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,2.000018e+11,NaN,NaN,0.818182,NaN,NaN,NaN,NaN,NaN
1,00029466-5f50-433b-859d-23aa3cb6d04d,2.871667e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000c218f-00ac-4a64-9995-dee0a36524b3,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000d27e2-705e-47e2-886d-542a43c0889b,7.778358e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,NaN,NaN,0.645633,0.732657,NaN,NaN,NaN,NaN

#### Last repayment amount

In [40]:
granted_loans = df[df['SOURCE'] == 'granted']
 

granted_loans['LastPaymentDate'] = pd.to_datetime(granted_loans['LastPaymentDate'], errors='coerce')

In [41]:
LastPaymentDate = granted_loans[(granted_loans['LastPaymentDate'] <= granted_loans['run_date'])  ]               
                                
latest_repayment_date = LastPaymentDate.groupby('digitalLoanAccountId')['LastPaymentDate'].max().reset_index()

latest_repayment = latest_repayment_date.merge(
                        LastPaymentDate[['digitalLoanAccountId', 'LastPaymentDate', 'LastPaymentAmount','PaymentMethodDesc']], on=['digitalLoanAccountId', 'LastPaymentDate'], how='left')
 
last_repay_amt_ = latest_repayment.groupby('digitalLoanAccountId').agg(
                                         last_repay_amt=('LastPaymentAmount', 'sum')).reset_index()


last_repay_amt = latest_repayment.loc[latest_repayment.groupby('digitalLoanAccountId')['LastPaymentAmount'].idxmax()]
last_repay_amt.rename(columns={'PaymentMethodDesc': 'highest_latest_repay_method'}, inplace=True)


last_repay_amt = pd.merge(last_repay_amt_, last_repay_amt[['digitalLoanAccountId','highest_latest_repay_method']], on='digitalLoanAccountId', how='left')

last_repay_amt_all = last_repay_amt[['digitalLoanAccountId','last_repay_amt', 'highest_latest_repay_method']]
last_repay_amt_all.head()

,digitalLoanAccountId,last_repay_amt,highest_latest_repay_method
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,0,Other
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,10490,Current Account Debit
2,00029466-5f50-433b-859d-23aa3cb6d04d,24916,Cash
3,000d27e2-705e-47e2-886d-542a43c0889b,1000,Credit card payment
4,000f89ba-1e76-4259-b4d7-76737689180d,2999,None

In [42]:
LastPaymentDate_30d = granted_loans[(granted_loans['LastPaymentDate'] >= (granted_loans['run_date'] - pd.Timedelta(days=30))) & 
                 (granted_loans['LastPaymentDate'] <= granted_loans['run_date'])]

# Get the latest repayment date per digitalLoanAccountId
latest_repayment_date_30d = LastPaymentDate_30d.groupby('digitalLoanAccountId')['LastPaymentDate'].max().reset_index()

# Merge to get the corresponding RepaymentAmount
latest_repayment_30d = latest_repayment_date_30d.merge(
                        LastPaymentDate_30d[['digitalLoanAccountId', 'LastPaymentDate', 'LastPaymentAmount','PaymentMethodDesc']], on=['digitalLoanAccountId', 'LastPaymentDate'], how='left')


latest_repayment_30d_ = latest_repayment_30d.groupby(['digitalLoanAccountId']).agg(
                                         last_repay_amt_30d=('LastPaymentAmount', 'sum') ).reset_index()

 
last_repay_amt_30d = latest_repayment_30d.loc[latest_repayment_30d.groupby('digitalLoanAccountId')['LastPaymentAmount'].idxmax()]
last_repay_amt_30d.rename(columns={'PaymentMethodDesc': 'highest_latest_repay_method_30d'}, inplace=True)


last_repay_amt_30d = pd.merge(latest_repayment_30d_, last_repay_amt_30d[['digitalLoanAccountId','highest_latest_repay_method_30d']], on='digitalLoanAccountId', how='left')

last_repay_amt_30d = last_repay_amt_30d[['digitalLoanAccountId','last_repay_amt_30d', 'highest_latest_repay_method_30d']]
last_repay_amt_30d.head()

,digitalLoanAccountId,last_repay_amt_30d,highest_latest_repay_method_30d
0,0099c9ad-46fd-428c-b00c-7ff9c04c4009,4595,Other
1,00f5147b-5591-4602-af90-cbd639ad4a1e,1000,Cash
2,01a71534-8f57-431a-a160-9cee24e60588,5245,Current Account Debit
3,01f85e0d-dba5-4b60-b3c1-c3701c1bb12c,1888,Cash
4,01fdd27f-2809-487e-b870-c81f4e5d796d,15428,Authorization to Direct Current Account Debit

In [43]:
LastPaymentDate_60d = granted_loans[(granted_loans['LastPaymentDate'] >= (granted_loans['run_date'] - pd.Timedelta(days=60))) & 
                 (granted_loans['LastPaymentDate'] <= granted_loans['run_date'])]

# Get the latest repayment date per digitalLoanAccountId
latest_repayment_date_60d = LastPaymentDate_60d.groupby('digitalLoanAccountId')['LastPaymentDate'].max().reset_index()

# Merge to get the corresponding RepaymentAmount
latest_repayment_60d = latest_repayment_date_60d.merge(
                        LastPaymentDate_60d[['digitalLoanAccountId', 'LastPaymentDate', 'LastPaymentAmount','PaymentMethodDesc']], on=['digitalLoanAccountId', 'LastPaymentDate'], how='left')
 
latest_repayment_60d_ = latest_repayment_60d.groupby(['digitalLoanAccountId']).agg(
                                         last_repay_amt_60d=('LastPaymentAmount', 'sum') ).reset_index()
    
last_repay_amt_60d = latest_repayment_60d.loc[latest_repayment_60d.groupby('digitalLoanAccountId')['LastPaymentAmount'].idxmax()]
last_repay_amt_60d.rename(columns={'LastPaymentAmount': 'last_repay_amt_60d','PaymentMethodDesc': 'highest_latest_repay_method_60d'}, inplace=True)


last_repay_amt_60d = pd.merge(latest_repayment_60d_, last_repay_amt_60d[['digitalLoanAccountId','highest_latest_repay_method_60d']], on='digitalLoanAccountId', how='left')


last_repay_amt_60d = last_repay_amt_60d[['digitalLoanAccountId','last_repay_amt_60d', 'highest_latest_repay_method_60d']]
last_repay_amt_60d.head()

,digitalLoanAccountId,last_repay_amt_60d,highest_latest_repay_method_60d
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,10490,Current Account Debit
1,00290c7a-a15c-428f-97e7-2e339a7ba565,205240271389,Other
2,003a10c7-cd0e-44bf-8d8f-baa4bc7af7af,18260,Cheque
3,0062941b-323a-4803-8511-b133fa2fd5a3,7475683,None
4,0076231d-ce3c-4d6d-ac36-a7570df34a80,1049,Current Account Debit

In [44]:
LastPaymentDate_90d = granted_loans[(granted_loans['LastPaymentDate'] >= (granted_loans['run_date'] - pd.Timedelta(days=90))) & 
                 (granted_loans['LastPaymentDate'] <= granted_loans['run_date'])]

# Get the latest repayment date per digitalLoanAccountId
latest_repayment_date_90d = LastPaymentDate_90d.groupby('digitalLoanAccountId')['LastPaymentDate'].max().reset_index()

# Merge to get the corresponding RepaymentAmount
latest_repayment_90d = latest_repayment_date_90d.merge(
                        LastPaymentDate_90d[['digitalLoanAccountId', 'LastPaymentDate', 'LastPaymentAmount','PaymentMethodDesc']], on=['digitalLoanAccountId', 'LastPaymentDate'], how='left')

latest_repayment_90d_ = latest_repayment_90d.groupby(['digitalLoanAccountId']).agg(
                                         last_repay_amt_90d=('LastPaymentAmount', 'sum') ).reset_index()


last_repay_amt_90d = latest_repayment_90d.loc[latest_repayment_90d.groupby('digitalLoanAccountId')['LastPaymentAmount'].idxmax()]
last_repay_amt_90d.rename(columns={'LastPaymentAmount': 'last_repay_amt_90d','PaymentMethodDesc': 'highest_latest_repay_method_90d'}, inplace=True)

last_repay_amt_90d = pd.merge(latest_repayment_90d_, last_repay_amt_90d[['digitalLoanAccountId','highest_latest_repay_method_90d']], on='digitalLoanAccountId', how='left')


last_repay_amt_90d = last_repay_amt_90d[['digitalLoanAccountId','last_repay_amt_90d', 'highest_latest_repay_method_90d']]
last_repay_amt_90d.head()

,digitalLoanAccountId,last_repay_amt_90d,highest_latest_repay_method_90d
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,10490,Current Account Debit
1,00192864-69e5-4dc3-ad1f-ac7682d2b755,15000,Cash
2,00290c7a-a15c-428f-97e7-2e339a7ba565,205240271389,Other
3,002c7453-5836-4ee5-a590-6b037fa423ff,4000,Cash
4,003a10c7-cd0e-44bf-8d8f-baa4bc7af7af,18260,Cheque

In [45]:
last_repay_amt = last_repay_amt_30d.merge(last_repay_amt_60d, on='digitalLoanAccountId', how ='left')
last_repay_amt = last_repay_amt.merge(last_repay_amt_90d, on='digitalLoanAccountId', how ='left')
last_repay_amt = last_repay_amt.merge(last_repay_amt_all, on='digitalLoanAccountId', how ='left')

In [46]:
last_repay_amt.head()

,digitalLoanAccountId,last_repay_amt_30d,highest_latest_repay_method_30d,last_repay_amt_60d,highest_latest_repay_method_60d,last_repay_amt_90d,highest_latest_repay_method_90d,last_repay_amt,highest_latest_repay_method
0,0099c9ad-46fd-428c-b00c-7ff9c04c4009,4595,Other,4595,Other,4595,Other,4595,Other
1,00f5147b-5591-4602-af90-cbd639ad4a1e,1000,Cash,1000,Cash,1000,Cash,1000,Cash
2,01a71534-8f57-431a-a160-9cee24e60588,5245,Current Account Debit,5245,Current Account Debit,5245,Current Account Debit,5245,Current Account Debit
3,01f85e0d-dba5-4b60-b3c1-c3701c1bb12c,1888,Cash,1888,Cash,1888,Cash,1888,Cash
4,01fdd27f-2809-487e-b870-c81f4e5d796d,15428,Authorization to Direct Current Account Debit,15428,Authorization to Direct Current Account Debit,15428,Authorization to Direct Current Account Debit,15428,Authorization to Direct Current Account Debit

#### max_age_active_contracts_snapshot

In [47]:
active_contract_loans['ContractStartDate'] = pd.to_datetime(active_contract_loans['ContractStartDate'], format='%d-%m-%Y', errors='coerce')
active_contract_loans['run_date'] = pd.to_datetime(active_contract_loans['run_date'], format='%d-%m-%Y', errors='coerce')
active_contract_loans['ContractEndDate'] = pd.to_datetime(active_contract_loans['ContractEndDate'], format='%d-%m-%Y', errors='coerce')

In [48]:
active_contract_loans['date_diff'] = np.where(
                        active_contract_loans['ContractEndDate'].notna() & (active_contract_loans['run_date'] >= active_contract_loans['ContractEndDate']),
                        (active_contract_loans['ContractEndDate'] - active_contract_loans['ContractStartDate']).dt.days,
                        (active_contract_loans['run_date'] - active_contract_loans['ContractStartDate']).dt.days)


# Find the max date difference for each Loan_id
max_age_active_loans = active_contract_loans.groupby('digitalLoanAccountId').agg(
                                        max_age_active_contracts_snapshot=('date_diff', 'max')).reset_index()

In [49]:
max_age_active_loans.head()

                   digitalLoanAccountId  max_age_active_contracts_snapshot
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                             2314.0
1  00029466-5f50-433b-859d-23aa3cb6d04d                             2016.0
2  000c218f-00ac-4a64-9995-dee0a36524b3                             1625.0
3  000d27e2-705e-47e2-886d-542a43c0889b                             3165.0
4  000f89ba-1e76-4259-b4d7-76737689180d                              676.0

#### max_age_all_contracts_snapshot

In [50]:
snapshot_granted_loans['ContractStartDate'] = pd.to_datetime(snapshot_granted_loans['ContractStartDate'], format='%d-%m-%Y', errors='coerce')
snapshot_granted_loans['run_date'] = pd.to_datetime(snapshot_granted_loans['run_date'], format='%d-%m-%Y', errors='coerce')
snapshot_granted_loans['ContractEndDate'] = pd.to_datetime(snapshot_granted_loans['ContractEndDate'], format='%d-%m-%Y', errors='coerce')

In [51]:

snapshot_granted_loans['date_diff'] = np.where(
                        snapshot_granted_loans['ContractEndDate'].notna() & (snapshot_granted_loans['run_date'] >= snapshot_granted_loans['ContractEndDate']),
                        (snapshot_granted_loans['ContractEndDate'] - snapshot_granted_loans['ContractStartDate']).dt.days,
                        (snapshot_granted_loans['run_date'] - snapshot_granted_loans['ContractStartDate']).dt.days)

In [52]:

# Find the max date difference for each Loan_id
max_age_granted_loans = snapshot_granted_loans.groupby('digitalLoanAccountId').agg(
                                        max_age_all_contracts_snapshot=('date_diff', 'max')).reset_index()

max_age_granted_loans.head()

                   digitalLoanAccountId  max_age_all_contracts_snapshot
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                          2314.0
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                           586.0
2  00029466-5f50-433b-859d-23aa3cb6d04d                          2016.0
3  000c218f-00ac-4a64-9995-dee0a36524b3                          1625.0
4  000d27e2-705e-47e2-886d-542a43c0889b                          3165.0

#### Days since last enquiry granted and non granted

In [53]:
df['run_date'] = pd.to_datetime(df['run_date'], errors='coerce')
df['ContractStartDate'] = pd.to_datetime(df['ContractStartDate'], errors='coerce')
df['ContractRequestDate'] = pd.to_datetime(df['ContractRequestDate'], errors='coerce')

df['no_of_last_enquiry_days'] = np.where(df['ContractStartDate'].isna(),
                                (df['run_date'] - df['ContractRequestDate']).dt.days,
                                (df['run_date'] - df['ContractStartDate']).dt.days)

In [54]:
latest_run_dates = df.groupby('digitalLoanAccountId')['run_date'].max().reset_index()

df_latest_rundate = pd.merge(df, latest_run_dates, on=['digitalLoanAccountId', 'run_date'], how='inner')

In [55]:
last_enquiry_days = df_latest_rundate.groupby('digitalLoanAccountId').agg(
                                        days_since_last_inquiry=('no_of_last_enquiry_days', 'min')).reset_index()
last_enquiry_days.head()

                   digitalLoanAccountId  days_since_last_inquiry
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                    273.0
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                    174.0
2  00029466-5f50-433b-859d-23aa3cb6d04d                   2016.0
3  0003fdec-9a83-4b74-b775-03b0af1ff5b4                      NaN
4  00040a1b-6b3f-48e4-953d-46c5724fb58b                      NaN

#### Days since last grant date

In [56]:
latest_rundates = snapshot_granted_loans.groupby('digitalLoanAccountId')['run_date'].max().reset_index()

df_latest_rundate = pd.merge(snapshot_granted_loans, latest_rundates, on=['digitalLoanAccountId', 'run_date'], how='inner')


latest_grant_dates = df_latest_rundate.groupby(['digitalLoanAccountId','run_date'])['ContractStartDate'].max().reset_index()

latest_grant_dates['days_since_last_grant'] = (latest_grant_dates['run_date'] - latest_grant_dates['ContractStartDate']).dt.days
latest_grant_dates = latest_grant_dates[['digitalLoanAccountId','days_since_last_grant']]
latest_grant_dates.head()

                   digitalLoanAccountId  days_since_last_grant
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                    273
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                    201
2  00029466-5f50-433b-859d-23aa3cb6d04d                   2016
3  000c218f-00ac-4a64-9995-dee0a36524b3                    685
4  000d27e2-705e-47e2-886d-542a43c0889b                    194

#### Days since last closed date

In [57]:
# Filter the DataFrame to include relevant rows
closed_contract_loans = snapshot_granted_loans[snapshot_granted_loans['ContractPhaseDesc'].isin(['Closed', 'Closed in advance'])]



latest_rundates = closed_contract_loans.groupby('digitalLoanAccountId')['run_date'].max().reset_index()
dfclosed_latest_rundate = pd.merge(closed_contract_loans, latest_rundates, on=['digitalLoanAccountId', 'run_date'], how='inner')


# Find the latest 'ContractEndDate' for each 'digitalLoanAccountId'
latest_closed_dates = dfclosed_latest_rundate.groupby(['digitalLoanAccountId','run_date'])['ContractEndDate'].max().reset_index()

latest_closed_dates['days_since_last_closed'] = (latest_closed_dates['run_date'] - latest_closed_dates['ContractEndDate']).dt.days
latest_closed_dates = latest_closed_dates[['digitalLoanAccountId','days_since_last_closed']]
latest_closed_dates.head(3)

                   digitalLoanAccountId  days_since_last_closed
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                    93.0
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                     2.0
2  00029466-5f50-433b-859d-23aa3cb6d04d                   686.0

#### Days since last repayment date

In [58]:
snapshot_granted_loans['LastPaymentDate'] = pd.to_datetime(snapshot_granted_loans['LastPaymentDate'])


latest_rundates = snapshot_granted_loans.groupby('digitalLoanAccountId')['run_date'].max().reset_index()
dfrepay_latest_rundate = pd.merge(snapshot_granted_loans, latest_rundates, on=['digitalLoanAccountId', 'run_date'], how='inner')



latest_repay_dates = dfrepay_latest_rundate.groupby(['digitalLoanAccountId','run_date'])['LastPaymentDate'].max().reset_index()
latest_repay_dates['days_since_last_repay'] = (latest_repay_dates['run_date'] - latest_repay_dates['LastPaymentDate']).dt.days
latest_repay_dates = latest_repay_dates[['digitalLoanAccountId','days_since_last_repay']]
latest_repay_dates.head(3)

                   digitalLoanAccountId  days_since_last_repay
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                  476.0
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                   33.0
2  00029466-5f50-433b-859d-23aa3cb6d04d                  735.0

#### Days since rejection date

In [59]:
refused_contract_loans = df[df['ContractPhaseDesc'] == 'Refused']

refused_contract_loans['ContractRequestDate'] = pd.to_datetime(refused_contract_loans['ContractRequestDate'], errors='coerce')
refused_contract_loans['run_date'] = pd.to_datetime(refused_contract_loans['run_date'], errors='coerce')


latest_rundates = refused_contract_loans.groupby('digitalLoanAccountId')['run_date'].max().reset_index()
dfrefused_latest_rundate = pd.merge(refused_contract_loans, latest_rundates, on=['digitalLoanAccountId', 'run_date'], how='inner')


# Find the latest 'ContractRequestDate' for each 'digitalLoanAccountId'
latest_reject_dates = dfrefused_latest_rundate.groupby(['digitalLoanAccountId','run_date'])['ContractRequestDate'].max().reset_index()
latest_reject_dates['days_since_last_reject'] = (latest_reject_dates['run_date'] - latest_reject_dates['ContractRequestDate']).dt.days
latest_reject_dates = latest_reject_dates[['digitalLoanAccountId','days_since_last_reject']]
latest_reject_dates.head()

                   digitalLoanAccountId  days_since_last_reject
0  015654c8-95a6-4e43-98ee-193d5c04c1a2                    19.0
1  01e32847-b240-4d33-b694-a466e3c054a3                  3689.0
2  01fdd27f-2809-487e-b870-c81f4e5d796d                   287.0
3  032c7640-a367-4365-b689-ec2fb37452ba                   419.0
4  03f1a07f-bb04-4884-9c98-68a6c95b76d2                  2552.0

#### Days since renounce date

In [60]:
renounced_contract_loans = df[df['ContractPhaseDesc'] == 'Renounced']

renounced_contract_loans['ContractRequestDate'] = pd.to_datetime(renounced_contract_loans['ContractRequestDate'], errors='coerce')
renounced_contract_loans['run_date'] = pd.to_datetime(renounced_contract_loans['run_date'], errors='coerce')


latest_rundates = renounced_contract_loans.groupby('digitalLoanAccountId')['run_date'].max().reset_index()
dfrenounced_latest_rundate = pd.merge(renounced_contract_loans, latest_rundates, on=['digitalLoanAccountId', 'run_date'], how='inner')



# Find the latest 'ContractRequestDate' for each 'digitalLoanAccountId'
latest_renounced_dates = dfrenounced_latest_rundate.groupby(['digitalLoanAccountId','run_date'])['ContractRequestDate'].max().reset_index()
latest_renounced_dates['days_since_last_renounce'] = (latest_renounced_dates['run_date'] - latest_renounced_dates['ContractRequestDate']).dt.days
latest_renounced_dates = latest_renounced_dates[['digitalLoanAccountId','days_since_last_renounce']]
latest_renounced_dates.head()

                   digitalLoanAccountId  days_since_last_renounce
0  00e587d6-e542-46b0-8ac6-9141d2278748                    2717.0
1  01ecd2b8-8c58-4915-a4a8-691339541287                    2109.0
2  02e08921-d8ac-4968-872c-857cf5f200bf                    2433.0
3  0376a9ae-f993-494c-811a-09f621062271                    2668.0
4  049461eb-f9b1-48c8-946e-06a09ca72432                    2373.0

In [61]:
snapshot_feature_df = active_contract_loans_count_df.merge(pivot_active_contract_loans_by_loansegment, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(max_creditlimit_currently_activeloans, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(total_OutstandingBal_currently_activeloans, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(total_Utilization_currently_activeloans, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(pivot_atotal_Utilization_by_seg, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(last_repay_amt, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(max_age_active_loans, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(max_age_granted_loans, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(last_enquiry_days, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(latest_grant_dates, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(latest_closed_dates, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(latest_repay_dates, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(latest_reject_dates, on ='digitalLoanAccountId', how ='outer')
snapshot_feature_df = snapshot_feature_df.merge(latest_renounced_dates, on ='digitalLoanAccountId', how ='outer')

### Historical Features For Granted Loans

In [62]:
# df['disbursementDateTime'] = pd.to_datetime(df['disbursementDateTime']).dt.date
# df['ContractStartDate'] = pd.to_datetime(df['ContractStartDate']).dt.date

df['threshold_90days'] = df['run_date'] - pd.Timedelta(days=90)
df['threshold_180days'] = df['run_date'] - pd.Timedelta(days=180)
df['threshold_365days'] = df['run_date'] - pd.Timedelta(days=365)
df['threshold_730days'] = df['run_date'] - pd.Timedelta(days=730)

In [63]:
granted_loans = df[df['SOURCE']=='granted']

granted_loans_90days = granted_loans[(granted_loans['ContractStartDate'] >= granted_loans['threshold_90days']) & (granted_loans['ContractStartDate'] <= granted_loans['run_date'])]
granted_loans_180days = granted_loans[(granted_loans['ContractStartDate'] >= granted_loans['threshold_180days']) & (granted_loans['ContractStartDate'] <= granted_loans['run_date'])]
granted_loans_365days = granted_loans[(granted_loans['ContractStartDate'] >= granted_loans['threshold_365days']) & (granted_loans['ContractStartDate'] <= granted_loans['run_date'])]
granted_loans_730days = granted_loans[(granted_loans['ContractStartDate'] >= granted_loans['threshold_730days']) & (granted_loans['ContractStartDate'] <= granted_loans['run_date'])]

#### Count of Granted loans by loan segment

In [64]:
granted_loans_by_segment_6m =granted_loans_180days.groupby(['digitalLoanAccountId','loan_segment']).agg(
                                         granted_contracts_cnt_6M=('CBContractCode', 'nunique')).reset_index()


pivot_granted_loans_by_segment_6m = granted_loans_by_segment_6m.pivot_table(index=['digitalLoanAccountId'], columns='loan_segment', values=['granted_contracts_cnt_6M'])

pivot_granted_loans_by_segment_6m.columns = [segment+'_granted_contracts_cnt_6M' for metric, segment in pivot_granted_loans_by_segment_6m.columns]
pivot_granted_loans_by_segment_6m = pivot_granted_loans_by_segment_6m.reset_index()


pivot_granted_loans_by_segment_6m.head(5)

,digitalLoanAccountId,Credit Cards_granted_contracts_cnt_6M,Credit Lines_granted_contracts_cnt_6M,Other Loans_granted_contracts_cnt_6M,Personal Loans_granted_contracts_cnt_6M,Real Estate Loans_granted_contracts_cnt_6M,Short and Term Loans_granted_contracts_cnt_6M,Time Loans_granted_contracts_cnt_6M,Trust Loans_granted_contracts_cnt_6M
0,00110c5b-49a1-4255-862b-a392be076812,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
1,00192864-69e5-4dc3-ad1f-ac7682d2b755,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,00290c7a-a15c-428f-97e7-2e339a7ba565,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN
3,0029cac0-53aa-4e91-b689-55f024af292f,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,002c7453-5836-4ee5-a590-6b037fa423ff,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
granted_loans_by_segment_12m =granted_loans_365days.groupby(['digitalLoanAccountId','loan_segment']).agg(
                                         granted_contracts_cnt_12M=('CBContractCode', 'nunique')).reset_index()


pivot_granted_loans_by_segment_12m = granted_loans_by_segment_12m.pivot_table(index=['digitalLoanAccountId'], columns='loan_segment', values=['granted_contracts_cnt_12M'])

pivot_granted_loans_by_segment_12m.columns = [segment+'_granted_contracts_cnt_12M' for metric, segment in pivot_granted_loans_by_segment_12m.columns]
pivot_granted_loans_by_segment_12m = pivot_granted_loans_by_segment_12m.reset_index()


pivot_granted_loans_by_segment_12m.head(5)

,digitalLoanAccountId,Credit Cards_granted_contracts_cnt_12M,Credit Lines_granted_contracts_cnt_12M,Home Equity Loans_granted_contracts_cnt_12M,Other Loans_granted_contracts_cnt_12M,Personal Loans_granted_contracts_cnt_12M,Real Estate Loans_granted_contracts_cnt_12M,Short and Term Loans_granted_contracts_cnt_12M,Time Loans_granted_contracts_cnt_12M,Trust Loans_granted_contracts_cnt_12M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,000d27e2-705e-47e2-886d-542a43c0889b,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000f89ba-1e76-4259-b4d7-76737689180d,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,00110c5b-49a1-4255-862b-a392be076812,NaN,NaN,NaN,1.0,7.0,NaN,NaN,NaN,NaN

In [66]:
granted_loans_by_segment_24m =granted_loans_730days.groupby(['digitalLoanAccountId','loan_segment']).agg(
                                         granted_contracts_cnt_24M=('CBContractCode', 'nunique')).reset_index()


pivot_granted_loans_by_segment_24m = granted_loans_by_segment_24m.pivot_table(index=['digitalLoanAccountId'], columns='loan_segment', values=['granted_contracts_cnt_24M'])


pivot_granted_loans_by_segment_24m.columns = [segment+'_granted_contracts_cnt_24M' for metric, segment in pivot_granted_loans_by_segment_24m.columns]
pivot_granted_loans_by_segment_24m = pivot_granted_loans_by_segment_24m.reset_index()


pivot_granted_loans_by_segment_24m.head(5)

,digitalLoanAccountId,Credit Cards_granted_contracts_cnt_24M,Credit Lines_granted_contracts_cnt_24M,Home Equity Loans_granted_contracts_cnt_24M,Other Loans_granted_contracts_cnt_24M,Personal Loans_granted_contracts_cnt_24M,Real Estate Loans_granted_contracts_cnt_24M,Short and Term Loans_granted_contracts_cnt_24M,Time Loans_granted_contracts_cnt_24M,Trust Loans_granted_contracts_cnt_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,NaN,1.0,6.0,NaN,NaN,NaN,NaN
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000d27e2-705e-47e2-886d-542a43c0889b,NaN,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN

In [67]:
granted_loan_cnt_by_segment = pivot_granted_loans_by_segment_6m.merge(pivot_granted_loans_by_segment_12m, on=['digitalLoanAccountId'], how='outer')
granted_loan_cnt_by_segment = granted_loan_cnt_by_segment.merge(pivot_granted_loans_by_segment_24m, on=['digitalLoanAccountId'], how='outer')

In [68]:
granted_loan_cnt_by_segment.columns

Index(['digitalLoanAccountId', 'Credit Cards_granted_contracts_cnt_6M',
       'Credit Lines_granted_contracts_cnt_6M',
       'Other Loans_granted_contracts_cnt_6M',
       'Personal Loans_granted_contracts_cnt_6M',
       'Real Estate Loans_granted_contracts_cnt_6M',
       'Short and Term Loans_granted_contracts_cnt_6M',
       'Time Loans_granted_contracts_cnt_6M',
       'Trust Loans_granted_contracts_cnt_6M',
       'Credit Cards_granted_contracts_cnt_12M',
       'Credit Lines_granted_contracts_cnt_12M',
       'Home Equity Loans_granted_contracts_cnt_12M',
       'Other Loans_granted_contracts_cnt_12M',
       'Personal Loans_granted_contracts_cnt_12M',
       'Real Estate Loans_granted_contracts_cnt_12M',
       'Short and Term Loans_granted_contracts_cnt_12M',
       'Time Loans_granted_contracts_cnt_12M',
       'Trust Loans_granted_contracts_cnt_12M',
       'Credit Cards_granted_contracts_cnt_24M',
       'Credit Lines_granted_contracts_cnt_24M',
       'Home Equity Loans_granted_contracts_cnt_24M',
       'Other Loans_granted_contracts_cnt_24M',
       'Personal Loans_granted_contracts_cnt_24M',
       'Real Estate Loans_granted_contracts_cnt_24M',
       'Short and Term Loans_granted_contracts_cnt_24M',
       'Time Loans_granted_contracts_cnt_24M',
       'Trust Loans_granted_contracts_cnt_24M'],
      dtype='object')

#### Count of Granted loans 6m,12m,24m

In [69]:
granted_loans_cnt_12m =granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                         granted_contracts_cnt_12M=('CBContractCode', 'nunique')).reset_index()
granted_loans_cnt_12m.head()

                   digitalLoanAccountId  granted_contracts_cnt_12M
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                          1
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                          1
2  000d27e2-705e-47e2-886d-542a43c0889b                          1
3  000f89ba-1e76-4259-b4d7-76737689180d                          2
4  00110c5b-49a1-4255-862b-a392be076812                          8

In [70]:
granted_loans_cnt_6m =granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                         granted_contracts_cnt_6M=('CBContractCode', 'nunique')).reset_index()
granted_loans_cnt_6m.head()

                   digitalLoanAccountId  granted_contracts_cnt_6M
0  00110c5b-49a1-4255-862b-a392be076812                         3
1  00192864-69e5-4dc3-ad1f-ac7682d2b755                         2
2  00290c7a-a15c-428f-97e7-2e339a7ba565                         6
3  0029cac0-53aa-4e91-b689-55f024af292f                         1
4  002c7453-5836-4ee5-a590-6b037fa423ff                         1

In [71]:
granted_loans_cnt_24m =granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                         granted_contracts_cnt_24M=('CBContractCode', 'nunique')).reset_index()
granted_loans_cnt_24m.head()

                   digitalLoanAccountId  granted_contracts_cnt_24M
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                          3
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                          7
2  000c218f-00ac-4a64-9995-dee0a36524b3                          1
3  000d27e2-705e-47e2-886d-542a43c0889b                          3
4  000f89ba-1e76-4259-b4d7-76737689180d                          3

In [72]:
granted_loan_cnt_df = granted_loans_cnt_6m.merge(granted_loans_cnt_12m, on=['digitalLoanAccountId'], how='outer')
granted_loan_cnt_df = granted_loan_cnt_df.merge(granted_loans_cnt_24m, on=['digitalLoanAccountId'], how='outer')
granted_loan_cnt_df.head()

,digitalLoanAccountId,granted_contracts_cnt_6M,granted_contracts_cnt_12M,granted_contracts_cnt_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,1.0,3
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,1.0,7
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,1
3,000d27e2-705e-47e2-886d-542a43c0889b,NaN,1.0,3
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,2.0,3

#### Amt Granted loans by loan segment

In [73]:
# First convert SanctionedAmount to numeric
granted_loans_180days['SanctionedAmount'] = pd.to_numeric(granted_loans_180days['SanctionedAmount'], errors='coerce')

# Now perform the groupby operation
granted_loanamt_by_segment_6m = granted_loans_180days.groupby(['digitalLoanAccountId','loan_segment']).agg(
    granted_contracts_amt_6M=('SanctionedAmount', 'sum')).reset_index()

# Create pivot table
pivot_granted_loanamt_by_segment_6m = granted_loanamt_by_segment_6m.pivot_table(
    index=['digitalLoanAccountId'], 
    columns='loan_segment', 
    values=['granted_contracts_amt_6M'])

# Flatten column names
pivot_granted_loanamt_by_segment_6m.columns = [segment+'_granted_contracts_amt_6M' for metric, segment in pivot_granted_loanamt_by_segment_6m.columns]

# Reset index
pivot_granted_loanamt_by_segment_6m = pivot_granted_loanamt_by_segment_6m.reset_index()

In [74]:
# First convert SanctionedAmount to numeric
granted_loans_365days['SanctionedAmount'] = pd.to_numeric(granted_loans_365days['SanctionedAmount'], errors='coerce')

# Now perform the groupby operation
granted_loanamt_by_segment_12m = granted_loans_365days.groupby(['digitalLoanAccountId','loan_segment']).agg(
    granted_contracts_amt_12M=('SanctionedAmount', 'sum')).reset_index()

# Create pivot table
pivot_granted_loanamt_by_segment_12m = granted_loanamt_by_segment_12m.pivot_table(
    index=['digitalLoanAccountId'], 
    columns='loan_segment', 
    values=['granted_contracts_amt_12M'])

# Flatten column names
pivot_granted_loanamt_by_segment_12m.columns = [segment+'_granted_contracts_amt_12M' for metric, segment in pivot_granted_loanamt_by_segment_12m.columns]

# Reset index
pivot_granted_loanamt_by_segment_12m = pivot_granted_loanamt_by_segment_12m.reset_index()

In [75]:
pivot_granted_loanamt_by_segment_12m[pivot_granted_loanamt_by_segment_12m['Short and Term Loans_granted_contracts_amt_12M'].isna()==False][['digitalLoanAccountId','Short and Term Loans_granted_contracts_amt_12M']]

,digitalLoanAccountId,Short and Term Loans_granted_contracts_amt_12M
7,00192864-69e5-4dc3-ad1f-ac7682d2b755,25499.0
9,0029cac0-53aa-4e91-b689-55f024af292f,1000.0
12,003a10c7-cd0e-44bf-8d8f-baa4bc7af7af,38797.0
21,0076231d-ce3c-4d6d-ac36-a7570df34a80,55013.0
22,007adc75-c7d6-4cc5-a89e-7443183039c7,11976.0
...,...,...
14313,ffd3fe82-9f6d-483f-bd3f-303f0a764919,2971.0
14316,ffdfe1b3-b76c-4980-883e-676cf9d83af3,10223.0
14320,ffe51f29-c7b8-4b2d-88ef-bb4f0d585b7d,92956.0
14322,fff3d321-ff4a-47a7-a9e4-1c4fe530162a,5000.0
14324,fffd188a-c6fe-4217-b16d-e250c15c1747,104896.0

In [76]:
pivot_granted_loanamt_by_segment_12m[pivot_granted_loanamt_by_segment_12m['digitalLoanAccountId'] == '0121fad5-fd5a-459b-ab6f-f46023955485']['Short and Term Loans_granted_contracts_amt_12M']

Series([], Name: Short and Term Loans_granted_contracts_amt_12M, dtype: float64)

In [77]:
# First convert SanctionedAmount to numeric
granted_loans_730days['SanctionedAmount'] = pd.to_numeric(granted_loans_730days['SanctionedAmount'], errors='coerce')

# Now perform the groupby operation
granted_loansamt_by_segment_24m = granted_loans_730days.groupby(['digitalLoanAccountId','loan_segment']).agg(
    granted_contracts_amt_24M=('SanctionedAmount', 'sum')).reset_index()

# Create pivot table
pivot_granted_loansamt_by_segment_24m = granted_loansamt_by_segment_24m.pivot_table(
    index=['digitalLoanAccountId'], 
    columns='loan_segment', 
    values=['granted_contracts_amt_24M'])

# Flatten column names
pivot_granted_loansamt_by_segment_24m.columns = [segment+'_granted_contracts_amt_24M' for metric, segment in pivot_granted_loansamt_by_segment_24m.columns]

# Reset index
pivot_granted_loansamt_by_segment_24m = pivot_granted_loansamt_by_segment_24m.reset_index()

In [78]:
granted_loan_amt_by_segment = pivot_granted_loanamt_by_segment_6m.merge(pivot_granted_loanamt_by_segment_12m, on=['digitalLoanAccountId'], how='outer')
granted_loan_amt_by_segment = granted_loan_amt_by_segment.merge(pivot_granted_loansamt_by_segment_24m, on=['digitalLoanAccountId'], how='outer')

In [79]:
granted_loan_amt_by_segment.columns

Index(['digitalLoanAccountId', 'Credit Cards_granted_contracts_amt_6M',
       'Credit Lines_granted_contracts_amt_6M',
       'Other Loans_granted_contracts_amt_6M',
       'Personal Loans_granted_contracts_amt_6M',
       'Real Estate Loans_granted_contracts_amt_6M',
       'Short and Term Loans_granted_contracts_amt_6M',
       'Time Loans_granted_contracts_amt_6M',
       'Trust Loans_granted_contracts_amt_6M',
       'Credit Cards_granted_contracts_amt_12M',
       'Credit Lines_granted_contracts_amt_12M',
       'Home Equity Loans_granted_contracts_amt_12M',
       'Other Loans_granted_contracts_amt_12M',
       'Personal Loans_granted_contracts_amt_12M',
       'Real Estate Loans_granted_contracts_amt_12M',
       'Short and Term Loans_granted_contracts_amt_12M',
       'Time Loans_granted_contracts_amt_12M',
       'Trust Loans_granted_contracts_amt_12M',
       'Credit Cards_granted_contracts_amt_24M',
       'Credit Lines_granted_contracts_amt_24M',
       'Home Equity Loans_granted_contracts_amt_24M',
       'Other Loans_granted_contracts_amt_24M',
       'Personal Loans_granted_contracts_amt_24M',
       'Real Estate Loans_granted_contracts_amt_24M',
       'Short and Term Loans_granted_contracts_amt_24M',
       'Time Loans_granted_contracts_amt_24M',
       'Trust Loans_granted_contracts_amt_24M'],
      dtype='object')

#### Amt of Granted loans 6m,12m,24m

In [80]:
granted_loans_amt_12m =granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                         tot_granted_contracts_amt_12M=('SanctionedAmount', 'sum')).reset_index()
granted_loans_amt_12m.head()

                   digitalLoanAccountId  tot_granted_contracts_amt_12M
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                        30000.0
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                        50000.0
2  000d27e2-705e-47e2-886d-542a43c0889b                            0.0
3  000f89ba-1e76-4259-b4d7-76737689180d                        30000.0
4  00110c5b-49a1-4255-862b-a392be076812                       101461.0

In [81]:
granted_loans_amt_6m =granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                         tot_granted_contracts_amt_6M=('SanctionedAmount', 'sum')).reset_index()
granted_loans_amt_6m.head()

                   digitalLoanAccountId  tot_granted_contracts_amt_6M
0  00110c5b-49a1-4255-862b-a392be076812                       77023.0
1  00192864-69e5-4dc3-ad1f-ac7682d2b755                      175000.0
2  00290c7a-a15c-428f-97e7-2e339a7ba565                       56909.0
3  0029cac0-53aa-4e91-b689-55f024af292f                        1000.0
4  002c7453-5836-4ee5-a590-6b037fa423ff                       21000.0

In [82]:
granted_loans_amt_24m =granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                         tot_granted_contracts_amt_24M=('SanctionedAmount', 'sum')).reset_index()
granted_loans_amt_24m.head()

                   digitalLoanAccountId  tot_granted_contracts_amt_24M
0  0000181e-f0bc-414d-bbc1-69fd841f4bc1                        90000.0
1  00025b22-70c8-4d93-ad59-4a58f5c11d56                       145342.0
2  000c218f-00ac-4a64-9995-dee0a36524b3                            0.0
3  000d27e2-705e-47e2-886d-542a43c0889b                        23500.0
4  000f89ba-1e76-4259-b4d7-76737689180d                       100000.0

In [83]:
granted_loan_amt_df = granted_loans_amt_6m.merge(granted_loans_amt_12m, on=['digitalLoanAccountId'], how='outer')
granted_loan_amt_df = granted_loan_amt_df.merge(granted_loans_amt_24m, on=['digitalLoanAccountId'], how='outer')
granted_loan_amt_df.columns

Index(['digitalLoanAccountId', 'tot_granted_contracts_amt_6M',
       'tot_granted_contracts_amt_12M', 'tot_granted_contracts_amt_24M'],
      dtype='object')

#### total, min, max, avg for sanctioned amount

In [84]:
# granted_loans_365days['Sanctioned_amount'] = granted_loans_365days['CreditLimit'].fillna(granted_loans_365days['FinancedAmount'])
grannted_sanctioned_amt_12M= granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_granted_12M=('SanctionedAmount', 'mean'),
                                        min_amt_granted_12M=('SanctionedAmount', 'min'),
                                        max_amt_granted_12M=('SanctionedAmount', 'max') ,
#                                         total_amt_granted_12M=('SanctionedAmount', 'sum')
                                        ).reset_index()

grannted_sanctioned_amt_12M.head()

,digitalLoanAccountId,avg_amt_granted_12M,min_amt_granted_12M,max_amt_granted_12M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,30000.000,30000.0,30000.0
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,50000.000,50000.0,50000.0
2,000d27e2-705e-47e2-886d-542a43c0889b,NaN,NaN,NaN
3,000f89ba-1e76-4259-b4d7-76737689180d,30000.000,30000.0,30000.0
4,00110c5b-49a1-4255-862b-a392be076812,12682.625,2000.0,50000.0

In [85]:
grannted_sanctioned_amt_6M= granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_granted_6M=('SanctionedAmount', 'mean'),
                                        min_amt_granted_6M=('SanctionedAmount', 'min'),
                                        max_amt_granted_6M=('SanctionedAmount', 'max') ,
#                                         total_amt_granted_6M=('SanctionedAmount', 'sum')
                                            ).reset_index()

grannted_sanctioned_amt_6M.head()

,digitalLoanAccountId,avg_amt_granted_6M,min_amt_granted_6M,max_amt_granted_6M
0,00110c5b-49a1-4255-862b-a392be076812,25674.333333,4000.0,50000.0
1,00192864-69e5-4dc3-ad1f-ac7682d2b755,87500.000000,9000.0,166000.0
2,00290c7a-a15c-428f-97e7-2e339a7ba565,9484.833333,231.0,50000.0
3,0029cac0-53aa-4e91-b689-55f024af292f,1000.000000,1000.0,1000.0
4,002c7453-5836-4ee5-a590-6b037fa423ff,21000.000000,21000.0,21000.0

In [86]:
grannted_sanctioned_amt_24M= granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_granted_24M=('SanctionedAmount', 'mean'),
                                        min_amt_granted_24M=('SanctionedAmount', 'min'),
                                        max_amt_granted_24M=('SanctionedAmount', 'max') ,
#                                         total_amt_granted_24M=('SanctionedAmount', 'sum') 
                                            ).reset_index()

grannted_sanctioned_amt_24M.head()

,digitalLoanAccountId,avg_amt_granted_24M,min_amt_granted_24M,max_amt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,30000.000000,30000.0,30000.0
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,20763.142857,8010.0,50000.0
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,NaN
3,000d27e2-705e-47e2-886d-542a43c0889b,11750.000000,11000.0,12500.0
4,000f89ba-1e76-4259-b4d7-76737689180d,50000.000000,30000.0,70000.0

#### Avg and Med time difference between granted loans

In [87]:
granted_loan_datediff_12M= granted_loans_365days[['digitalLoanAccountId','ContractStartDate','CBContractCode']]
granted_loan_datediff_12M = granted_loan_datediff_12M.sort_values(by=['digitalLoanAccountId','ContractStartDate','CBContractCode'])


granted_loan_datediff_12M['ContractStartDate'] = pd.to_datetime(granted_loan_datediff_12M['ContractStartDate'])

granted_loan_datediff_12M['day_diff'] = granted_loan_datediff_12M.groupby(['digitalLoanAccountId'])['ContractStartDate'].diff().dt.days


granted_loan_datediff_12M_sorted = granted_loan_datediff_12M.dropna(subset=['day_diff'])


granted_loan_datediff_12M_df = granted_loan_datediff_12M_sorted.groupby(['digitalLoanAccountId']).agg(
                                                        no_of_difference=('ContractStartDate', 'count'),
                                                        Total_datediff_12M=('day_diff', 'sum'),
                                                        med_days_bw_contracts_12m=('day_diff', 'median')                                
                                                                ).reset_index()
    
    

# Repayment_cashin.columns = ['mobile_num','no_of_difference', 'Total_cashin_datediff_180days','Median_cashin_datediff_180days','Min_cashin_datediff_180days','Max_cashin_datediff_180days']
granted_loan_datediff_12M_df['avg_days_bw_contracts_12m'] =( granted_loan_datediff_12M_df['Total_datediff_12M']/granted_loan_datediff_12M_df['no_of_difference']).round(2)

granted_loan_datediff_12M_df= granted_loan_datediff_12M_df[['digitalLoanAccountId','med_days_bw_contracts_12m','avg_days_bw_contracts_12m']]

granted_loan_datediff_12M_df.head()

,digitalLoanAccountId,med_days_bw_contracts_12m,avg_days_bw_contracts_12m
0,000f89ba-1e76-4259-b4d7-76737689180d,1.0,1.00
1,00110c5b-49a1-4255-862b-a392be076812,42.0,39.71
2,00192864-69e5-4dc3-ad1f-ac7682d2b755,45.0,56.00
3,00290c7a-a15c-428f-97e7-2e339a7ba565,24.0,23.80
4,0029cac0-53aa-4e91-b689-55f024af292f,205.0,205.00

#### How many loans were foreclosed? 6m, 12m, 24m

In [88]:

granted_foreclosed_730days = granted_loans_730days[granted_loans_730days['ContractStatusDesc'] == 'Foreclosure']


foreclosure_cnt_24M = granted_foreclosed_730days.groupby(['digitalLoanAccountId']).agg(
                                                            cnt_foreclosed_contracts_24M=('CBContractCode', 'count')).reset_index()


foreclosure_cnt_24M.head()

                   digitalLoanAccountId  cnt_foreclosed_contracts_24M
0  003972ae-7dce-4d8c-9ab7-2ee6f0d01adc                             2
1  003a10c7-cd0e-44bf-8d8f-baa4bc7af7af                             1
2  00aa1580-66c5-48db-a714-900b2869ec04                             1
3  00b5fefc-9f6e-445b-9bf1-cd3d54e918be                             2
4  00c1c78b-2cda-4b3e-b826-e456d26a111c                             2

In [89]:

granted_foreclosed_365days = granted_loans_365days[granted_loans_365days['ContractStatusDesc'] == 'Foreclosure']

foreclosure_cnt_12M = granted_foreclosed_365days.groupby(['digitalLoanAccountId']).agg(
                                                            cnt_foreclosed_contracts_12M=('CBContractCode', 'count')).reset_index()


foreclosure_cnt_12M.head()

                   digitalLoanAccountId  cnt_foreclosed_contracts_12M
0  003972ae-7dce-4d8c-9ab7-2ee6f0d01adc                             2
1  003a10c7-cd0e-44bf-8d8f-baa4bc7af7af                             1
2  00aa1580-66c5-48db-a714-900b2869ec04                             1
3  00b5fefc-9f6e-445b-9bf1-cd3d54e918be                             2
4  00c1c78b-2cda-4b3e-b826-e456d26a111c                             1

In [90]:

granted_foreclosed_180days = granted_loans_180days[granted_loans_180days['ContractStatusDesc'] == 'Foreclosure']

foreclosure_cnt_6M = granted_foreclosed_180days.groupby(['digitalLoanAccountId']).agg(
                                                            cnt_foreclosed_contracts_6M=('CBContractCode', 'count')).reset_index()

foreclosure_cnt_6M.head()

                   digitalLoanAccountId  cnt_foreclosed_contracts_6M
0  003a10c7-cd0e-44bf-8d8f-baa4bc7af7af                            1
1  00b5fefc-9f6e-445b-9bf1-cd3d54e918be                            1
2  00c1c78b-2cda-4b3e-b826-e456d26a111c                            1
3  00d78f56-23c0-46f6-af3b-61ce8c0c4a62                            1
4  0106eef3-6f82-42fb-b1a2-7b7002f58149                            1

#### No of written off ever

In [91]:
df[df['ContractStatus'] =='WO']['ContractPhaseDesc'].unique()

array(['Active', 'Closed'], dtype=object)

In [92]:

cnt_writtenoff_ever = granted_loans[granted_loans['ContractStatus'].isin(['WC', 'WF', 'WO'])]


cnt_writtenoff_ever = cnt_writtenoff_ever.groupby(['digitalLoanAccountId']).agg(
                                                            cnt_writeoff_ever=('CBContractCode', 'count')).reset_index()

cnt_writtenoff_ever.head()

                   digitalLoanAccountId  cnt_writeoff_ever
0  001b666a-6a7a-41f9-94e0-dc35dc7d5fda                  1
1  00414a63-9755-431e-a95b-51dd466a7027                  1
2  0047123b-b775-4881-a42d-b886d126608d                  1
3  00592ed1-f63f-4540-8ddf-2f439120319b                  1
4  005945e0-946b-4a10-a54f-c0d49ad77cd9                 10

#### Velocity loans granted contracts

In [93]:
# First convert SanctionedAmount to numeric in all your dataframes
granted_loans_730days['SanctionedAmount'] = pd.to_numeric(granted_loans_730days['SanctionedAmount'], errors='coerce')
granted_loans_365days['SanctionedAmount'] = pd.to_numeric(granted_loans_365days['SanctionedAmount'], errors='coerce')
granted_loans_180days['SanctionedAmount'] = pd.to_numeric(granted_loans_180days['SanctionedAmount'], errors='coerce')
granted_loans_90days['SanctionedAmount'] = pd.to_numeric(granted_loans_90days['SanctionedAmount'], errors='coerce')

# Then run your original groupby operations
granted_sanctioned_amt_dfvelocity_24M = granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
    avg_amt_granted_24M=('SanctionedAmount', 'mean'),
    avg_cnt_granted_24M=('CBContractCode', 'nunique')).reset_index()

granted_sanctioned_amt_dfvelocity_12M = granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
    avg_amt_granted_12M=('SanctionedAmount', 'mean'),
    avg_cnt_granted_12M=('CBContractCode', 'nunique')).reset_index()

granted_sanctioned_amt_dfvelocity_6M = granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
    avg_amt_granted_6M=('SanctionedAmount', 'mean'),
    avg_cnt_granted_6M=('CBContractCode', 'nunique')).reset_index()

granted_sanctioned_amt_dfvelocity_3M = granted_loans_90days.groupby(['digitalLoanAccountId']).agg(
    avg_amt_granted_3M=('SanctionedAmount', 'mean'),
    avg_cnt_granted_3M=('CBContractCode', 'nunique')).reset_index()

In [94]:
granted_sanctioned_amt_dfvelocity_24M['avg_cnt_granted_24M'] =(granted_sanctioned_amt_dfvelocity_24M['avg_cnt_granted_24M']/24).round(3)
granted_sanctioned_amt_dfvelocity_12M['avg_cnt_granted_12M'] =(granted_sanctioned_amt_dfvelocity_12M['avg_cnt_granted_12M']/12).round(3)
granted_sanctioned_amt_dfvelocity_6M['avg_cnt_granted_6M'] =(granted_sanctioned_amt_dfvelocity_6M['avg_cnt_granted_6M']/6).round(3)
granted_sanctioned_amt_dfvelocity_3M['avg_cnt_granted_3M'] =(granted_sanctioned_amt_dfvelocity_3M['avg_cnt_granted_3M']/3).round(3)

granted_sanctioned_amt_dfvelocity_24M.head()

,digitalLoanAccountId,avg_amt_granted_24M,avg_cnt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,30000.000000,0.125
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,20763.142857,0.292
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,0.042
3,000d27e2-705e-47e2-886d-542a43c0889b,11750.000000,0.125
4,000f89ba-1e76-4259-b4d7-76737689180d,50000.000000,0.125

In [95]:
vel_contract_granted_df = pd.merge(granted_sanctioned_amt_dfvelocity_3M, granted_sanctioned_amt_dfvelocity_6M, on='digitalLoanAccountId', how='outer')
vel_contract_granted_df = pd.merge(vel_contract_granted_df, granted_sanctioned_amt_dfvelocity_12M, on='digitalLoanAccountId', how='outer')
vel_contract_granted_df = pd.merge(vel_contract_granted_df, granted_sanctioned_amt_dfvelocity_24M, on='digitalLoanAccountId', how='outer')
vel_contract_granted_df.head(3)

,digitalLoanAccountId,avg_amt_granted_3M,avg_cnt_granted_3M,avg_amt_granted_6M,avg_cnt_granted_6M,avg_amt_granted_12M,avg_cnt_granted_12M,avg_amt_granted_24M,avg_cnt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,NaN,NaN,30000.0,0.083,30000.000000,0.125
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,NaN,NaN,50000.0,0.083,20763.142857,0.292
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042

In [96]:
vel_contract_granted_df['vel_contract_granted_cnt_3on12'] = vel_contract_granted_df['avg_cnt_granted_3M']/vel_contract_granted_df['avg_cnt_granted_12M']
vel_contract_granted_df['vel_contract_granted_cnt_6on12'] = vel_contract_granted_df['avg_cnt_granted_6M']/vel_contract_granted_df['avg_cnt_granted_12M']
vel_contract_granted_df['vel_contract_granted_cnt_12on24'] = vel_contract_granted_df['avg_cnt_granted_12M']/vel_contract_granted_df['avg_cnt_granted_24M']

#### Velocity loan amount granted contracts

In [97]:
vel_contract_granted_df['vel_contract_granted_amt_3on12'] = vel_contract_granted_df['avg_amt_granted_3M']/vel_contract_granted_df['avg_amt_granted_12M']
vel_contract_granted_df['vel_contract_granted_amt_6on12'] = vel_contract_granted_df['avg_amt_granted_6M']/vel_contract_granted_df['avg_amt_granted_12M']
vel_contract_granted_df['vel_contract_granted_amt_12on24'] = vel_contract_granted_df['avg_amt_granted_12M']/vel_contract_granted_df['avg_amt_granted_24M']

In [98]:
vel_contract_granted_df.columns

Index(['digitalLoanAccountId', 'avg_amt_granted_3M', 'avg_cnt_granted_3M',
       'avg_amt_granted_6M', 'avg_cnt_granted_6M', 'avg_amt_granted_12M',
       'avg_cnt_granted_12M', 'avg_amt_granted_24M', 'avg_cnt_granted_24M',
       'vel_contract_granted_cnt_3on12', 'vel_contract_granted_cnt_6on12',
       'vel_contract_granted_cnt_12on24', 'vel_contract_granted_amt_3on12',
       'vel_contract_granted_amt_6on12', 'vel_contract_granted_amt_12on24'],
      dtype='object')

In [99]:
vel_contract_granted_df = vel_contract_granted_df[['digitalLoanAccountId','vel_contract_granted_cnt_3on12', 'vel_contract_granted_cnt_6on12',
       'vel_contract_granted_cnt_12on24', 'vel_contract_granted_amt_3on12',
       'vel_contract_granted_amt_6on12', 'vel_contract_granted_amt_12on24']]

In [100]:
vel_contract_granted_df.head(2)

,digitalLoanAccountId,vel_contract_granted_cnt_3on12,vel_contract_granted_cnt_6on12,vel_contract_granted_cnt_12on24,vel_contract_granted_amt_3on12,vel_contract_granted_amt_6on12,vel_contract_granted_amt_12on24
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,0.664000,NaN,NaN,1.000000
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,0.284247,NaN,NaN,2.408113

#### Velocity closed amount

In [101]:
closed_granted_loans = df[(df['ContractPhaseDesc']=='Closed') | (df['ContractPhaseDesc']=='Closed in advance') ]

closed_granted_loans['ContractEndDate'] = pd.to_datetime(closed_granted_loans['ContractEndDate'], errors='coerce')
closed_granted_loans['run_date'] = pd.to_datetime(closed_granted_loans['run_date'], errors='coerce')


granted_closed_loans_90days = closed_granted_loans[(closed_granted_loans['ContractEndDate'] >= closed_granted_loans['threshold_90days']) & (closed_granted_loans['ContractEndDate'] <= closed_granted_loans['run_date'])]
granted_closed_loans_180days = closed_granted_loans[(closed_granted_loans['ContractEndDate'] >= closed_granted_loans['threshold_180days']) & (closed_granted_loans['ContractEndDate'] <= closed_granted_loans['run_date'])]
granted_closed_loans_365days = closed_granted_loans[(closed_granted_loans['ContractEndDate'] >= closed_granted_loans['threshold_365days']) & (closed_granted_loans['ContractEndDate'] <= closed_granted_loans['run_date'])]
granted_closed_loans_730days = closed_granted_loans[(closed_granted_loans['ContractEndDate'] >= closed_granted_loans['threshold_730days']) & (closed_granted_loans['ContractEndDate'] <= closed_granted_loans['run_date'])]

In [102]:
# First convert SanctionedAmount to numeric in all your dataframes
granted_closed_loans_730days['SanctionedAmount'] = pd.to_numeric(granted_closed_loans_730days['SanctionedAmount'], errors='coerce')
granted_closed_loans_365days['SanctionedAmount'] = pd.to_numeric(granted_closed_loans_365days['SanctionedAmount'], errors='coerce')
granted_closed_loans_180days['SanctionedAmount'] = pd.to_numeric(granted_closed_loans_180days['SanctionedAmount'], errors='coerce')
granted_closed_loans_90days['SanctionedAmount'] = pd.to_numeric(granted_closed_loans_90days['SanctionedAmount'], errors='coerce')

granted_closed_amt_dfvelocity_24M= granted_closed_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        avg_closed_amt_granted_24M=('SanctionedAmount', 'mean'),
                                        tot_closed_cnt_granted_24M =('CBContractCode','nunique')).reset_index()

granted_closed_amt_dfvelocity_12M= granted_closed_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        avg_closed_amt_granted_12M=('SanctionedAmount', 'mean'),
                                        tot_closed_cnt_granted_12M =('CBContractCode','nunique')).reset_index()

granted_closed_amt_dfvelocity_6M= granted_closed_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        avg_closed_amt_granted_6M=('SanctionedAmount', 'mean'),
                                        tot_closed_cnt_granted_6M =('CBContractCode','nunique')).reset_index()

granted_closed_amt_dfvelocity_3M= granted_closed_loans_90days.groupby(['digitalLoanAccountId']).agg(
                                        avg_closed_amt_granted_3M=('SanctionedAmount', 'mean'),
                                        tot_closed_cnt_granted_3M =('CBContractCode','nunique')).reset_index()

In [103]:
granted_closed_amt_dfvelocity_24M['tot_closed_cnt_granted_24M'] =(granted_closed_amt_dfvelocity_24M['tot_closed_cnt_granted_24M']/24).round(3)
granted_closed_amt_dfvelocity_12M['tot_closed_cnt_granted_12M'] =(granted_closed_amt_dfvelocity_12M['tot_closed_cnt_granted_12M']/12).round(3)
granted_closed_amt_dfvelocity_6M['tot_closed_cnt_granted_6M'] =(granted_closed_amt_dfvelocity_6M['tot_closed_cnt_granted_6M']/6).round(3)
granted_closed_amt_dfvelocity_3M['tot_closed_cnt_granted_3M'] =(granted_closed_amt_dfvelocity_3M['tot_closed_cnt_granted_3M']/3).round(3)

granted_closed_amt_dfvelocity_24M.head()

,digitalLoanAccountId,avg_closed_amt_granted_24M,tot_closed_cnt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,30000.000000,0.167
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,19731.500000,0.333
2,00029466-5f50-433b-859d-23aa3cb6d04d,12000.000000,0.042
3,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,0.042
4,000d27e2-705e-47e2-886d-542a43c0889b,21166.666667,0.125

In [104]:
vel_contract_granted_closed_df = pd.merge(granted_closed_amt_dfvelocity_3M, granted_closed_amt_dfvelocity_6M, on='digitalLoanAccountId', how='outer')
vel_contract_granted_closed_df = pd.merge(vel_contract_granted_closed_df, granted_closed_amt_dfvelocity_12M, on='digitalLoanAccountId', how='outer')
vel_contract_granted_closed_df = pd.merge(vel_contract_granted_closed_df, granted_closed_amt_dfvelocity_24M, on='digitalLoanAccountId', how='outer')
vel_contract_granted_closed_df.head(3)

,digitalLoanAccountId,avg_closed_amt_granted_3M,tot_closed_cnt_granted_3M,avg_closed_amt_granted_6M,tot_closed_cnt_granted_6M,avg_closed_amt_granted_12M,tot_closed_cnt_granted_12M,avg_closed_amt_granted_24M,tot_closed_cnt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,30000.0,0.167,30000.0,0.167,30000.0,0.167
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,50000.0,0.333,50000.0,0.167,35305.0,0.167,19731.5,0.333
2,00029466-5f50-433b-859d-23aa3cb6d04d,NaN,NaN,NaN,NaN,NaN,NaN,12000.0,0.042

In [105]:
vel_contract_granted_closed_df['vel_contract_closed_amt_3on12'] = vel_contract_granted_closed_df['avg_closed_amt_granted_3M']/vel_contract_granted_closed_df['avg_closed_amt_granted_12M']
vel_contract_granted_closed_df['vel_contract_closed_amt_6on12'] = vel_contract_granted_closed_df['avg_closed_amt_granted_6M']/vel_contract_granted_closed_df['avg_closed_amt_granted_12M']
vel_contract_granted_closed_df['vel_contract_closed_amt_12on24'] = vel_contract_granted_closed_df['avg_closed_amt_granted_12M']/vel_contract_granted_closed_df['avg_closed_amt_granted_24M']

In [106]:
vel_contract_granted_closed_df = vel_contract_granted_closed_df[['digitalLoanAccountId','vel_contract_closed_amt_3on12',
                                                                'vel_contract_closed_amt_6on12','vel_contract_closed_amt_12on24']]
vel_contract_granted_closed_df.head()

,digitalLoanAccountId,vel_contract_closed_amt_3on12,vel_contract_closed_amt_6on12,vel_contract_closed_amt_12on24
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,1.00000,1.000000
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,1.41623,1.41623,1.789271
2,00029466-5f50-433b-859d-23aa3cb6d04d,NaN,NaN,NaN
3,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,NaN
4,000d27e2-705e-47e2-886d-542a43c0889b,NaN,NaN,1.889764

#### Creditlimit in last 12M

In [107]:
Creditlimit_12m = granted_loans_365days[granted_loans_365days['CreditLimit'].isna() == False]

In [108]:
Creditlimit_12m['CreditLimit'] = pd.to_numeric(Creditlimit_12m['CreditLimit'], errors='coerce')

In [109]:
credit_limit_12mon_df = Creditlimit_12m.groupby(['digitalLoanAccountId']).agg(
                                        avg_credit_limit_12M=('CreditLimit', 'mean'),
                                        min_credit_limit_12M=('CreditLimit', 'min'),
                                        max_credit_limit_12M=('CreditLimit', 'max')).reset_index()

In [110]:
credit_limit_12mon_df.head()

,digitalLoanAccountId,avg_credit_limit_12M,min_credit_limit_12M,max_credit_limit_12M
0,001715d1-ed28-45c5-bbe7-abf06634df4f,95000.0,95000,95000
1,00192864-69e5-4dc3-ad1f-ac7682d2b755,166000.0,166000,166000
2,002c7453-5836-4ee5-a590-6b037fa423ff,21000.0,21000,21000
3,003a10c7-cd0e-44bf-8d8f-baa4bc7af7af,30000.0,30000,30000
4,003aca19-ca95-441c-b94e-3eadc6b6bb98,110000.0,110000,110000

#### FinancedAmount in last 12M

In [111]:
FinancedAmount_12m = granted_loans_365days[granted_loans_365days['FinancedAmount'].isna() == False]

In [112]:
FinancedAmount_12m['FinancedAmount'] = pd.to_numeric(FinancedAmount_12m['FinancedAmount'], errors='coerce')

FinancedAmt_12mon_df = FinancedAmount_12m.groupby(['digitalLoanAccountId']).agg(
                                        avg_financed_amt_12M=('FinancedAmount', 'mean'),
                                        min_financed_amt_12M=('FinancedAmount', 'min'),
                                        max_financed_amt_12M=('FinancedAmount', 'max')).reset_index()

#### Ratio closed loans cnt/ granted loans cnt

In [113]:
total_closed_loans_24M= granted_closed_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        tot_closed_amt_granted_24M=('SanctionedAmount', 'sum'),
                                        tot_closed_cnt_granted_24M =('CBContractCode','count')).reset_index()

total_closed_loans_12M= granted_closed_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        tot_closed_amt_granted_12M=('SanctionedAmount', 'sum'),
                                        tot_closed_cnt_granted_12M =('CBContractCode','count')).reset_index()

total_closed_loans_6M= granted_closed_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        tot_closed_amt_granted_6M=('SanctionedAmount', 'sum'),
                                        tot_closed_cnt_granted_6M =('CBContractCode','count')).reset_index()

In [114]:
total_closed_loans_df = total_closed_loans_6M.merge(total_closed_loans_12M, on=['digitalLoanAccountId'],how='outer')
total_closed_loans_df = total_closed_loans_df.merge(total_closed_loans_24M, on=['digitalLoanAccountId'],how='outer')
total_closed_loans_df.head()

,digitalLoanAccountId,tot_closed_amt_granted_6M,tot_closed_cnt_granted_6M,tot_closed_amt_granted_12M,tot_closed_cnt_granted_12M,tot_closed_amt_granted_24M,tot_closed_cnt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,30000.0,1.0,60000.0,2.0,120000.0,4
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,50000.0,1.0,70610.0,2.0,157852.0,8
2,00029466-5f50-433b-859d-23aa3cb6d04d,NaN,NaN,NaN,NaN,12000.0,1
3,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,0.0,1.0,0.0,1
4,000d27e2-705e-47e2-886d-542a43c0889b,NaN,NaN,40000.0,1.0,63500.0,3

In [115]:
total_granted_loans_12M= granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        total_cnt_granted_12M=('CBContractCode', 'count'),
                                        total_amt_granted_12M=('SanctionedAmount', 'sum') ).reset_index()

total_granted_loans_6M= granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        total_cnt_granted_6M=('CBContractCode', 'count'),
                                        total_amt_granted_6M=('SanctionedAmount', 'sum') ).reset_index()

total_granted_loans_24M= granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        total_cnt_granted_24M=('CBContractCode', 'count'),
                                        total_amt_granted_24M=('SanctionedAmount', 'sum') ).reset_index()

In [116]:
total_granted_loans_df = total_granted_loans_6M.merge(total_granted_loans_12M, on=['digitalLoanAccountId'],how='outer')
total_granted_loans_df = total_granted_loans_df.merge(total_granted_loans_24M, on=['digitalLoanAccountId'],how='outer')
total_granted_loans_df.head()

,digitalLoanAccountId,total_cnt_granted_6M,total_amt_granted_6M,total_cnt_granted_12M,total_amt_granted_12M,total_cnt_granted_24M,total_amt_granted_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,1.0,30000.0,3,90000.0
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,1.0,50000.0,7,145342.0
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,NaN,NaN,1,0.0
3,000d27e2-705e-47e2-886d-542a43c0889b,NaN,NaN,1.0,0.0,3,23500.0
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,NaN,2.0,30000.0,3,100000.0

In [117]:
ratio_btw_closed_granted_loans= total_closed_loans_df.merge(total_granted_loans_df,on=['digitalLoanAccountId'], how='inner')

In [118]:
ratio_btw_closed_granted_loans['ratio_closed_over_new_granted_cnt_6M'] = ratio_btw_closed_granted_loans['tot_closed_cnt_granted_6M']/ratio_btw_closed_granted_loans['total_cnt_granted_6M']
ratio_btw_closed_granted_loans['ratio_closed_over_new_granted_cnt_12M'] = ratio_btw_closed_granted_loans['tot_closed_cnt_granted_12M']/ratio_btw_closed_granted_loans['total_cnt_granted_12M']
ratio_btw_closed_granted_loans['ratio_closed_over_new_granted_cnt_24M'] = ratio_btw_closed_granted_loans['tot_closed_cnt_granted_24M']/ratio_btw_closed_granted_loans['total_cnt_granted_24M']

In [119]:
ratio_btw_closed_granted_loans['ratio_closed_over_new_granted_amt_6M'] = ratio_btw_closed_granted_loans['total_amt_granted_6M']/ratio_btw_closed_granted_loans['tot_closed_amt_granted_6M']
ratio_btw_closed_granted_loans['ratio_closed_over_new_granted_amt_12M'] = ratio_btw_closed_granted_loans['total_amt_granted_12M']/ratio_btw_closed_granted_loans['tot_closed_amt_granted_12M']
ratio_btw_closed_granted_loans['ratio_closed_over_new_granted_amt_24M'] = ratio_btw_closed_granted_loans['total_amt_granted_24M']/ratio_btw_closed_granted_loans['tot_closed_amt_granted_24M']

In [120]:
ratio_btw_closed_granted_loans.columns

Index(['digitalLoanAccountId', 'tot_closed_amt_granted_6M',
       'tot_closed_cnt_granted_6M', 'tot_closed_amt_granted_12M',
       'tot_closed_cnt_granted_12M', 'tot_closed_amt_granted_24M',
       'tot_closed_cnt_granted_24M', 'total_cnt_granted_6M',
       'total_amt_granted_6M', 'total_cnt_granted_12M',
       'total_amt_granted_12M', 'total_cnt_granted_24M',
       'total_amt_granted_24M', 'ratio_closed_over_new_granted_cnt_6M',
       'ratio_closed_over_new_granted_cnt_12M',
       'ratio_closed_over_new_granted_cnt_24M',
       'ratio_closed_over_new_granted_amt_6M',
       'ratio_closed_over_new_granted_amt_12M',
       'ratio_closed_over_new_granted_amt_24M'],
      dtype='object')

In [121]:
ratio_btw_closed_granted_loans = ratio_btw_closed_granted_loans[['digitalLoanAccountId','ratio_closed_over_new_granted_cnt_6M',
                                                                                   'ratio_closed_over_new_granted_cnt_12M',
                                                                                   'ratio_closed_over_new_granted_cnt_24M',
                                                                                   'ratio_closed_over_new_granted_amt_6M',
                                                                                   'ratio_closed_over_new_granted_amt_12M',
                                                                                   'ratio_closed_over_new_granted_amt_24M']]

In [122]:
ratio_btw_closed_granted_loans.head()

,digitalLoanAccountId,ratio_closed_over_new_granted_cnt_6M,ratio_closed_over_new_granted_cnt_12M,ratio_closed_over_new_granted_cnt_24M,ratio_closed_over_new_granted_amt_6M,ratio_closed_over_new_granted_amt_12M,ratio_closed_over_new_granted_amt_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,2.0,1.333333,NaN,0.500000,0.750000
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,2.0,1.142857,NaN,0.708115,0.920749
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,1.000000,NaN,NaN,NaN
3,000d27e2-705e-47e2-886d-542a43c0889b,NaN,1.0,1.000000,NaN,0.000000,0.370079
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,0.5,0.333333,NaN,inf,inf

#### Ratio of Chargedamount/SanctionedAmount

In [123]:
granted_loans_365days['ChargedAmount'] = pd.to_numeric(granted_loans_365days['ChargedAmount'],  errors='coerce')
granted_loans_365days['SanctionedAmount'] = pd.to_numeric(granted_loans_365days['SanctionedAmount'], errors='coerce')
granted_loans_180days['ChargedAmount'] = pd.to_numeric(granted_loans_180days['ChargedAmount'],  errors='coerce')
granted_loans_180days['SanctionedAmount'] = pd.to_numeric(granted_loans_180days['SanctionedAmount'], errors='coerce')
granted_loans_730days['ChargedAmount'] = pd.to_numeric(granted_loans_730days['ChargedAmount'],  errors='coerce')
granted_loans_730days['SanctionedAmount'] = pd.to_numeric(granted_loans_730days['SanctionedAmount'], errors='coerce')

granted_loans_365days['Ratio_of_ChargedAmout'] = (granted_loans_365days['ChargedAmount']/granted_loans_365days['SanctionedAmount']).round(4)
granted_loans_180days['Ratio_of_ChargedAmout'] = (granted_loans_180days['ChargedAmount']/granted_loans_180days['SanctionedAmount']).round(4)
granted_loans_730days['Ratio_of_ChargedAmout'] = (granted_loans_730days['ChargedAmount']/granted_loans_730days['SanctionedAmount']).round(4)

In [124]:
ratio_charged_on_sanctioned_12M = granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        min_ratio_charged_on_sanctioned_12M=('Ratio_of_ChargedAmout', 'min'),
                                        max_ratio_charged_on_sanctioned_12M=('Ratio_of_ChargedAmout', 'max'),
                                        avg_ratio_charged_on_sanctioned_12M=('Ratio_of_ChargedAmout', 'mean')).reset_index()

ratio_charged_on_sanctioned_12M.head()

,digitalLoanAccountId,min_ratio_charged_on_sanctioned_12M,max_ratio_charged_on_sanctioned_12M,avg_ratio_charged_on_sanctioned_12M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,NaN
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,NaN
2,000d27e2-705e-47e2-886d-542a43c0889b,NaN,NaN,NaN
3,000f89ba-1e76-4259-b4d7-76737689180d,NaN,NaN,NaN
4,00110c5b-49a1-4255-862b-a392be076812,NaN,NaN,NaN

In [125]:
ratio_charged_on_sanctioned_6M = granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        min_ratio_charged_on_sanctioned_6M=('Ratio_of_ChargedAmout', 'min'),
                                        max_ratio_charged_on_sanctioned_6M=('Ratio_of_ChargedAmout', 'max'),
                                        avg_ratio_charged_on_sanctioned_6M=('Ratio_of_ChargedAmout', 'mean')).reset_index()

ratio_charged_on_sanctioned_6M.head()

,digitalLoanAccountId,min_ratio_charged_on_sanctioned_6M,max_ratio_charged_on_sanctioned_6M,avg_ratio_charged_on_sanctioned_6M
0,00110c5b-49a1-4255-862b-a392be076812,NaN,NaN,NaN
1,00192864-69e5-4dc3-ad1f-ac7682d2b755,0.0000,0.0000,0.0000
2,00290c7a-a15c-428f-97e7-2e339a7ba565,NaN,NaN,NaN
3,0029cac0-53aa-4e91-b689-55f024af292f,NaN,NaN,NaN
4,002c7453-5836-4ee5-a590-6b037fa423ff,0.1627,0.1627,0.1627

In [126]:
ratio_charged_on_sanctioned_24M = granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        min_ratio_charged_on_sanctioned_24M=('Ratio_of_ChargedAmout', 'min'),
                                        max_ratio_charged_on_sanctioned_24M=('Ratio_of_ChargedAmout', 'max'),
                                        avg_ratio_charged_on_sanctioned_24M=('Ratio_of_ChargedAmout', 'mean')).reset_index()

ratio_charged_on_sanctioned_24M.head()

,digitalLoanAccountId,min_ratio_charged_on_sanctioned_24M,max_ratio_charged_on_sanctioned_24M,avg_ratio_charged_on_sanctioned_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,NaN,NaN,NaN
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,NaN
2,000c218f-00ac-4a64-9995-dee0a36524b3,NaN,NaN,NaN
3,000d27e2-705e-47e2-886d-542a43c0889b,NaN,NaN,NaN
4,000f89ba-1e76-4259-b4d7-76737689180d,NaN,NaN,NaN

#### Avg, min, max installments

In [127]:
granted_loans_180days['InstallmentsNumber'] = pd.to_numeric(granted_loans_180days['InstallmentsNumber'], errors='coerce')

installments_days_6M = granted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        min_no_of_installments_6M=('InstallmentsNumber', 'min'),
                                        max_no_of_installments_6M=('InstallmentsNumber', 'max'),
                                        avg_no_of_installments_6M=('InstallmentsNumber', 'mean')).reset_index()

In [128]:
granted_loans_365days['InstallmentsNumber'] = pd.to_numeric(granted_loans_365days['InstallmentsNumber'], errors='coerce')

installments_days_12M = granted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        min_no_of_installments_12M=('InstallmentsNumber', 'min'),
                                        max_no_of_installments_12M=('InstallmentsNumber', 'max'),
                                        avg_no_of_installments_12M=('InstallmentsNumber', 'mean')).reset_index()

In [129]:
granted_loans_730days['InstallmentsNumber'] = pd.to_numeric(granted_loans_730days['InstallmentsNumber'], errors='coerce')
installments_days_24M = granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        min_no_of_installments_24M=('InstallmentsNumber', 'min'),
                                        max_no_of_installments_24M=('InstallmentsNumber', 'max'),
                                        avg_no_of_installments_24M=('InstallmentsNumber', 'mean')).reset_index()

In [130]:
Historical_feat_granted = granted_loan_cnt_by_segment.merge(granted_loan_cnt_df, on ='digitalLoanAccountId', how ='outer')
Historical_feat_granted = Historical_feat_granted.merge(granted_loan_amt_by_segment, on ='digitalLoanAccountId', how ='outer')
Historical_feat_granted = Historical_feat_granted.merge(granted_loan_amt_df, on ='digitalLoanAccountId', how ='outer')
Historical_feat_granted = Historical_feat_granted.merge(grannted_sanctioned_amt_12M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(grannted_sanctioned_amt_24M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(grannted_sanctioned_amt_6M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(granted_loan_datediff_12M_df, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(foreclosure_cnt_6M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(foreclosure_cnt_12M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(foreclosure_cnt_24M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(cnt_writtenoff_ever, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(vel_contract_granted_df, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(vel_contract_granted_closed_df, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(credit_limit_12mon_df, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(FinancedAmt_12mon_df, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(ratio_btw_closed_granted_loans, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(ratio_charged_on_sanctioned_6M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(ratio_charged_on_sanctioned_12M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(ratio_charged_on_sanctioned_24M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(installments_days_6M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(installments_days_12M, on=['digitalLoanAccountId'], how='outer')
Historical_feat_granted = Historical_feat_granted.merge(installments_days_24M, on=['digitalLoanAccountId'], how='outer')

In [131]:
Historical_feat_granted.columns

Index(['digitalLoanAccountId', 'Credit Cards_granted_contracts_cnt_6M',
       'Credit Lines_granted_contracts_cnt_6M',
       'Other Loans_granted_contracts_cnt_6M',
       'Personal Loans_granted_contracts_cnt_6M',
       'Real Estate Loans_granted_contracts_cnt_6M',
       'Short and Term Loans_granted_contracts_cnt_6M',
       'Time Loans_granted_contracts_cnt_6M',
       'Trust Loans_granted_contracts_cnt_6M',
       'Credit Cards_granted_contracts_cnt_12M',
       ...
       'avg_ratio_charged_on_sanctioned_24M', 'min_no_of_installments_6M',
       'max_no_of_installments_6M', 'avg_no_of_installments_6M',
       'min_no_of_installments_12M', 'max_no_of_installments_12M',
       'avg_no_of_installments_12M', 'min_no_of_installments_24M',
       'max_no_of_installments_24M', 'avg_no_of_installments_24M'],
      dtype='object', length=113)

### Historical Features for Non Granted

#### Non granted loans cnt and amt

In [132]:
df['ContractRequestDate'] = pd.to_datetime(df['ContractRequestDate']).dt.date

non_granted_loans = df[df['SOURCE']=='nongranted']

nongranted_loans_90days = non_granted_loans[(non_granted_loans['ContractRequestDate'] >= non_granted_loans['threshold_90days']) & (non_granted_loans['ContractRequestDate'] <= non_granted_loans['run_date'])]
nongranted_loans_180days = non_granted_loans[(non_granted_loans['ContractRequestDate'] >= non_granted_loans['threshold_180days']) & (non_granted_loans['ContractRequestDate'] <= non_granted_loans['run_date'])]
nongranted_loans_365days = non_granted_loans[(non_granted_loans['ContractRequestDate'] >= non_granted_loans['threshold_365days']) & (non_granted_loans['ContractRequestDate'] <= non_granted_loans['run_date'])]
nongranted_loans_730days = non_granted_loans[(non_granted_loans['ContractRequestDate'] >= non_granted_loans['threshold_730days']) & (non_granted_loans['ContractRequestDate'] <= non_granted_loans['run_date'])]

In [133]:
nongranted_loans_3M =nongranted_loans_90days.groupby(['digitalLoanAccountId']).agg(
                                         cnt_nongranted_contracts_3M=('CBContractCode', 'nunique'),
                                        amt_nongranted_contracts_3M=('SanctionedAmount', 'sum')).reset_index()

nongranted_loans_3M.head(3)

,digitalLoanAccountId,cnt_nongranted_contracts_3M,amt_nongranted_contracts_3M
0,000c218f-00ac-4a64-9995-dee0a36524b3,2,9000
1,000d27e2-705e-47e2-886d-542a43c0889b,2,12
2,00110c5b-49a1-4255-862b-a392be076812,1,0

In [134]:
nongranted_loans_6M =nongranted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                         cnt_nongranted_contracts_6M=('CBContractCode', 'nunique'),
                                        amt_nongranted_contracts_6M=('SanctionedAmount', 'sum')).reset_index()

nongranted_loans_6M.head(3)

,digitalLoanAccountId,cnt_nongranted_contracts_6M,amt_nongranted_contracts_6M
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,1,0
1,000c218f-00ac-4a64-9995-dee0a36524b3,2,9000
2,000d27e2-705e-47e2-886d-542a43c0889b,2,12

In [135]:
nongranted_loans_12M =nongranted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                         cnt_nongranted_contracts_12M=('CBContractCode', 'nunique'),
                                        amt_nongranted_contracts_12M=('SanctionedAmount', 'sum')).reset_index()
nongranted_loans_12M.head()

,digitalLoanAccountId,cnt_nongranted_contracts_12M,amt_nongranted_contracts_12M
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,1,0
1,000c218f-00ac-4a64-9995-dee0a36524b3,2,9000
2,000d27e2-705e-47e2-886d-542a43c0889b,2,12
3,00110c5b-49a1-4255-862b-a392be076812,1,0
4,00192864-69e5-4dc3-ad1f-ac7682d2b755,1,0

In [136]:
nongranted_loans_24M =nongranted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                         cnt_nongranted_contracts_24M=('CBContractCode', 'nunique'),
                                        amt_nongranted_contracts_24M=('SanctionedAmount', 'sum')).reset_index()
nongranted_loans_24M.head()

,digitalLoanAccountId,cnt_nongranted_contracts_24M,amt_nongranted_contracts_24M
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,1,0
1,000c218f-00ac-4a64-9995-dee0a36524b3,2,9000
2,000d27e2-705e-47e2-886d-542a43c0889b,2,12
3,00110c5b-49a1-4255-862b-a392be076812,1,0
4,00192864-69e5-4dc3-ad1f-ac7682d2b755,1,0

#### Avg and Med time difference between nongranted loans

In [137]:
nongranted_loan_datediff_12M= nongranted_loans_365days[['digitalLoanAccountId','ContractRequestDate','CBContractCode']]
nongranted_loan_datediff_12M = nongranted_loan_datediff_12M.sort_values(by=['digitalLoanAccountId','ContractRequestDate','CBContractCode'])


nongranted_loan_datediff_12M['ContractRequestDate'] = pd.to_datetime(nongranted_loan_datediff_12M['ContractRequestDate'])

nongranted_loan_datediff_12M['day_diff'] = nongranted_loan_datediff_12M.groupby(['digitalLoanAccountId'])['ContractRequestDate'].diff().dt.days


nongranted_loan_datediff_12M_sorted = nongranted_loan_datediff_12M.dropna(subset=['day_diff'])

# Sum the differences for each mobile number
nongranted_loan_datediff_12M_df = nongranted_loan_datediff_12M_sorted.groupby(['digitalLoanAccountId']).agg(
                                                        no_of_difference=('ContractRequestDate', 'count'),
                                                        Tot_days_bw_contracts_12M=('day_diff', 'sum'),
                                                        med_days_bw_contracts_12M=('day_diff', 'median')                                
                                                                ).reset_index()
    
    

# Repayment_cashin.columns = ['mobile_num','no_of_difference', 'Total_cashin_datediff_180days','Median_cashin_datediff_180days','Min_cashin_datediff_180days','Max_cashin_datediff_180days']
nongranted_loan_datediff_12M_df['avg_days_bw_contracts_12M'] =( nongranted_loan_datediff_12M_df['Tot_days_bw_contracts_12M']/nongranted_loan_datediff_12M_df['no_of_difference']).round(2)

nongranted_loan_datediff_12M_df= nongranted_loan_datediff_12M_df[['digitalLoanAccountId','med_days_bw_contracts_12M','avg_days_bw_contracts_12M','Tot_days_bw_contracts_12M']]

nongranted_loan_datediff_12M_df.head()

,digitalLoanAccountId,med_days_bw_contracts_12M,avg_days_bw_contracts_12M,Tot_days_bw_contracts_12M
0,000c218f-00ac-4a64-9995-dee0a36524b3,7.0,7.0,7.0
1,000d27e2-705e-47e2-886d-542a43c0889b,3.0,3.0,3.0
2,00290c7a-a15c-428f-97e7-2e339a7ba565,2.0,2.0,2.0
3,003972ae-7dce-4d8c-9ab7-2ee6f0d01adc,0.0,102.0,306.0
4,005945e0-946b-4a10-a54f-c0d49ad77cd9,26.0,26.0,26.0

#### Velocity loans nongranted contracts

In [138]:
nongranted_loans_730days['SanctionedAmount'] = pd.to_numeric(nongranted_loans_730days['SanctionedAmount'], errors='coerce')
nongranted_loans_365days['SanctionedAmount'] = pd.to_numeric(nongranted_loans_365days['SanctionedAmount'], errors='coerce')
nongranted_loans_180days['SanctionedAmount'] = pd.to_numeric(nongranted_loans_180days['SanctionedAmount'], errors='coerce')
nongranted_loans_90days['SanctionedAmount'] = pd.to_numeric(nongranted_loans_90days['SanctionedAmount'], errors='coerce')


nongranted_amt_dfvelocity_24M= nongranted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_nongranted_24M=('SanctionedAmount', 'mean'),
                                        avg_cnt_nongranted_24M =('CBContractCode','nunique')).reset_index()

nongranted_amt_dfvelocity_12M= nongranted_loans_365days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_nongranted_12M=('SanctionedAmount', 'mean'),
                                        avg_cnt_nongranted_12M =('CBContractCode','nunique')).reset_index()

nongranted_amt_dfvelocity_6M= nongranted_loans_180days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_nongranted_6M=('SanctionedAmount', 'mean'),
                                        avg_cnt_nongranted_6M =('CBContractCode','nunique')).reset_index()

nongranted_amt_dfvelocity_3M= nongranted_loans_90days.groupby(['digitalLoanAccountId']).agg(
                                        avg_amt_nongranted_3M=('SanctionedAmount', 'mean'),
                                        avg_cnt_nongranted_3M =('CBContractCode','nunique')).reset_index()

In [139]:
nongranted_amt_dfvelocity_24M['avg_cnt_nongranted_24M'] =(nongranted_amt_dfvelocity_24M['avg_cnt_nongranted_24M']/24).round(3)
nongranted_amt_dfvelocity_12M['avg_cnt_nongranted_12M'] =(nongranted_amt_dfvelocity_12M['avg_cnt_nongranted_12M']/12).round(3)
nongranted_amt_dfvelocity_6M['avg_cnt_nongranted_6M'] =(nongranted_amt_dfvelocity_6M['avg_cnt_nongranted_6M']/6).round(3)
nongranted_amt_dfvelocity_3M['avg_cnt_nongranted_3M'] =(nongranted_amt_dfvelocity_3M['avg_cnt_nongranted_3M']/3).round(3)

nongranted_amt_dfvelocity_24M.head()

,digitalLoanAccountId,avg_amt_nongranted_24M,avg_cnt_nongranted_24M
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,0.042
1,000c218f-00ac-4a64-9995-dee0a36524b3,9000.0,0.083
2,000d27e2-705e-47e2-886d-542a43c0889b,12.0,0.083
3,00110c5b-49a1-4255-862b-a392be076812,NaN,0.042
4,00192864-69e5-4dc3-ad1f-ac7682d2b755,NaN,0.042

In [140]:
vel_contract_nongranted_df = pd.merge(nongranted_amt_dfvelocity_3M, nongranted_amt_dfvelocity_6M, on='digitalLoanAccountId', how='outer')
vel_contract_nongranted_df = pd.merge(vel_contract_nongranted_df, nongranted_amt_dfvelocity_12M, on='digitalLoanAccountId', how='outer')
vel_contract_nongranted_df = pd.merge(vel_contract_nongranted_df, nongranted_amt_dfvelocity_24M, on='digitalLoanAccountId', how='outer')
vel_contract_nongranted_df.head(3)

,digitalLoanAccountId,avg_amt_nongranted_3M,avg_cnt_nongranted_3M,avg_amt_nongranted_6M,avg_cnt_nongranted_6M,avg_amt_nongranted_12M,avg_cnt_nongranted_12M,avg_amt_nongranted_24M,avg_cnt_nongranted_24M
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,NaN,NaN,0.167,NaN,0.083,NaN,0.042
1,000c218f-00ac-4a64-9995-dee0a36524b3,9000.0,0.667,9000.0,0.333,9000.0,0.167,9000.0,0.083
2,000d27e2-705e-47e2-886d-542a43c0889b,12.0,0.667,12.0,0.333,12.0,0.167,12.0,0.083

In [141]:
vel_contract_nongranted_df['vel_contract_nongranted_cnt_3on12'] = vel_contract_nongranted_df['avg_cnt_nongranted_3M']/vel_contract_nongranted_df['avg_cnt_nongranted_12M']
vel_contract_nongranted_df['vel_contract_nongranted_cnt_6on12'] = vel_contract_nongranted_df['avg_cnt_nongranted_6M']/vel_contract_nongranted_df['avg_cnt_nongranted_12M']
vel_contract_nongranted_df['vel_contract_nongranted_cnt_12on24'] = vel_contract_nongranted_df['avg_cnt_nongranted_12M']/vel_contract_nongranted_df['avg_cnt_nongranted_24M']

#### Velocity loan amount nongranted contracts

In [142]:
vel_contract_nongranted_df['vel_contract_nongranted_amt_3on12'] = vel_contract_nongranted_df['avg_amt_nongranted_3M']/vel_contract_nongranted_df['avg_amt_nongranted_12M']
vel_contract_nongranted_df['vel_contract_nongranted_amt_6on12'] = vel_contract_nongranted_df['avg_amt_nongranted_6M']/vel_contract_nongranted_df['avg_amt_nongranted_12M']
vel_contract_nongranted_df['vel_contract_nongranted_amt_12on24'] = vel_contract_nongranted_df['avg_amt_nongranted_12M']/vel_contract_nongranted_df['avg_amt_nongranted_24M']

In [143]:
vel_contract_nongranted_df.columns

Index(['digitalLoanAccountId', 'avg_amt_nongranted_3M',
       'avg_cnt_nongranted_3M', 'avg_amt_nongranted_6M',
       'avg_cnt_nongranted_6M', 'avg_amt_nongranted_12M',
       'avg_cnt_nongranted_12M', 'avg_amt_nongranted_24M',
       'avg_cnt_nongranted_24M', 'vel_contract_nongranted_cnt_3on12',
       'vel_contract_nongranted_cnt_6on12',
       'vel_contract_nongranted_cnt_12on24',
       'vel_contract_nongranted_amt_3on12',
       'vel_contract_nongranted_amt_6on12',
       'vel_contract_nongranted_amt_12on24'],
      dtype='object')

In [144]:
vel_contract_nongranted_df = vel_contract_nongranted_df[['digitalLoanAccountId','vel_contract_nongranted_cnt_3on12',
                                                   'vel_contract_nongranted_cnt_6on12',
                                                   'vel_contract_nongranted_cnt_12on24',
                                                   'vel_contract_nongranted_amt_3on12',
                                                   'vel_contract_nongranted_amt_6on12',
                                                   'vel_contract_nongranted_amt_12on24']]

vel_contract_nongranted_df.head()

,digitalLoanAccountId,vel_contract_nongranted_cnt_3on12,vel_contract_nongranted_cnt_6on12,vel_contract_nongranted_cnt_12on24,vel_contract_nongranted_amt_3on12,vel_contract_nongranted_amt_6on12,vel_contract_nongranted_amt_12on24
0,00025b22-70c8-4d93-ad59-4a58f5c11d56,NaN,2.012048,1.976190,NaN,NaN,NaN
1,000c218f-00ac-4a64-9995-dee0a36524b3,3.994012,1.994012,2.012048,1.0,1.0,1.0
2,000d27e2-705e-47e2-886d-542a43c0889b,3.994012,1.994012,2.012048,1.0,1.0,1.0
3,00110c5b-49a1-4255-862b-a392be076812,4.012048,2.012048,1.976190,NaN,NaN,NaN
4,00192864-69e5-4dc3-ad1f-ac7682d2b755,4.012048,2.012048,1.976190,NaN,NaN,NaN

In [145]:
Historical_feat_nongranted = nongranted_loans_3M.merge(nongranted_loans_6M, on=['digitalLoanAccountId'], how ='outer')
Historical_feat_nongranted = nongranted_loans_3M.merge(nongranted_loans_12M, on=['digitalLoanAccountId'], how ='outer')
Historical_feat_nongranted = nongranted_loans_3M.merge(nongranted_loans_24M, on=['digitalLoanAccountId'], how ='outer')
Historical_feat_nongranted = nongranted_loans_3M.merge(nongranted_loan_datediff_12M_df, on=['digitalLoanAccountId'], how ='outer')
Historical_feat_nongranted = nongranted_loans_3M.merge(vel_contract_nongranted_df, on=['digitalLoanAccountId'], how ='outer')

### Historical features for Granted and Non Granted Combined

#### Ratio of Co-Borrow cnt and Amt

In [146]:

coborrow_df_24M = granted_loans_730days[granted_loans_730days['RoleDesc'] =='Co-Borrower']

coborrow_ratio_f_24M = coborrow_df_24M.groupby(['digitalLoanAccountId']).agg(
                                        cnt_contract_coborrower_24M =('CBContractCode', 'count'),
                                        amt_contract_coborrower_24M=('SanctionedAmount', 'sum'),
                                            ).reset_index()



coborrow_ratio_f_24M.head(5)

,digitalLoanAccountId,cnt_contract_coborrower_24M,amt_contract_coborrower_24M
0,0029cac0-53aa-4e91-b689-55f024af292f,1,689600.0
1,041ab3a8-a80e-427e-8b45-e397b4eb03de,1,956800.0
2,05db6a21-5202-4870-8a8b-2c7a9c1e0343,1,2889000.0
3,0a584739-83db-4990-a40c-d157cf365d34,1,1437750.0
4,0fe9624e-d994-4fd8-a61a-0d8bfef8475f,1,420000.0

In [147]:

grantedloans_ratio_f_24M = granted_loans_730days.groupby(['digitalLoanAccountId']).agg(
                                        cnt_granted_loans_24M =('CBContractCode', 'count'),
                                        amt_granted_loans_24M=('SanctionedAmount', 'sum'),
                                            ).reset_index()



grantedloans_ratio_f_24M.head(5)

,digitalLoanAccountId,cnt_granted_loans_24M,amt_granted_loans_24M
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,3,90000.0
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,7,145342.0
2,000c218f-00ac-4a64-9995-dee0a36524b3,1,0.0
3,000d27e2-705e-47e2-886d-542a43c0889b,3,23500.0
4,000f89ba-1e76-4259-b4d7-76737689180d,3,100000.0

In [148]:
ratio_coborrow_vs_grantedloans = coborrow_ratio_f_24M.merge(grantedloans_ratio_f_24M, on='digitalLoanAccountId')
ratio_coborrow_vs_grantedloans['ratio_coborrow_contracts_cnt_24M'] =  ratio_coborrow_vs_grantedloans['cnt_contract_coborrower_24M']/ratio_coborrow_vs_grantedloans['cnt_granted_loans_24M']
ratio_coborrow_vs_grantedloans['ratio_coborrow_contracts_amt_24M'] =  ratio_coborrow_vs_grantedloans['amt_contract_coborrower_24M']/ratio_coborrow_vs_grantedloans['amt_granted_loans_24M']

ratio_coborrow_vs_grantedloans = ratio_coborrow_vs_grantedloans[['digitalLoanAccountId','ratio_coborrow_contracts_cnt_24M','ratio_coborrow_contracts_amt_24M']]

#### applicant_name_match_score

In [149]:
from fuzzywuzzy import fuzz
# Handle missing values by filling them with empty strings
df['Firstname'] = df['Firstname'].fillna('')
df['middleName'] = df['middleName'].fillna('')
df['LastName'] = df['LastName'].fillna('')
df['LinkedSubject_Name'] = df['LinkedSubject_Name'].fillna('')
 
# Create the FullName column by concatenating Firstname, middleName, and LastName
df['FullName'] = df['Firstname'] + ' ' + df['middleName'] + ' ' + df['LastName']
 
# Ensure all values are strings
df['FullName'] = df['FullName'].astype(str)
df['LinkedSubject_Name'] = df['LinkedSubject_Name'].astype(str)
 
# Function to calculate fuzzy match score with set matching
def calculate_match_score(name1, name2):
    # If either name is empty, return -9
    if not name1.strip() or not name2.strip():
        return -9
    return fuzz.token_set_ratio(name1, name2)
 
# Apply the function to calculate match scores for FullName vs LinkedSubject_Name
df['applicant_name_match_score'] = df.apply(lambda row: calculate_match_score(row['FullName'], row['LinkedSubject_Name']), axis=1)

#### applicant_employment_match_score

In [150]:
from fuzzywuzzy import fuzz
# Handle missing values by filling them with empty strings
df['natureofwork'] = df['natureofwork'].fillna('')
df['PSICDesc'] = df['PSICDesc'].fillna('')
 
# Ensure all values are strings
df['natureofwork'] = df['natureofwork'].astype(str)
df['PSICDesc'] = df['PSICDesc'].astype(str)
 
# Function to calculate fuzzy match score with set matching
def calculate_match_score(name1, name2):
    # If either name is empty, return -9
    if not name1.strip() or not name2.strip():
        return -9
    return fuzz.token_set_ratio(name1, name2)
 
# Apply the function to calculate match scores
df['applicant_employment_match_score'] = df.apply(lambda row: calculate_match_score(row['natureofwork'], row['PSICDesc']), axis=1)
 
applicant_employment_match_score = df[['digitalLoanAccountId','applicant_employment_match_score']].drop_duplicates(keep='first')

In [151]:
applicant_employment_match_score.head()

                   digitalLoanAccountId  applicant_employment_match_score
0  dd86719c-bbde-4248-af70-3a33eae3856c                                25
1  8175b2dd-fe45-4a23-9967-e90a902842e7                                -9
2  f051fe3f-0bc3-43e8-8f8c-0cc11e315ca2                                -9
3  bed596a7-06d4-4515-a19a-dbd33b456831                                -9
4  5fdcb2e1-43af-45ec-87ec-3a417622f808                                -9

In [152]:
import re
# Fill NAs and concatenate fields
df['subIndustryDescription'] = df['subIndustryDescription'].fillna(' ').astype(str)
df['industryDescription'] = df['industryDescription'].fillna(' ').astype(str)
df['OccupationDesc'] = df['OccupationDesc'].fillna(' ').astype(str)
df['OccupationStatusDesc'] = df['OccupationStatusDesc'].fillna(' ').astype(str)
 
df['industryDerived'] = df['subIndustryDescription'] + ' ' + df['industryDescription']
df['occupationDerived'] = df['OccupationDesc'] + ' ' + df['OccupationStatusDesc']
 
# Remove numbers from strings
def remove_numbers(s):
    return re.sub(r'\d+', '', s)
 
df['industryDerived'] = df['industryDerived'].apply(remove_numbers)
df['occupationDerived'] = df['occupationDerived'].apply(remove_numbers)
 
# Function to calculate fuzzy match score
def calculate_match_score(name1, name2):
    if not name1.strip() or not name2.strip():
        return -9
    return fuzz.token_set_ratio(name1, name2)
 
# Apply function to calculate match scores
df['industry_employment_match_score'] = df.apply(
    lambda row: calculate_match_score(row['industryDerived'], row['occupationDerived']),
    axis=1
)
 
# Merge the results with the existing DataFrame
applicant_employment_match_score = pd.merge(
    applicant_employment_match_score,
    df[['digitalLoanAccountId', 'industry_employment_match_score']],
    on='digitalLoanAccountId',
    how='left'
)
applicant_employment_match_score = applicant_employment_match_score.drop_duplicates()
 
# Display the updated DataFrame
applicant_employment_match_score.head()

,digitalLoanAccountId,applicant_employment_match_score,industry_employment_match_score
0,dd86719c-bbde-4248-af70-3a33eae3856c,25,39
1,8175b2dd-fe45-4a23-9967-e90a902842e7,-9,-9
2,f051fe3f-0bc3-43e8-8f8c-0cc11e315ca2,-9,-9
3,bed596a7-06d4-4515-a19a-dbd33b456831,-9,-9
4,5fdcb2e1-43af-45ec-87ec-3a417622f808,-9,-9

### Scorecard Features Binning

In [153]:
df_CreditMaxOverdueDays = df.groupby('digitalLoanAccountId')['CreditMaxOverdueDays'].max().reset_index()


df_CreditMaxOverdueDays['CreditMaxOverdueDays_0123'] = np.where(df_CreditMaxOverdueDays['CreditMaxOverdueDays'].isin([0, 1, 2, 3]), 1, 0)
df_CreditMaxOverdueDays['CreditMaxOverdueDays_456'] = np.where(df_CreditMaxOverdueDays['CreditMaxOverdueDays'].isin([4,5,6]), 1, 0)
df_CreditMaxOverdueDays['CreditMaxOverdueDays_other'] = np.where(~df_CreditMaxOverdueDays['CreditMaxOverdueDays'].isin([0,1,2,3,4,5,6]), 1, 0)


df_CreditMaxOverdueDays = df_CreditMaxOverdueDays[['digitalLoanAccountId','CreditMaxOverdueDays_0123','CreditMaxOverdueDays_456','CreditMaxOverdueDays_other']]
df_CreditMaxOverdueDays.head()

,digitalLoanAccountId,CreditMaxOverdueDays_0123,CreditMaxOverdueDays_456,CreditMaxOverdueDays_other
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,0,0,1
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,0,0,1
2,00029466-5f50-433b-859d-23aa3cb6d04d,0,0,1
3,0003fdec-9a83-4b74-b775-03b0af1ff5b4,0,0,1
4,00040a1b-6b3f-48e4-953d-46c5724fb58b,0,0,1

In [154]:
# df_CreditAvgCreditLimit.dtypes

In [155]:
# First, convert CreditAvgCreditLimit to numeric before any groupby or comparison operations
df['CreditAvgCreditLimit'] = pd.to_numeric(df['CreditAvgCreditLimit'], errors='coerce')

# Then perform your groupby operation
df_CreditAvgCreditLimit = df.groupby('digitalLoanAccountId')['CreditAvgCreditLimit'].max().reset_index()

# Now create your categorical columns
df_CreditAvgCreditLimit['CreditAvgCreditLimit_<2k'] = np.where(df_CreditAvgCreditLimit['CreditAvgCreditLimit'] < 2000, 1, 0)
df_CreditAvgCreditLimit['CreditAvgCreditLimit_2k_to_42k'] = np.where((df_CreditAvgCreditLimit['CreditAvgCreditLimit'] >= 2000) & (df_CreditAvgCreditLimit['CreditAvgCreditLimit'] < 42000), 1, 0)
df_CreditAvgCreditLimit['CreditAvgCreditLimit_42k_to_106k'] = np.where((df_CreditAvgCreditLimit['CreditAvgCreditLimit'] >= 42000) & (df_CreditAvgCreditLimit['CreditAvgCreditLimit'] < 106000), 1, 0)
df_CreditAvgCreditLimit['CreditAvgCreditLimit_>=106k'] = np.where(df_CreditAvgCreditLimit['CreditAvgCreditLimit'] >= 106000, 1, 0)
df_CreditAvgCreditLimit['CreditAvgCreditLimit_other'] = np.where(df_CreditAvgCreditLimit['CreditAvgCreditLimit'].isna(), 1, 0)

# Select final columns
df_CreditAvgCreditLimit = df_CreditAvgCreditLimit[['digitalLoanAccountId',
                                           'CreditAvgCreditLimit_<2k', 'CreditAvgCreditLimit_2k_to_42k',
                                           'CreditAvgCreditLimit_42k_to_106k', 'CreditAvgCreditLimit_>=106k',
                                           'CreditAvgCreditLimit_other']]

In [156]:
# Create the new DataFrame with specified columns and filter
df_accountsOverduePct = df[df['ContractPhaseDesc'] == 'Active'][[
    'digitalLoanAccountId',
    'customerId',
    'ContractPhaseDesc',
    'ContractStartDate',
    'ContractEndDate',
    'OverdueDaysDesc',
    'CBContractCode'
]]
 
# Define the categories of overdue days to count
overdue_categories = [
    '91-180 days delay / More than 3 Cycles late',
    '181-365 days delay',
    'More than 1 year delay'
]

df_filtered_overdue = df_accountsOverduePct[df_accountsOverduePct['OverdueDaysDesc'].isin(overdue_categories)]

#Group by 'digitalLoanAccountId' and count occurrences
df_count_90days = df_filtered_overdue.groupby('digitalLoanAccountId').size().reset_index(name='accounts90DaysCount')

 
# # Create the 'accounts90DaysCount' column that counts the number of rows per 'digitalLoanAccountId' for the specified overdue categories
# df_accountsOverduePct['accounts90DaysCount'] = df_accountsOverduePct[df_accountsOverduePct['OverdueDaysDesc'].isin(overdue_categories)].groupby('digitalLoanAccountId')['OverdueDaysDesc'].transform('count')
 

# # Create the 'total_active' column that counts the number of rows per 'digitalLoanAccountId'
df_accountsOverduePct_active = df_accountsOverduePct.groupby('digitalLoanAccountId').agg(
                                        total_active =('CBContractCode', 'count')).reset_index()
 
#Merge the counts back into the original DataFrame
df_accountsOverduePct = df_accountsOverduePct_active.merge(df_count_90days, on='digitalLoanAccountId', how='left')
    
# # Calculate 'accountsOverduePct'
df_accountsOverduePct['accountsOverduePct'] = df_accountsOverduePct['accounts90DaysCount'] / df_accountsOverduePct['total_active'] * 100
 
df_accountsOverduePct_ = df_accountsOverduePct

In [157]:
# # Create new columns based on 'accountsOverduePct'
df_accountsOverduePct['NumberOverduePct<17'] = np.where(df_accountsOverduePct['accountsOverduePct'] < 17, 1, 0)
df_accountsOverduePct['NumberOverduePct<41'] = np.where((df_accountsOverduePct['accountsOverduePct'] >= 17) & (df_accountsOverduePct['accountsOverduePct'] < 41), 1, 0)
df_accountsOverduePct['NumberOverduePct>=41'] = np.where(df_accountsOverduePct['accountsOverduePct'] >= 41, 1, 0)
df_accountsOverduePct['NumberOverduePct_other'] = np.where(df_accountsOverduePct['accountsOverduePct'].isna(), 1, 0)
 
    
df_accountsOverduePct = df_accountsOverduePct[['digitalLoanAccountId', 'NumberOverduePct<17', 'NumberOverduePct<41',
                       'NumberOverduePct>=41', 'NumberOverduePct_other']]

# # Display the new DataFrame
df_accountsOverduePct.head()

,digitalLoanAccountId,NumberOverduePct<17,NumberOverduePct<41,NumberOverduePct>=41,NumberOverduePct_other
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,0,0,0,1
1,00029466-5f50-433b-859d-23aa3cb6d04d,0,0,0,1
2,000c218f-00ac-4a64-9995-dee0a36524b3,0,0,0,1
3,000d27e2-705e-47e2-886d-542a43c0889b,0,0,0,1
4,000f89ba-1e76-4259-b4d7-76737689180d,0,0,0,1

In [158]:
df['NonInstAvgCreditLimit'] = pd.to_numeric(df['NonInstAvgCreditLimit'], errors = 'coerce')

# Group by 'digitalLoanAccountId' and get the maximum 'NonInstAvgCreditLimit'
df_NonInstAvgCreditLimit = df.groupby('digitalLoanAccountId')['NonInstAvgCreditLimit'].max().reset_index()
 
# Apply conditions to create new columns based on 'NonInstAvgCreditLimit'
df_NonInstAvgCreditLimit['NonInstAvgCreditLimit<15k'] = np.where(df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] < 15000, 1, 0)
df_NonInstAvgCreditLimit['NonInstAvgCreditLimit<35k'] = np.where((df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] >= 15000) & (df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] < 35000), 1, 0)
df_NonInstAvgCreditLimit['NonInstAvgCreditLimit<65k'] = np.where((df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] >= 35000) & (df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] < 65000), 1, 0)
df_NonInstAvgCreditLimit['NonInstAvgCreditLimit>=65k'] = np.where((df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] >= 65000) & (df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] < 106000), 1, 0)
df_NonInstAvgCreditLimit['NonInstAvgCreditLimit>=106k'] = np.where(df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'] >= 106000, 1, 0)
 # Handle NaN values in 'NonInstAvgCreditLimit' (if applicable) by using the same DataFrame
df_NonInstAvgCreditLimit['NonInstAvgCreditLimit_others'] = np.where(df_NonInstAvgCreditLimit['NonInstAvgCreditLimit'].isna(), 1, 0)

    
df_NonInstAvgCreditLimit= df_NonInstAvgCreditLimit[['digitalLoanAccountId','NonInstAvgCreditLimit<15k','NonInstAvgCreditLimit<35k', 'NonInstAvgCreditLimit<65k','NonInstAvgCreditLimit>=65k','NonInstAvgCreditLimit>=106k','NonInstAvgCreditLimit_others']]
 
df_NonInstAvgCreditLimit.head()

,digitalLoanAccountId,NonInstAvgCreditLimit<15k,NonInstAvgCreditLimit<35k,NonInstAvgCreditLimit<65k,NonInstAvgCreditLimit>=65k,NonInstAvgCreditLimit>=106k,NonInstAvgCreditLimit_others
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,1,0,0,0,0,0
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,1,0,0,0,0,0
2,00029466-5f50-433b-859d-23aa3cb6d04d,1,0,0,0,0,0
3,0003fdec-9a83-4b74-b775-03b0af1ff5b4,1,0,0,0,0,0
4,00040a1b-6b3f-48e4-953d-46c5724fb58b,1,0,0,0,0,0

In [159]:
df_ScoreRange = df.groupby('digitalLoanAccountId')['ScoreRange'].max().reset_index()

df_ScoreRange['ScoreRange_HiJiDiEiFiGiIi'] = np.where(df_ScoreRange['ScoreRange'].isin(['Hi','Ji','Di','Ei','Fi','Gi','Ii']), 1, 0)
df_ScoreRange['ScoreRange_Ci'] = np.where(df_ScoreRange['ScoreRange'].isin(['Ci']), 1, 0)
df_ScoreRange['ScoreRange_Bi'] = np.where(df_ScoreRange['ScoreRange'].isin(['Bi']), 1, 0)
df_ScoreRange['ScoreRange_Other'] = np.where(~df_ScoreRange['ScoreRange'].isin(['Hi','Ji','Di','Ei','Fi','Gi','Ii','Ci','Bi']), 1, 0)
df_ScoreRange = df_ScoreRange[['digitalLoanAccountId','ScoreRange_HiJiDiEiFiGiIi','ScoreRange_Ci','ScoreRange_Bi','ScoreRange_Other']]
df_ScoreRange.head()

,digitalLoanAccountId,ScoreRange_HiJiDiEiFiGiIi,ScoreRange_Ci,ScoreRange_Bi,ScoreRange_Other
0,0000181e-f0bc-414d-bbc1-69fd841f4bc1,0,1,0,0
1,00025b22-70c8-4d93-ad59-4a58f5c11d56,1,0,0,0
2,00029466-5f50-433b-859d-23aa3cb6d04d,0,0,0,1
3,0003fdec-9a83-4b74-b775-03b0af1ff5b4,0,0,0,1
4,00040a1b-6b3f-48e4-953d-46c5724fb58b,0,0,0,1

In [160]:
ScoreCard_Features = df_CreditMaxOverdueDays.merge(df_CreditAvgCreditLimit, on='digitalLoanAccountId',how ='outer')
ScoreCard_Features = ScoreCard_Features.merge(df_accountsOverduePct_, on='digitalLoanAccountId',how ='outer')
ScoreCard_Features = ScoreCard_Features.merge(df_NonInstAvgCreditLimit, on='digitalLoanAccountId',how ='outer')
ScoreCard_Features = ScoreCard_Features.merge(df_ScoreRange, on='digitalLoanAccountId',how ='outer')

### Scorecard Feat for Master Table

In [161]:
CreditMaxOverdueDays = df[['digitalLoanAccountId','CreditMaxOverdueDays']].drop_duplicates(keep='first')
CreditAvgCreditLimit = df[['digitalLoanAccountId','CreditAvgCreditLimit']].drop_duplicates(keep='first')
ScoreRange = df[['digitalLoanAccountId','ScoreRange']].drop_duplicates(keep='first')
NonInstAvgCreditLimit = df[['digitalLoanAccountId','NonInstAvgCreditLimit']].drop_duplicates(keep='first')
accountsOverduePct = df_accountsOverduePct_[['digitalLoanAccountId','accountsOverduePct']].drop_duplicates(keep='first')

In [162]:
ScoreCard_Features_Master = CreditMaxOverdueDays.merge(CreditAvgCreditLimit, on='digitalLoanAccountId',how ='outer')
ScoreCard_Features_Master = ScoreCard_Features_Master.merge(accountsOverduePct, on='digitalLoanAccountId',how ='outer')
ScoreCard_Features_Master = ScoreCard_Features_Master.merge(NonInstAvgCreditLimit, on='digitalLoanAccountId',how ='outer')
ScoreCard_Features_Master = ScoreCard_Features_Master.merge(ScoreRange, on='digitalLoanAccountId',how ='outer')

### Master table

In [163]:
Master_table = df_table_A.merge(snapshot_feature_df,on=['digitalLoanAccountId'],how='left')
Master_table = Master_table.merge(Historical_feat_granted,on=['digitalLoanAccountId'],how='left')
Master_table = Master_table.merge(Historical_feat_nongranted,on=['digitalLoanAccountId'],how='left')
Master_table = Master_table.merge(ratio_coborrow_vs_grantedloans,on=['digitalLoanAccountId'],how='left')
Master_table = Master_table.merge(ScoreCard_Features_Master,on=['digitalLoanAccountId'],how='left')

In [164]:
Master_table.head()

,digitalLoanAccountId,customerId,disbursementDateTime,targetdataselection_Quick,run_date,FSPD30,cnt_active_contracts,cnt_active_contracts_Credit Cards,cnt_active_contracts_Credit Lines,cnt_active_contracts_Home Equity Loans,cnt_active_contracts_Other Loans,cnt_active_contracts_Personal Loans,cnt_active_contracts_Real Estate Loans,cnt_active_contracts_Short and Term Loans,cnt_active_contracts_Time Loans,cnt_active_contracts_Trust Loans,max_amt_active_contracts,tot_active_contracts_os_amt,tot_active_contracts_util,Credit Cards_active_contracts_util,Credit Lines_active_contracts_util,Home Equity Loans_active_contracts_util,Other Loans_active_contracts_util,Personal Loans_active_contracts_util,Real Estate Loans_active_contracts_util,Short and Term Loans_active_contracts_util,Time Loans_active_contracts_util,Trust Loans_active_contracts_util,last_repay_amt_30d,highest_latest_repay_method_30d,last_repay_amt_60d,highest_latest_repay_method_60d,last_repay_amt_90d,highest_latest_repay_method_90d,last_repay_amt,highest_latest_repay_method,max_age_active_contracts_snapshot,max_age_all_contracts_snapshot,days_since_last_inquiry,days_since_last_grant,days_since_last_closed,days_since_last_repay,days_since_last_reject,days_since_last_renounce,Credit Cards_granted_contracts_cnt_6M,Credit Lines_granted_contracts_cnt_6M,Other Loans_granted_contracts_cnt_6M,Personal Loans_granted_contracts_cnt_6M,Real Estate Loans_granted_contracts_cnt_6M,Short and Term Loans_granted_contracts_cnt_6M,Time Loans_granted_contracts_cnt_6M,Trust Loans_granted_contracts_cnt_6M,Credit Cards_granted_contracts_cnt_12M,Credit Lines_granted_contracts_cnt_12M,Home Equity Loans_granted_contracts_cnt_12M,Other Loans_granted_contracts_cnt_12M,Personal Loans_granted_contracts_cnt_12M,Real Estate Loans_granted_contracts_cnt_12M,Short and Term Loans_granted_contracts_cnt_12M,Time Loans_granted_contracts_cnt_12M,Trust Loans_granted_contracts_cnt_12M,Credit Cards_granted_contracts_cnt_24M,Credit Lines_granted_contracts_cnt_24M,Home Equity Loans_granted_contracts_cnt_24M,Other Loans_granted_contracts_cnt_24M,Personal Loans_granted_contracts_cnt_24M,Real Estate Loans_granted_contracts_cnt_24M,Short and Term Loans_granted_contracts_cnt_24M,Time Loans_granted_contracts_cnt_24M,Trust Loans_granted_contracts_cnt_24M,granted_contracts_cnt_6M,granted_contracts_cnt_12M,granted_contracts_cnt_24M,Credit Cards_granted_contracts_amt_6M,Credit Lines_granted_contracts_amt_6M,Other Loans_granted_contracts_amt_6M,Personal Loans_granted_contracts_amt_6M,Real Estate Loans_granted_contracts_amt_6M,Short and Term Loans_granted_contracts_amt_6M,Time Loans_granted_contracts_amt_6M,Trust Loans_granted_contracts_amt_6M,Credit Cards_granted_contracts_amt_12M,Credit Lines_granted_contracts_amt_12M,Home Equity Loans_granted_contracts_amt_12M,Other Loans_granted_contracts_amt_12M,Personal Loans_granted_contracts_amt_12M,Real Estate Loans_granted_contracts_amt_12M,Short and Term Loans_granted_contracts_amt_12M,Time Loans_granted_contracts_amt_12M,Trust Loans_granted_contracts_amt_12M,Credit Cards_granted_contracts_amt_24M,Credit Lines_granted_contracts_amt_24M,Home Equity Loans_granted_contracts_amt_24M,Other Loans_granted_contracts_amt_24M,Personal Loans_granted_contracts_amt_24M,Real Estate Loans_granted_contracts_amt_24M,Short and Term Loans_granted_contracts_amt_24M,Time Loans_granted_contracts_amt_24M,Trust Loans_granted_contracts_amt_24M,tot_granted_contracts_amt_6M,tot_granted_contracts_amt_12M,tot_granted_contracts_amt_24M,avg_amt_granted_12M,min_amt_granted_12M,max_amt_granted_12M,avg_amt_granted_24M,min_amt_granted_24M,max_amt_granted_24M,avg_amt_granted_6M,min_amt_granted_6M,max_amt_granted_6M,med_days_bw_contracts_12m,avg_days_bw_contracts_12m,cnt_foreclosed_contracts_6M,cnt_foreclosed_contracts_12M,cnt_foreclosed_contracts_24M,cnt_writeoff_ever,vel_contract_granted_cnt_3on12,vel_contract_granted_cnt_6on12,vel_contract_granted_cnt_12on24,vel_contract_granted_amt_3on12,vel_contract_granted_amt_6on12,vel_contract_granted_amt_12on24,vel_contract_closed_amt_3on12,vel_contract_closed_amt_6on12,vel_contract_closed_amt_12on24,avg_credit_limit_12M,min_credit_limit_12M,max_credit_limit_12M,avg_financed_amt_12M,min_financed_amt_12M,max_financed_amt_12M,ratio_closed_over_new_granted_cnt_6M,ratio_closed_over_new_granted_cnt_12M,ratio_closed_over_new_granted_cnt_24M,ratio_closed_over_new_granted_amt_6M,ratio_closed_over_new_granted_amt_12M,ratio_closed_over_new_granted_amt_24M,min_ratio_charged_on_sanctioned_6M,max_ratio_charged_on_sanctioned_6M,avg_ratio_charged_on_sanctioned_6M,min_ratio_charged_on_sanctioned_12M,max_ratio_charged_on_sanctioned_12M,avg_ratio_charged_on_sanctioned_12M,min_ratio_charged_on_sanctioned_24M,max_ratio_charged_on_sanctioned_24M,avg_ratio_charged_on_sanctioned_24M,min_no_of_installments_6M,max_no_of_installments_6M,avg_no_of_installments_6M,min_no_of_installments_12M,max_no_of_installments_12M,avg_no_of_installments_12M,min_no_of_installments_24M,max_no_of_installments_24M,avg_no_of_installments_24M,cnt_nongranted_contracts_3M,amt_nongranted_contracts_3M,vel_contract_nongranted_cnt_3on12,vel_contract_nongranted_cnt_6on12,vel_contract_nongranted_cnt_12on24,vel_contract_nongranted_amt_3on12,vel_contract_nongranted_amt_6on12,vel_contract_nongranted_amt_12on24,ratio_coborrow_contracts_cnt_24M,ratio_coborrow_contracts_amt_24M,CreditMaxOverdueDays,CreditAvgCreditLimit,accountsOverduePct,NonInstAvgCreditLimit,ScoreRange
0,dd86719c-bbde-4248-af70-3a33eae3856c,1883006,2023-02-02 10:10:00,Train_Validation,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,0.0,None
1,8175b2dd-fe45-4a23-9967-e90a902842e7,2037365,2023-05-13 19:24:43,Train_Validation,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,0.0,None
2,f051fe3f-0bc3-43e8-8f8c-0cc11e315ca2,2206204,2024-07-25 13:42:11,July,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,0.0,None
3,bed596a7-06d4-4515-a19a-dbd33b456831,1939386,2023-03-12 08:46:24,Train_Validation,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,0.0,None
4,5fdcb2e1-43af-45ec-87ec-3a417622f808,1910585,2023-02-24 11:31:41,Train_Validation,NaT,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0.0,NaN,0.0,None

In [165]:
def replace_spaces_in_columns(df):
    # Replace spaces with underscores in column names
    df.columns = df.columns.str.replace(' ', '_')
    return df

In [166]:
Master_table = replace_spaces_in_columns(Master_table)

In [167]:
print(f"The shape of the Master_table is:\t{Master_table.shape}")
Master_table = Master_table.drop_duplicates(keep='first')
print(f"The shape of the Master_table after drop duplicate is:\t{Master_table.shape}")

The shape of the Master_table is:	(34895, 171)
The shape of the Master_table after drop duplicate is:	(34895, 171)

### Save Master Table to local path

In [168]:
Master_table.to_csv(f"{LOCALPATH}CIC_Feature_Master_table.csv", index = False)

### Save Master table to cloud path

In [169]:
filename = 'CIC_Feature_Master_table'
bucket_name = BUCKET_NAME
new_filename = f"{CURRENT_DATE}_{MODELNAME}_{PRODUCT_TYPE}{VERSIONNAME}_{filename}.csv"
print(new_filename)
destination_blob_name = f"{CLOUDPATH}/{new_filename}"
save_df_to_gcs(Master_table, bucket_name, destination_blob_name)

20250204_Alpha_SIL_Quick1_0_CIC_Feature_Master_table.csv